header {
  font-family: "微软雅黑";
}
header #header .navbar.first-bar {
  margin-bottom: 0px;
  background-color: #98679E;
}
header #header .navbar.first-bar .navbar-header {
  margin-left: 20%;
}
header #header .navbar.first-bar .navbar-header #head-logo img {
  width: 19%;
  padding-top: 3%;
  padding-bottom: 3%;
}
header #header .navbar.first-bar .navbar-header #head-logo .brand {
  color: white;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
}
header #header .navbar.navbar-default {
  border-radius: 0px;
}
header #header .navbar.navbar-default .nav.navbar-nav {
  float: left;
  margin-left: 20%;
}
header #header .navbar.navbar-default .nav.navbar-nav.search {
  float: right;
  margin-right: 10%;
  margin-left: 0%;
}
header #header .navbar.navbar-default .nav.navbar-nav.search #search {
  padding-top: 0.6em;
}
header #header .navbar.navbar-default .nav.navbar-nav.search #search input {
  border-radius: 0px;
}
header #header .navbar.navbar-default .nav.navbar-nav.search #search_btn button {
  height: 34px;
  margin-top: 0.6em;
  border-radius: 0px;
}
* {
  margin: 0;
  padding: 0;
}
html,
body,
#wrap {
  height: 100%;
}
body > #wrap {
  height: auto;
  min-height: 81%;
}
#main-container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 70px;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  display: inline-block;
}
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
#footer {
  font-family: "微软雅黑";
  background-color: #8e8e8e;
}
#footer .container .navbar-footer #footer-navbar-logo {
  padding-top: 35px;
  padding-bottom: 35px;
  float: left;
}
#footer .container #footer-nav {
  float: left;
}
#footer .container #footer-nav li {
  height: 137px;
  float: left;
  list-style-type: none;
  padding-top: 23%;
}
#footer .container #footer-nav li a {
  padding-top: 56.5px;
  padding-right: 4px;
  padding-bottom: 56.5px;
  padding-left: 4px;
  text-align: center;
  color: white;
}
#footer .container #footer-brand {
  float: right;
  color: white;
  padding-top: 4%;
}
#container {
  margin: 0 auto;
  display: block;
}
#container #login {
  font-family: "微软雅黑";
  padding-top: 5%;
}
#container #login .ui.segment.form {
  padding: 0em;
}
#container #login .ui.segment.form .nav-tabs {
  border-bottom: 0px;
}
#container #login .ui.segment.form .nav-tabs li {
  width: 50%;
  text-align: center;
  background-color: #d8d8d8;
}
#container #login .ui.segment.form .nav-tabs li .active {
  background-color: #FFFFFF;
}
#container #login .ui.segment.form .nav-tabs li a {
  font-size: 18px;
  color: #000000;
}
#container #login .ui.segment.form .nav-tabs li a:hover {
  background-color: white;
}
#container #login .ui.segment.form #login_form {
  padding: 2em;
}
#container #login .ui.segment.form #login_form #captcha_form {
  width: 40%;
  float: left;
}
#container #login .ui.segment.form #login_form #captcha_form input {
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  height: 40px;
}
#container #login .ui.segment.form #login_form #captcha_img {
  margin-left: 3%;
  height: 40px;
}
#container #login .ui.segment.form #login_form #login_button {
  width: 100%;
  height: 40px;
  border-radius: 0.3em;
  background-color: #8c5d90;
  color: white;
  font-size: 1.2em;
}
#container #login .ui.segment.form #login_form #options .findpwd {
  color: #000000;
}
#container #login .ui.segment.form #login_form #options .regbtn {
  float: right;
  color: #61c2f2;
}
#container .right-word {
  padding-left: 15%;
  margin: 0 auto;
  margin-top: 5%;
}
#container .right-word h2 {
  margin-top: 0;
  font-family: "微软雅黑";
  color: #8c5d90;
}
#container .right-word img {
  margin: 0 auto;
}
#container .right-word p {
  padding-left: 8%;
  color: gray;
  margin-top: -2%;
}
#container #register {
  font-family: "微软雅黑";
  padding-top: 5%;
}
#container #register .ui.segment.form {
  padding: 0em;
}
#container #register .ui.segment.form .nav-tabs {
  border-bottom: 0px;
}
#container #register .ui.segment.form .nav-tabs li {
  width: 50%;
  text-align: center;
  background-color: #d8d8d8;
}
#container #register .ui.segment.form .nav-tabs li .active {
  background-color: #FFFFFF;
}
#container #register .ui.segment.form .nav-tabs li a {
  font-size: 18px;
  color: #000000;
}
#container #register .ui.segment.form .nav-tabs li a:hover {
  background-color: white;
}
#container #register .ui.segment.form #reg_form {
  padding: 2em;
}
#container #register .ui.segment.form #reg_form #captcha_form {
  width: 40%;
  float: left;
}
#container #register .ui.segment.form #reg_form #captcha_form input {
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  height: 40px;
}
#container #register .ui.segment.form #reg_form #captcha_img {
  margin-left: 3%;
  height: 40px;
}
#container #register .ui.segment.form #reg_form #regist_button {
  width: 100%;
  height: 40px;
  border-radius: 0.3em;
  background-color: #8c5d90;
  color: white;
  font-size: 1.2em;
}
#container #register .ui.segment.form #reg_form #options {
  float: right;
}
#container {
  margin: 0 auto;
  display: block;
}
#container #information {
  font-family: "微软雅黑";
  padding-top: 5%;
}
#container #information h2 {
  color: #8c5d90;
  font-family: "微软雅黑";
  text-align: center;
  padding-top: 20px;
  margin-bottom: 0px;
}
#container #information .ui.segment.form {
  padding: 0em;
}
#container #information .ui.segment.form .nav-tabs {
  border-bottom: 0px;
}
#container #information .ui.segment.form .nav-tabs li {
  width: 50%;
  text-align: center;
  background-color: #d8d8d8;
}
#container #information .ui.segment.form .nav-tabs li .active {
  background-color: #FFFFFF;
}
#container #information .ui.segment.form .nav-tabs li a {
  font-size: 18px;
  color: #000000;
}
#container #information .ui.segment.form .nav-tabs li a:hover {
  background-color: white;
}
#container #information .ui.segment.form #info_form {
  padding: 2em;
}
#container #information .ui.segment.form #info_form #captcha_form {
  width: 40%;
  float: left;
}
#container #information .ui.segment.form #info_form #captcha_form input {
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  height: 40px;
}
#container #information .ui.segment.form #info_form #enter_button {
  width: 100%;
  height: 40px;
  border-radius: 0.3em;
  background-color: #8c5d90;
  color: white;
  font-size: 1.2em;
  margin-bottom: 20px;
}
#container {
  font-family: "微软雅黑";
}
#container #findpwd #passport-finder #progress ul li {
  list-style-type: none;
  position: relative;
  float: left;
  background-color: #e4e4e4;
  width: 30%;
  line-height: 30px;
  text-align: center;
}
#container #findpwd #passport-finder #progress ul li em {
  background-image: url(/static/image/icon/arrow_progress.png);
  width: 32px;
  height: 30px;
  position: absolute;
  left: -16px;
}
#container #findpwd #passport-finder #progress ul li.current {
  background-color: #8c5d90;
  color: white;
}
#container #findpwd #passport-finder #verify {
  width: 50%;
  margin-left: 11%;
  margin-top: 25px;
}
#container #findpwd #passport-finder #verify #findpwd-form {
  padding-top: 20%;
}
#container #findpwd #finish {
  margin: 0 auto;
  margin-top: 20%;
  text-align: center;
  font-size: 1.5em;
}
#container {
  margin: 0 auto;
  display: block;
}
#container #regenter {
  font-family: "微软雅黑";
  padding-top: 5%;
}
#container #regenter h2 {
  color: #8c5d90;
  font-family: "微软雅黑";
  text-align: center;
  padding-top: 20px;
  margin-bottom: 0px;
}
#container #regenter .ui.segment.form {
  padding: 0em;
}
#container #regenter .ui.segment.form .nav-tabs {
  border-bottom: 0px;
}
#container #regenter .ui.segment.form .nav-tabs li {
  width: 50%;
  text-align: center;
  background-color: #d8d8d8;
}
#container #regenter .ui.segment.form .nav-tabs li .active {
  background-color: #FFFFFF;
}
#container #regenter .ui.segment.form .nav-tabs li a {
  font-size: 18px;
  color: #000000;
}
#container #regenter .ui.segment.form .nav-tabs li a:hover {
  background-color: white;
}
#container #regenter .ui.segment.form #contact_form {
  padding: 2em;
}
#container #regenter .ui.segment.form #contact_form p {
  text-align: right;
}
#container #regenter .ui.segment.form #contact_form #enter_button {
  width: 49%;
  height: 40px;
  border-radius: 0.3em;
  background-color: #8c5d90;
  color: white;
  font-size: 1.2em;
  margin-bottom: 20px;
}
#container #feedback {
  width: 70%;
  border: solid;
  border-radius: 1em;
  border-color: purple;
  margin: 0 auto;
  margin-top: 10%;
}
#container #feedback #feedback-form {
  padding: 3em;
}
#container #feedback button {
  width: 100%;
  background-color: #B08BB1;
  border-color: #800080;
}
.input-group-addon {
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}
