Django==2.2.24
Pillow==2.8.1
argparse==1.2.1
colorama==0.2.5
html5lib==0.999
requests==2.2.1
six==1.5.2
ssh-import-id==3.21
urllib3==1.7.1
wheezy.captcha==0.1.44
wsgiref==0.1.2
pymongo==2.7.2
mongoengine==0.9.0
