<div class="modal" ui-if='addresume' ui-state='addresume'>
  <div class="modal-backdrop in"></div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" 
                ui-turn-off="addresume">&times;</button>
        <h4 class="modal-title">您的简历信息不完善</h4>
      </div>
      <div class="modal-body">
        <p>是否跳转到简历编辑页面？</p>
      </div>
      <div class="modal-footer">
        <a ui-turn-off="addresume" class="btn btn-primary" ng-href="/mobile/home/editresume/[[position_id]]">确认</a>
        <button ui-turn-off="addresume" class="btn btn-default">取消</button>
      </div>
    </div>
  </div>
</div>
