<div ui-content-for="sidebar-left-ui">
    <h1 class="app-name">犀牛·帮你找实习</h1>

    <div class="scrollable">
    <div class="scrollable-content">
      <div class="list-group" toggle="off" bubble target="mainSidebar">
        <a class="list-group-item" href="/mobile/login">登陆 <i class="fa fa-chevron-right pull-right"></i></a>
        <a class="list-group-item" href="/mobile/register">注册 <i class="fa fa-chevron-right pull-right"></i></a>
        <a class="list-group-item" href="/mobile/home">个人中心 <i class="fa fa-chevron-right pull-right"></i></a>
        <a class="list-group-item" ui-toggle='uiSidebarLeft'>返回 <i class="fa fa-chevron-right pull-right"></i></a>
      </div>

    </div>
    </div>
</div>