
    <div ui-content-for="sidebar-left-ui" ng-controller="MB_LeftSidebarCtrl">
        <h1 class="app-name">犀牛·帮你找实习</h1>
        
        <div class="scrollable">
        <div class="scrollable-content">
          <div class="list-group" toggle="off" bubble target="mainSidebar">

            <div ng-show="!is_login">

                <a class="list-group-item" href="/mobile/login">登录 <i class="fa fa-chevron-right pull-right"></i></a>
                <a class="list-group-item" href="/mobile/register">注册 <i class="fa fa-chevron-right pull-right"></i></a>
                <a class="list-group-item" href="/mobile/home">个人中心 <i class="fa fa-chevron-right pull-right"></i></a>

            </div>

            <div ng-show="is_login">
                <a class="list-group-item" href="/mobile/home">个人中心 <i class="fa fa-chevron-right pull-right"></i></a>
                <a class="list-group-item" href="/mobile/company/collect">收藏的公司 <i class="fa fa-chevron-right pull-right"></i></a>
                <a class="list-group-item" href="/mobile/position/collect">收藏的职位 <i class="fa fa-chevron-right pull-right"></i></a>
                <a class="list-group-item" href="/mobile/home/mypost">投递的职位 <i class="fa fa-chevron-right pull-right"></i></a>
                <a class="list-group-item" href="/mobile/home/editresume">简历修改 <i class="fa fa-chevron-right pull-right"></i></a>
                <a class="list-group-item" ng-click="logout()">退出登录 <i class="fa fa-chevron-right pull-right"></i></a>
            </div>

            

            <a class="list-group-item" ui-turn-off='uiSidebarLeft'>返回 <i class="fa fa-chevron-right pull-right"></i></a>
          </div>

        </div>
        </div>
    </div>
