//genernal
@std-purple :   #966497;
@lit-purple :   rgba(143, 78, 150, 0.08);
@dark-gray  :   #707070;
@mid-gray   :   #b5b5b5;
@white-gray :   #e1e0e2;
@lit-gray   :   #dcdcdc;
@lit-purple :   #d4abd3;

@padding-hor:   20px;
@panel-padding-hor  :   40px;

@btn-border :   1px;
@btn-radius :   5px;
@btn-height     : 36px;
@btn-font-size  : 18px;


@input-height   : 36px;
@input-left-mag : 16px;
@input-font-size  : 16px;


//login.html
@login-part2:   170px;
@login-part3:   20px;
@login-logo-size:   180px;
@login-btn-mag :   18px;
@login-logo-top:    58px;
@login-header-top:  12px;

//info.html
@info-input:    120px; 
@info-enter:    130px;
@info-input-mag:  20px;

//complist.html
@cl-header-hgt  :   50px;

@cl-require-hgt:   40px;
@cl-require-fsize:  16px;
@cl-require-boxpd:  14px;

@cl-search-hgt:    42px;
@cl-require-btn-rad :   8px;

@cl-nav-hgt:        50px;  
@cl-nav-fsize:        20px;   

@cl-input-radius  :  10px;
@cl-padding-hor:    10px;
@cl-padding-ver:    5px;

@cl-header-fsize:    23px;
@cl-header-logo-mgn:    10px;

@cl-listbox-hgt:    114px;
@cl-comp-img-size:  94px;
@cl-comp-name-fsize:    17px;
@cl-comp-desc-fsize:    11px;
@cl-comp-req-fsize:    12px;
@cl-comp-tag-radius:    9px;
@cl-comp-tag-mag:    4px;
@cl-comp-reqt-fsize:    11px;
@cl-comp-desct-fsize:    11px;
@cl-comp-bent-fsize:    11px;
@cl-come-lineh: 18px;

//compfilter.html
@filter-each-line : 3;
@fil-content-top    :   20px;
@fil-box-top:   10px;
@fil-header-bottom :   5px;
@fil-header-fsize:  18px;
@filter-fsize   : 15px;

//posifilter.html

@detail-bottom :   8px;

//gengeral

html
{
    height: 100%;
    display: block;
    margin: 0;
    padding: 0;
}
body
{
    //min-width: 320px;
    font-weight: normal;
    font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
    overflow-x: hidden;
}
.scrollable-content
{
    position: absolute;
    padding-bottom: 50px;
}
.nav-bar-absolute-top
{
    background: url('/static/image/icon/3d-purple.png');
    background-repeat: repeat-x;
}
@media (min-width: 992px)
{
    .has-sidebar-left .app, .sidebar-left-in .app {
        margin-left: 250px;
        left: 0;
    }
}
.sidebar-left-in .app
{
    transform: translate(250px,0) !important;
    -webkit-transform: translate(250px,0) !important;
}
.sidebar-left, .sidebar-right {
    width: 250px !important;
}
.navbar-app
{
    min-height: 40px !important;
    width: 100%;
}
.no-bar-top
{
    top: 0 !important;
}
.app-content-loading {
  text-align: center;
  height: 100%;
  z-index: 10;
  width: 100%;
  background: rgba(255,255,255,0.9);
  position: relative;
}
.loading-spinner {
  position: absolute;
  font-size: 50px;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
}
.sidebar-toggle
{
    color: white !important; 
    font-size: 21px !important;
}
.no-margin
{
    margin: 0 0 0 0 !important;
}
#main-container
{
    height: 100%;
    display: block;
}
.absolute-center
{

  margin: auto;  
  position: absolute;  
  top: 0; left: 0; bottom: 0; right: 0;  

}
.gray-mask
{
    color: @dark-gray !important;
}
.main-content
{
    display: block;
    padding-bottom: @cl-nav-hgt;
    height: 100%;
    background-color: white;

}

.purple-border
{
    border: @btn-border solid @std-purple;
}
.mid-gray-border
{
    border: @btn-border solid @mid-gray;
}
.lit-gray-border
{
    border: @btn-border solid @lit-gray;
}
.panel-group-top
{
    height: @input-height ;
    border-radius:     @btn-radius;
    background:                 white;
    width: 100%;
    display: block;
}
.login-input
{
    margin-top: 15px;
}

.panel-group-mid
{
    height: @input-height ;
    background: white;
    border-radius:     @btn-radius;
    width: 100%;
    display: block;
}
.panel-select
{
    border: 0;
    border-radius: inherit;
    width: 75%;
    height: 100%;
    font-size: 18px;
    display: inline-block;
    background-color: white;
}
.panel-select select
{
    border: 0;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    font-size: 18px;
    display: inline-block;
    background-color: white;
}

.panel-group-bot
{
    height: @input-height ;
    border-radius:     @btn-radius;
    width: 100%;
    display: block;
    background-color: white;
    position: relative;
}

.panel-radius
{
    width: 100%;
    height: @btn-height;
    line-height: @btn-height;
    border: @btn-border solid @std-purple;
    background:                 white;
    color:                 @std-purple;
    font-size:      @btn-font-size;
    border-radius: @btn-radius;
    text-align: center;
}

.login-btn
{
    margin-bottom: @login-btn-mag;
}

.padding
{
    width: 100%;
    padding: 0 @padding-hor 0 @padding-hor;
}

.panel-list
{
    width: 100%;
    padding: 0 @panel-padding-hor 0 @panel-padding-hor;
}

a
{
    display: inline-block;
    text-decoration: none;
    color: black;
}
a:hover
{
    text-decoration: none;
    color: black;
}

.panel-group-bot select
{
    border: 0;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    background-color: white;
}

.panel-elem
{
    display: block;
    float: left;    
    position: relative;
    height: 100%;
    padding: 0 5px 0 5px;
    border: 0;
    margin: 0;
    font-size: @input-font-size ;
    border-radius: inherit;
}
.full-width-input
{
    width: 92%;
    margin-left: 8%;
}

.elem-width-4
{
    width: 25%;
}

.elem-width-3
{
    width: 33%;
}
.elem-width-32
{
    width: 66%;
}

.elem-width-43
{
    width: 75% !important;
}
.elem-width-2
{
    width: 50%;
}
.elem-width-full
{
    width: 100%;
}

//login.html
.input-notice
{
    float: right;
    font-size: 20px;
    line-height: inherit;
    position: absolute;
    right: 48px;
    color: @std-purple;
    display: none;
    margin-top: 3px;
}
.notice-bar
{
    height: 50px;
    width: 100%;
    background-color: rgba(255, 10, 10, 0.9);
    z-index: 10000000;
    position: fixed;
    top: 0;
    color: white;
    font-size: 19px;
    line-height: 50px;
    text-align: center;
    display: none;
}
#login .login-notice
{
    color: @std-purple;
    font-size: 14px;
    margin-top: 6px;
}
#captcha_img
{    
    height: 28px;
    position: absolute;
    right: 10px;
    bottom: 3px;
}
#captcha-pass
{
    right: 92px;
}

.panel-title
{
    color: @mid-gray;
    text-align: left;
    line-height: @input-height;
    margin: 0 0 0 0;
    position: relative;
    left: 0;
}

.login-header
{
    height: @login-part2;
    text-align: center;
    margin-bottom: 5px;
}
.login-header .logo
{
    width:@login-logo-size;
    margin-top: @login-logo-top;
}
.login-header .name
{
    margin-top: @login-header-top;
    text-align: center;
    font-size: 20pt;
}

.input-btn-part
{
    position: relative;
    margin-bottom: @login-part3;
}

//info.html

.info-input-content
{
    margin-top: @info-input;
}

.info-input
{
    margin-bottom: @info-input-mag;
}

.info-enter
{
    margin-top: @info-enter;
}


//complist.html

.header-bar
{
    display: block;
    height: @cl-header-hgt;
    //background: @std-purple;
    position: relative;
    z-index: 20;
    overflow: auto;
    background: url('/static/image/icon/3d-purple.png') ;
    background-repeat: repeat-x;
}
.header-bar .header
{
    width: 50%;
    font-weight: 500;
    text-align: center;
    height: @cl-header-hgt;
    line-height:@cl-header-hgt;
    color: white;
    font-size: 20px;
    overflow: hidden;
    margin: auto;  
    position: relative;  
    left:0; right: 0; 
}
.header-bar .logo
{
    float: left;
    font-weight: 500;
    position: absolute;
    line-height: @cl-header-hgt - @cl-header-logo-mgn *2;
    height: @cl-header-hgt - @cl-header-logo-mgn *2;
    margin: @cl-header-logo-mgn @cl-header-logo-mgn @cl-header-logo-mgn @cl-header-logo-mgn + 5px ;
}
.header-bar .right-btn
{
    right: 0px;
    font-size: 24px;
    position: absolute;
    font-weight: 500;
    color: white;
    line-height: 30px;
    height: @cl-header-hgt - @cl-header-logo-mgn *2;
    margin: @cl-header-logo-mgn @cl-header-logo-mgn + 5px @cl-header-logo-mgn @cl-header-logo-mgn  ;
}

.require-bar
{
    //overflow: hidden;
    display: block;
    height: @cl-require-hgt;
    position: relative;
}
.require-bar .require-box
{
    font-size: 14px;
    text-align: center;
    height: @cl-require-hgt;;
    line-height: @cl-require-hgt;
    display: block;
    float: left;
    border-top: 1px solid @lit-gray;
    border-right: 1px solid @lit-gray;
    border-bottom: 1px solid @lit-gray;
    color: black;
    position: relative;
    //background: url("/static/image/icon/delete-01.png") no-repeat right 4px center;
    //background-repeat: no-repeat;
    //background-size: 16px;
    //margin-right: -1px;
}
.require-bar .require-box:first-child
{
    font-size: 14px;
    text-align: center;
    height: @cl-require-hgt;;
    line-height: @cl-require-hgt;
    display: block;
    float: left;
    border: 1px solid @lit-gray;
    color: black;
    position: relative;
}
.require-bar .requires .require-box .require-delete
{
    float: right;
    right: 3px;
    width: 15px;
    top: 15px;
    position: absolute;
}
.require-bar .requires
{
    position: absolute;
    display: block;
    width: 100%;
    height: @cl-require-hgt;
    background: white;
    overflow: hidden;
}
.require-btn
{
    height: @cl-require-hgt;
    width: 50px;
    //margin: 5px 5px 5px 0 ;
    position: absolute;
    //border-radius: @cl-require-btn-rad ;
    //width: 22%;
    background: url("/static/image/icon/pencil-01.png") no-repeat center;
    background-size: 20px;
    padding: 0;
    right: 0;
    border: 1px solid @lit-gray;
    color: @mid-gray;
    text-align: center;
    line-height: @cl-require-hgt - 11px;
}

.search-bar
{
    display: block;
    height: @cl-search-hgt;
    background: @mid-gray;
    position: relative;
    padding: @cl-padding-ver @cl-padding-hor @cl-padding-ver @cl-padding-hor ;
}

.search-input
{
    border: 0px solid;
    border-radius: @cl-input-radius;
    height: @cl-search-hgt - @cl-padding-ver * 2;
}
.search-btn
{
    position: absolute;
    right: 17px;
    top: @cl-padding-ver;
    font-size: 17px;
    color: @mid-gray;
    line-height: 33px;
}
.search-btn:hover
{
    text-decoration: none;
    color: @mid-gray;
}
.search-btn i
{
    margin-right: 2px;
}
/*

@cl-comp-img-size:  80px;
@cl-comp-name-fsize:    16px;
@cl-comp-desc-fsize:    10px;
@cl-comp-req-fsize:    12px;
@cl-comp-reqt-fsize:    9px;
@cl-comp-desct-fsize:    9px;
@cl-comp-bent-fsize:    8px;
*/
.load-more-btn
{
    height: 36px;
    background-color: @lit-gray;
    width: 100%;
    text-align: center;
    line-height: 36px;
    font-size: 16px;
}
.no-more-btn
{
    height: 30px;
    background-color: @lit-gray;
    width: 100%;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
}
.comp-list
{
    background-color: @lit-gray;
    padding-bottom: 1px;
    overflow: auto;
}
.comp-listbox
{
    display: block;
    min-height: @cl-listbox-hgt;
    margin-bottom: 1px;
    background-color: white;
    overflow: hidden;
    position: relative;
    padding: (@cl-listbox-hgt - @cl-comp-img-size)/2 
             0
            (@cl-listbox-hgt - @cl-comp-img-size - 2px)/2
            (@cl-listbox-hgt - @cl-comp-img-size)/2;
}
.comp-list a
{
    display: block;
    text-decoration: none;
    color: black;
}
.comp-title-img
{
    position: absolute;
    float: left;
    width: @cl-comp-img-size;
    height: @cl-comp-img-size;
    margin-right: (@cl-listbox-hgt - @cl-comp-img-size)/2 ;
}
.comp-finance-img
{
    position: relative;
    float: left;
    border-radius: 5px;
    border: @mid-gray solid 1px;
    width: @cl-comp-img-size;
    height: @cl-comp-img-size;
    margin-right: (@cl-listbox-hgt - @cl-comp-img-size)/2 ;
}
.comp-prev-img
{
    position: absolute;
    float: left;
    border-radius: 5px;
    border: @mid-gray solid 1px;
    width: @cl-comp-img-size;
    height: @cl-comp-img-size;
    margin-right: (@cl-listbox-hgt - @cl-comp-img-size)/2 ;
}
@media (max-width: 400px)
{
    .comp-listbox .comp-auth
    {
        font-size: 11px;
        position: absolute;
        max-width: 80px;
        top: 10px;
        right: 6px;
        color: #8F4E96;
    }
}
.comp-listbox .comp-auth
{/*
    float: right;
    margin-top:(@cl-listbox-hgt - @cl-comp-img-size)/2;
    margin-right: (@cl-listbox-hgt - @cl-comp-img-size);
    font-size: @cl-comp-desc-fsize;*/
    font-size: 11px;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #8F4E96;
}
.comp-listbox .comp-name
{
    line-height: @cl-come-lineh;
    font-size: @cl-comp-name-fsize;
    overflow: hidden;
}
.comp-listbox .comp-desc
{
    line-height: @cl-come-lineh;
    font-size: @cl-comp-desc-fsize;
    color: @mid-gray;
    overflow: hidden;
}
.comp-req-list
{   
    line-height: @cl-come-lineh+2px;
    overflow: hidden;
}
.comp-req-title
{
    color:   @std-purple;
    font-size: @cl-comp-req-fsize;
}

.comp-desc-list{
    line-height: @cl-come-lineh+2px;
    overflow: hidden;
}
.comp-benefit-list{
    line-height: @cl-come-lineh;
    overflow: hidden;
}
.comp-desc-tag
{
    padding: 0px 4px 0px 4px;
    border-radius: @cl-comp-tag-radius;
    color:   @dark-gray;
    border: 1px solid @std-purple;
    font-size: @cl-comp-desct-fsize;
    margin-bottom: 1px;
    line-height: @cl-comp-desct-fsize + 2px;
    display: -webkit-inline-box;
}
.comp-benefit-tag
{
    padding: 0px 4px 0px 4px;
    border-radius: 3px;
    color: @dark-gray;
    border: 1px solid @std-purple;
    font-size: @cl-comp-bent-fsize;
    margin-right: @cl-comp-tag-mag;
    margin-bottom: 1px;
    line-height: @cl-comp-bent-fsize + 2px;
    display: -webkit-inline-box;
}
.comp-req-tag
{
    padding: 0px 4px 0px 4px;
    border-radius: @cl-comp-tag-radius;
    background-color: @std-purple;
    border: 1px solid @std-purple;
    color: white;
    font-size: @cl-comp-reqt-fsize;
    margin-right: @cl-comp-tag-mag;
    line-height: @cl-comp-reqt-fsize + 2px;
    margin-bottom: 1px;
    display: -webkit-inline-box;
}


.post-time{
    line-height: @cl-come-lineh;
    color: @mid-gray;
    font-size: @cl-comp-bent-fsize;
}
.post-time-corner
{
    line-height: @cl-come-lineh;
    color: @mid-gray;
    font-size: @cl-comp-bent-fsize;
}
.nav-bar
{   
    margin: 0;padding: 0;
    border-bottom: 0; 
    z-index: 1000;
    box-sizing: border-box;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    box-sizing: border-box;
    display: block;
    height: @cl-nav-hgt;
    position: fixed !important;
    width: 100%;
    bottom: 0; left: 0;
    border: 1px solid @lit-gray;
    background: white;
}
.nav-bar-3
{
    display: block;
    text-decoration: none;
    color: black;
    width: 33.33%;
    float: left;
    height: @cl-nav-hgt;
    line-height: @cl-nav-hgt;
    font-size: @cl-nav-fsize;
    text-align: center;
    vertical-align: middle;
    border-left: 1px solid @lit-gray;
    border-top: 0;
    color: black;
    background: url('/static/image/icon/3d-gray.png') !important;
    background-repeat: repeat-x;
}
.nav-bar-3:first-child
{
    border: 0;
}
.nav-bar-2
{
    display: block;
    width: 50%;
    float: left;
    height: @cl-nav-hgt;
    line-height: @cl-nav-hgt;
    font-size: @cl-nav-fsize;
    text-align: center;
    vertical-align: middle;
    border-left: 1px solid @lit-gray;
    border-top: 0;
    color: black;
    background: url('/static/image/icon/3d-gray.png') !important;
    background-repeat: repeat-x;
}
.nav-bar-2:first-child
{
    border: 0;
}
.nav-bar-1
{
    display: block;
    width: 100%;
    float: left;
    height: @cl-nav-hgt;
    line-height: @cl-nav-hgt;
    font-size: @cl-nav-fsize;
    text-align: center;
    vertical-align: middle;
    border: 1px solid @lit-gray;
    border-top: 0;
    color: black;
}
.selected
{
    background: @std-purple !important;
    border: 0;
    color: white !important;
}
.bg-3d-purple
{
    background: url('/static/image/icon/3d-purple.png') !important;
    background-repeat: repeat-x;
    color: white !important;
}

.bg-3d-purple-2
{
    background: url('/static/image/icon/3d-purple.png');
    background-repeat: repeat-x;
    color: white;
}
.bg-3d-gray
{
    background: url('/static/image/icon/3d-gray.png') !important;
    background-repeat: repeat-x;
}
.filter-content
{
//    display: none;
    top : -1000px;
    z-index: 1000;
    width: 100%;
    background: white;
    position: absolute;
}

//compfilter.html

#comp-filter
{
    margin-top : @fil-content-top;
}

.filter-squ
{
    margin-top: @fil-box-top;
    display: block;
    overflow: auto;
}

.filter-squ label
{
    border-radius: 0;
    border-color: @std-purple;
    border-width: @btn-border;
    font-size: @filter-fsize;
    text-wrap:none;
}

.filter-btn
{
    margin-top: @fil-box-top;
    float: left;
    width: 49%;
    margin-right: 2%;
}
.filter-btn-last
{
    margin-top: @fil-box-top;
    float: left;
    width: 49%;
    margin-right: 0 !important;
}

.filter-title
{
    color: @std-purple;
    font-size: @fil-header-fsize;
    margin-bottom: @fil-header-bottom;
}

.filter-elem
{
    float: left;
    //width: (100% / @filter-each-line);
    min-width: (100% / @filter-each-line);
    display: block;
    overflow: hidden;
}
.filter-elem label
{
    padding-left: 3px;
}
.filter-end-line
{
    margin-right: 30%;
}
.filter-single-line
{
    width: 100%;
}
.filter-elem input[type="radio"]
{
    margin-right: 3px;
}
.filter-elem input[type="checkbox"]
{
    margin-right: 3px;
}

.btn-b-pur
{
    color: white;
    background-color: @std-purple;
}


//posifilter.html

.inline-input{
    height: inherit;
    margin: 5px 5px 5px 0 ;
    border-radius: @btn-radius;
    width: 22%;
    background: white;
    border: 1px solid @mid-gray;
}

//id.html
.id-list
{
    height: (@info-input-mag+ @btn-height) *4 + @btn-height;
}

//posidetail.html
.comp-detail
{
    padding-bottom: @detail-bottom;
    background: @lit-gray;
    position: relative;
}

.posi-detail
{
    background: white;
    padding-bottom: 5px;
    margin: 10px 0 0px 0;
}
.posi-detail .detail-name
{
    font-size: 19px;
    line-height: 22px;
}

.comp-map
{
    padding: 8px @padding-hor 8px @padding-hor;
    background-color: white;
    margin-top: 2px;
    color: @dark-gray;
    font-size: 16px;
    position: relative;
}
.comp-map .icon
{
    float: left;
    height: 26px;
    line-height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20px;
    color: @std-purple;
}
.comp-map .icon i
{
    font-size: 26px;
}
.comp-map .addr
{
    margin-left: 22px;
}
.relative-center
{
    margin: auto;
    //position: absolute;
    top: 0;
    bottom: 0;
}
ul
{
    padding: 0;
}
.detail-desc
{
    padding-top: 15px;
    display: block;
    background-color: white;
}
.detail-desc .desc-block
{
    margin-bottom: 15px;
}
.detail-desc .desc-block .member-block
{
    margin-top: 10px;
    position: relative;
    min-height: 160px;
    width: 100%;
    display: inline-block;
    border: 1px solid @mid-gray;
    border-radius: 4px;
    padding: 15px 20px;
}
.detail-desc .desc-block .desc-title
{
    color: black;
    margin-bottom: 10px;
    padding-bottom: 2px;
    font-size: 18px;
    border-bottom: @std-purple solid 1px;
    display: block;
    width: 73px;
}

.posi-condition{
    position: absolute;
    font-size: 10px;
    right: 5px;
    top: 18px;
}
.post-time-corner
{
    line-height: 18px;
    color: @mid-gray;
    font-size: 11px;
    position: absolute;
    top: -1px;
    right: 10px;
}
.posi-condition .posi-condition-elem {
  padding: 1px 1px 1px 1px;
  border-radius: 2px;
  background-color: @std-purple;
  border: 1px solid @std-purple;
  color: white;
  font-size: 10px;
  margin-right: 5px;
  margin-bottom: 4px;
  text-align: center;
}
.comp-info-block
{
    display: block;
    position: relative;
    left: 104px;
    padding-right: 162px;
}

.comp-list-info-block
{
    display: block;
    position: relative;
    left: 104px;
    padding-right: 152px;
}
.comp-more-info
{
    margin: auto;
    position: absolute;
    top: 0; bottom: 0; right: 25px;
    font-size: 14px;
    height: 40px;
    color: @dark-gray;
}
.comp-more-info img
{
    height: 30px;
    margin-left: 1px;
    padding-left: 3px;
    padding-right: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.comp-more-info-arrow
{
    margin: auto;
    position: absolute;
    top: 0; bottom: 0; right: 12px;
    font-size: 16px;
    height: 26px;
    color: @dark-gray;
}

.comp-listbox table .title
{
    overflow: hidden;
    white-space:nowrap;
    word-break: keep-all;
    vertical-align: -webkit-baseline-middle;
}
.comp-listbox table
{
    font-size: 12px;
}
.comp-listbox tr:last-of-type .fi-cond item
{
    display: block;
    margin-bottom: 0;
    //height: 14px;
}
.fi-cond
{
    display: table;
}
.fi-cond title
{
    display: block;
    color: @std-purple;
    font-size: 13px;
}
.fi-cond border
{
    border-top: 1px solid @lit-gray;
    display: -webkit-box;
    width: 123px;
    margin: 1px 0 2px 0;
}
.fi-cond item
{
    //height: 23px;
    margin-bottom: 5px;
    display: block;
}

.comp-full-name
{
    font-size: 16px;
    color: @std-purple;
}

.slash
{
    border-top: 2px solid @lit-gray;
    display: -webkit-box;
    margin: 7px 0 7px 0;
}

.desc-subtitle
{
    color: black;
    height: 125px;
    width: 90px;
    padding-bottom: 10px;
    font-size: 13px;
    float: left;
    text-align: center;
    margin-right: 9px;
}
.desc-img
{
    width: 80px;
    height: 80px;
    float: left;
    border-radius: 40px;
    border: @lit-gray solid 1px;
    margin-right: 8px;
    margin-bottom: 4px;
}
.desc-content
{
    display: -webkit-box;
    color: @dark-gray;
}
.stuff_desc
{
    color: @dark-gray;
    display: -webkit-box;
    border-radius: 3px;
}
.stuff_desc p
{
    vertical-align:middle;
    width: 100%;
    height: 100%;
}

//compposi.html
.comp-posi-list
{
    background-color: @lit-gray;
    padding-bottom: 1px;
}
.comp-posi-block
{
    position: relative;
    background-color: white;
    padding: 6px 0 6px 10px;
    margin-bottom: 2px;
    display: block !important;
}
.comp-posi-title
{
    font-size: 16px;
}
.comp-posi-detail
{
    margin: auto;
    position: absolute;
    top: 0; bottom: 0; right: 15px;
    font-size: 14px;
    height: 14px;
    color: @dark-gray;
}

//mypost.html
.posi-close
{
    float: right;
    position: absolute;
    top: ((@cl-listbox-hgt - @cl-comp-img-size) / 2) ; right:15px;
    font-size: 12px;
}
.hr-solve
{
    float: right;
    position: absolute;
    top: (@cl-listbox-hgt - @cl-comp-img-size)/2 + 16px; right:15px;
    color: @std-purple;
    font-size: 12px;
}

//posicollect.html
.send-resume
{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 48px;
    margin: auto;
    right: 10px;
    text-align: center;
    color: @std-purple;
}
.send-resume .send-resume-logo
{
    width: 25px;
    font-size: 25px;
    margin-bottom: 2px;
}
.send-resume .send-resume-text
{
    font-size: 12px;
    color: @std-purple; 
}

//compcollect.html
.comp-msg-remind
{
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 17px;
    position: absolute;
    right: 0; top: 0;
    z-index: 100;
    background-color: #e66665;
}
.empty-block
{
    z-index: 1000;
    position: fixed;
    height: 102px;
    width: 170px;
    text-align: center;
    top: 0;left: 0;bottom: 0;right: 0;
    margin: auto;
    background: @white-gray;
    padding: 10px 10px 0 10px;
    border-radius: 5px;
    .empty-title
    {
        color: @std-purple;
    }
    .empty-pic
    {
        width: 40px;
    }
}

//infoupdate.html
.info-update
{
    background-color: white;
    height: 100%;
}
.info-block
{
    margin-bottom: 10px;
    padding-top: 15px;
}
.info-block-last
{
    padding-top: 15px;
    padding-bottom: 30px;
}
.info-block-title
{
    color: @std-purple;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 700;
}
.lit-p-bg
{
    background-color: @std-purple;
    color: white;
    border-color: @std-purple;
}
.lit-gray-t-border
{
    border-left: @btn-border solid white;
    border-right: @btn-border solid white;
    border-bottom: @btn-border solid white;
    border-top: @btn-border solid @lit-gray;
}
.lit-gray-b-border
{
    border-left: @btn-border solid white;
    border-right: @btn-border solid white;
    border-top: @btn-border solid white;
    border-bottom: @btn-border solid @lit-gray;
}


//editresume.html
.edit-resume
{
    background-color: @lit-gray;
}
.resume-block-title
{
    color: @std-purple;
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 700;
}
.font-color-g
{
    color: @mid-gray !important;
}
.info-block-tip
{
    color: @dark-gray;
    font-size: 13px;
    margin: 10px 0 10px 0;
    width: 100%;
}
.info-block-textarea
{
    font-size: 16px;
    background-color: white;
    width: 100%;
    overflow-y:visible;
    height: 120px;
    border: 0;
    border-radius: @cl-input-radius;
}

.resume-block-att
{
    font-size: 18px;
    text-decoration: underline;
    font-style: italic;
    margin-bottom: 10px;
    display: block;
}

//uploadresume.html
.upload-header
{
    height: @login-part2;
    text-align: center;
    margin-bottom: 45px;
    display: block;
}
.upload-header .logo
{
    margin-top: @login-logo-top;
    display: block;

    margin-bottom: 15px;
}
.upload-header .logo img
{
    margin-left: 0;
    width:@login-logo-size;
    margin-right: 0;
}
.upload-header .text
{
    margin-top: @login-header-top;
    text-align: center;
    font-size: 20px;
    color: @std-purple;
    display: block;
}
.upload-header .web-text
{
    display: block;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
    font-size: 25px;
    text-decoration: underline;
    font-style: italic;
    color: @std-purple;
}
.upload-btn-group
{
    margin-top: 30px;
}
.padding-header
{
    padding-top: 50px;
    padding-bottom: 50px;
}
.white-background
{
    background-color: white;
}
.app
{
    background: white;
}
//sidebar

.sidebar-username
{
    background: rgb(85, 85, 85);
    color: white;
    margin-top: -10px;
}