html {
  height: 100%;
  display: block;
  margin: 0;
  padding: 0;
}
body {
  font-weight: normal;
  font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
  overflow-x: hidden;
}
.scrollable-content {
  position: absolute;
  padding-bottom: 50px;
}
.nav-bar-absolute-top {
  background: url('/static/image/icon/3d-purple.png');
  background-repeat: repeat-x;
}
@media (min-width: 992px) {
  .has-sidebar-left .app,
  .sidebar-left-in .app {
    margin-left: 250px;
    left: 0;
  }
}
.sidebar-left-in .app {
  transform: translate(250px, 0) !important;
  -webkit-transform: translate(250px, 0) !important;
}
.sidebar-left,
.sidebar-right {
  width: 250px !important;
}
.navbar-app {
  min-height: 40px !important;
  width: 100%;
}
.no-bar-top {
  top: 0 !important;
}
.app-content-loading {
  text-align: center;
  height: 100%;
  z-index: 10;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  position: relative;
}
.loading-spinner {
  position: absolute;
  font-size: 50px;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
}
.sidebar-toggle {
  color: white !important;
  font-size: 21px !important;
}
.no-margin {
  margin: 0 0 0 0 !important;
}
#main-container {
  height: 100%;
  display: block;
}
.absolute-center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.gray-mask {
  color: #707070 !important;
}
.main-content {
  display: block;
  padding-bottom: 50px;
  height: 100%;
  background-color: white;
}
.purple-border {
  border: 1px solid #966497;
}
.mid-gray-border {
  border: 1px solid #b5b5b5;
}
.lit-gray-border {
  border: 1px solid #dcdcdc;
}
.panel-group-top {
  height: 36px;
  border-radius: 5px;
  background: white;
  width: 100%;
  display: block;
}
.login-input {
  margin-top: 15px;
}
.panel-group-mid {
  height: 36px;
  background: white;
  border-radius: 5px;
  width: 100%;
  display: block;
}
.panel-select {
  border: 0;
  border-radius: inherit;
  width: 75%;
  height: 100%;
  font-size: 18px;
  display: inline-block;
  background-color: white;
}
.panel-select select {
  border: 0;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  font-size: 18px;
  display: inline-block;
  background-color: white;
}
.panel-group-bot {
  height: 36px;
  border-radius: 5px;
  width: 100%;
  display: block;
  background-color: white;
  position: relative;
}
.panel-radius {
  width: 100%;
  height: 36px;
  line-height: 36px;
  border: 1px solid #966497;
  background: white;
  color: #966497;
  font-size: 18px;
  border-radius: 5px;
  text-align: center;
}
.login-btn {
  margin-bottom: 18px;
}
.padding {
  width: 100%;
  padding: 0 20px 0 20px;
}
.panel-list {
  width: 100%;
  padding: 0 40px 0 40px;
}
a {
  display: inline-block;
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}
.panel-group-bot select {
  border: 0;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  background-color: white;
}
.panel-elem {
  display: block;
  float: left;
  position: relative;
  height: 100%;
  padding: 0 5px 0 5px;
  border: 0;
  margin: 0;
  font-size: 16px;
  border-radius: inherit;
}
.full-width-input {
  width: 92%;
  margin-left: 8%;
}
.elem-width-4 {
  width: 25%;
}
.elem-width-3 {
  width: 33%;
}
.elem-width-43 {
  width: 75% !important;
}
.elem-width-2 {
  width: 50%;
}
.elem-width-full {
  width: 100%;
}
.input-notice {
  float: right;
  font-size: 20px;
  line-height: inherit;
  position: absolute;
  right: 48px;
  color: #966497;
  display: none;
  margin-top: 3px;
}
.notice-bar {
  height: 50px;
  width: 100%;
  background-color: rgba(255, 10, 10, 0.9);
  z-index: 10000000;
  position: fixed;
  top: 0;
  color: white;
  font-size: 19px;
  line-height: 50px;
  text-align: center;
  display: none;
}
#captcha_img {
  height: 28px;
  position: absolute;
  right: 10px;
  bottom: 3px;
}
#captcha-pass {
  right: 92px;
}
.panel-title {
  color: #b5b5b5;
  text-align: left;
  line-height: 36px;
  margin: 0 0 0 0;
  position: relative;
  left: 0;
}
.login-header {
  height: 170px;
  text-align: center;
  margin-bottom: 5px;
}
.login-header .logo {
  width: 180px;
  margin-top: 58px;
}
.login-header .name {
  margin-top: 12px;
  text-align: center;
  font-size: 20pt;
}
.input-btn-part {
  position: relative;
  margin-bottom: 30px;
}
.info-input-content {
  margin-top: 120px;
}
.info-input {
  margin-bottom: 20px;
}
.info-enter {
  margin-top: 130px;
}
.header-bar {
  display: block;
  height: 50px;
  position: relative;
  z-index: 20;
  overflow: auto;
  background: url('/static/image/icon/3d-purple.png');
  background-repeat: repeat-x;
}
.header-bar .header {
  width: 50%;
  font-weight: 500;
  text-align: center;
  height: 50px;
  line-height: 50px;
  color: white;
  font-size: 20px;
  overflow: hidden;
  margin: auto;
  position: relative;
  left: 0;
  right: 0;
}
.header-bar .logo {
  float: left;
  font-weight: 500;
  position: absolute;
  line-height: 30px;
  height: 30px;
  margin: 10px 10px 10px 15px;
}
.header-bar .right-btn {
  right: 0px;
  font-size: 24px;
  position: absolute;
  font-weight: 500;
  color: white;
  line-height: 30px;
  height: 30px;
  margin: 10px 15px 10px 10px;
}
.require-bar {
  display: block;
  height: 40px;
  position: relative;
}
.require-bar .require-box {
  font-size: 14px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  display: block;
  float: left;
  border-top: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  color: black;
  position: relative;
}
.require-bar .require-box:first-child {
  font-size: 14px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  display: block;
  float: left;
  border: 1px solid #dcdcdc;
  color: black;
  position: relative;
}
.require-bar .requires .require-box .require-delete {
  float: right;
  right: 3px;
  width: 15px;
  top: 15px;
  position: absolute;
}
.require-bar .requires {
  position: absolute;
  display: block;
  width: 100%;
  height: 40px;
  background: white;
  overflow: hidden;
}
.require-btn {
  height: 40px;
  width: 50px;
  position: absolute;
  background: url("/static/image/icon/pencil-01.png") no-repeat center;
  background-size: 20px;
  padding: 0;
  right: 0;
  border: 1px solid #dcdcdc;
  color: #b5b5b5;
  text-align: center;
  line-height: 29px;
}
.search-bar {
  display: block;
  height: 42px;
  background: #b5b5b5;
  position: relative;
  padding: 5px 10px 5px 10px;
}
.search-input {
  border: 0px solid;
  border-radius: 10px;
  height: 32px;
}
.search-btn {
  position: absolute;
  right: 17px;
  top: 5px;
  font-size: 17px;
  color: #b5b5b5;
  line-height: 33px;
}
.search-btn:hover {
  text-decoration: none;
  color: #b5b5b5;
}
.search-btn i {
  margin-right: 2px;
}
/*

@cl-comp-img-size:  80px;
@cl-comp-name-fsize:    16px;
@cl-comp-desc-fsize:    10px;
@cl-comp-req-fsize:    12px;
@cl-comp-reqt-fsize:    9px;
@cl-comp-desct-fsize:    9px;
@cl-comp-bent-fsize:    8px;
*/
.load-more-btn {
  height: 36px;
  background-color: #dcdcdc;
  width: 100%;
  text-align: center;
  line-height: 36px;
  font-size: 16px;
}
.no-more-btn {
  height: 30px;
  background-color: #dcdcdc;
  width: 100%;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
}
.comp-list {
  background-color: #dcdcdc;
  padding-bottom: 1px;
  overflow: auto;
}
.comp-listbox {
  display: block;
  min-height: 114px;
  margin-bottom: 1px;
  background-color: white;
  overflow: hidden;
  position: relative;
  padding: 10px 0 9px 10px;
}
.comp-list a {
  display: block;
  text-decoration: none;
  color: black;
}
.comp-title-img {
  position: absolute;
  float: left;
  width: 94px;
  height: 94px;
  margin-right: 10px;
}
.comp-finance-img {
  position: relative;
  float: left;
  border-radius: 5px;
  border: #b5b5b5 solid 1px;
  width: 94px;
  height: 94px;
  margin-right: 10px;
}
.comp-prev-img {
  position: absolute;
  float: left;
  border-radius: 5px;
  border: #b5b5b5 solid 1px;
  width: 94px;
  height: 94px;
  margin-right: 10px;
}
.comp-listbox .comp-auth {
  float: right;
  margin-top: 10px;
  margin-right: 20px;
  font-size: 11px;
}
.comp-listbox .comp-name {
  line-height: 18px;
  font-size: 17px;
  overflow: hidden;
}
.comp-listbox .comp-desc {
  line-height: 18px;
  font-size: 11px;
  color: #b5b5b5;
  overflow: hidden;
}
.comp-req-list {
  line-height: 20px;
  overflow: hidden;
}
.comp-req-title {
  color: #966497;
  font-size: 12px;
}
.comp-desc-list {
  line-height: 20px;
  overflow: hidden;
}
.comp-benefit-list {
  line-height: 18px;
  overflow: hidden;
}
.comp-desc-tag {
  padding: 0px 4px 0px 4px;
  border-radius: 9px;
  color: #707070;
  border: 1px solid #966497;
  font-size: 11px;
  margin-bottom: 1px;
  line-height: 13px;
  display: -webkit-inline-box;
}
.comp-benefit-tag {
  padding: 0px 4px 0px 4px;
  border-radius: 3px;
  color: #707070;
  border: 1px solid #966497;
  font-size: 11px;
  margin-right: 4px;
  margin-bottom: 1px;
  line-height: 13px;
  display: -webkit-inline-box;
}
.comp-req-tag {
  padding: 0px 4px 0px 4px;
  border-radius: 9px;
  background-color: #966497;
  border: 1px solid #966497;
  color: white;
  font-size: 11px;
  margin-right: 4px;
  line-height: 13px;
  margin-bottom: 1px;
  display: -webkit-inline-box;
}
.post-time {
  line-height: 18px;
  color: #b5b5b5;
  font-size: 11px;
}
.post-time-corner {
  line-height: 18px;
  color: #b5b5b5;
  font-size: 11px;
}
.nav-bar {
  margin: 0;
  padding: 0;
  border-bottom: 0;
  z-index: 1000;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  box-sizing: border-box;
  display: block;
  height: 50px;
  position: fixed !important;
  width: 100%;
  bottom: 0;
  left: 0;
  border: 1px solid #dcdcdc;
  background: white;
}
.nav-bar-3 {
  display: block;
  text-decoration: none;
  width: 33.33%;
  float: left;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  border-left: 1px solid #dcdcdc;
  border-top: 0;
  color: black;
  background: url('/static/image/icon/3d-gray.png') !important;
  background-repeat: repeat-x;
}
.nav-bar-3:first-child {
  border: 0;
}
.nav-bar-2 {
  display: block;
  width: 50%;
  float: left;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  border-left: 1px solid #dcdcdc;
  border-top: 0;
  color: black;
  background: url('/static/image/icon/3d-gray.png') !important;
  background-repeat: repeat-x;
}
.nav-bar-2:first-child {
  border: 0;
}
.nav-bar-1 {
  display: block;
  width: 100%;
  float: left;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #dcdcdc;
  border-top: 0;
  color: black;
}
.selected {
  background: #966497 !important;
  border: 0;
  color: white !important;
}
.bg-3d-purple {
  background: url('/static/image/icon/3d-purple.png') !important;
  background-repeat: repeat-x;
  color: white !important;
}
.bg-3d-purple-2 {
  background: url('/static/image/icon/3d-purple.png');
  background-repeat: repeat-x;
  color: white;
}
.bg-3d-gray {
  background: url('/static/image/icon/3d-gray.png') !important;
  background-repeat: repeat-x;
}
.filter-content {
  top: -1000px;
  z-index: 1000;
  width: 100%;
  background: white;
  position: absolute;
}
#comp-filter {
  margin-top: 20px;
}
.filter-squ {
  margin-top: 10px;
  display: block;
  overflow: auto;
}
.filter-squ label {
  border-radius: 0;
  border-color: #966497;
  border-width: 1px;
  font-size: 15px;
  text-wrap: none;
}
.filter-btn {
  margin-top: 10px;
  float: left;
  width: 49%;
  margin-right: 2%;
}
.filter-btn-last {
  margin-top: 10px;
  float: left;
  width: 49%;
  margin-right: 0 !important;
}
.filter-title {
  color: #966497;
  font-size: 18px;
  margin-bottom: 5px;
}
.filter-elem {
  float: left;
  min-width: 33.333333333333336%;
  display: block;
  overflow: hidden;
}
.filter-elem label {
  padding-left: 3px;
}
.filter-end-line {
  margin-right: 30%;
}
.filter-single-line {
  width: 100%;
}
.filter-elem input[type="radio"] {
  margin-right: 3px;
}
.filter-elem input[type="checkbox"] {
  margin-right: 3px;
}
.btn-b-pur {
  color: white;
  background-color: #966497;
}
.inline-input {
  height: inherit;
  margin: 5px 5px 5px 0 ;
  border-radius: 5px;
  width: 22%;
  background: white;
  border: 1px solid #b5b5b5;
}
.id-list {
  height: 260px;
}
.comp-detail {
  padding-bottom: 8px;
  background: #dcdcdc;
  position: relative;
}
.posi-detail {
  background: white;
  padding-bottom: 5px;
  margin: 10px 0 0px 0;
}
.posi-detail .detail-name {
  font-size: 19px;
  line-height: 22px;
}
.comp-map {
  padding: 8px 20px 8px 20px;
  background-color: white;
  margin-top: 2px;
  color: #707070;
  font-size: 16px;
  position: relative;
}
.comp-map .icon {
  float: left;
  height: 26px;
  line-height: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20px;
  color: #966497;
}
.comp-map .icon i {
  font-size: 26px;
}
.comp-map .addr {
  margin-left: 22px;
}
.relative-center {
  margin: auto;
  top: 0;
  bottom: 0;
}
ul {
  padding: 0;
}
.detail-desc {
  padding-top: 15px;
  display: block;
  background-color: white;
}
.detail-desc .desc-block {
  margin-bottom: 15px;
}
.detail-desc .desc-block .member-block {
  margin-top: 10px;
  position: relative;
  min-height: 160px;
  width: 100%;
  display: inline-block;
  border: 1px solid #b5b5b5;
  border-radius: 4px;
  padding: 15px 20px;
}
.detail-desc .desc-block .desc-title {
  color: black;
  margin-bottom: 10px;
  padding-bottom: 2px;
  font-size: 18px;
  border-bottom: #966497 solid 1px;
  display: block;
  width: 73px;
}
.posi-condition {
  position: absolute;
  font-size: 10px;
  right: 5px;
  top: 18px;
}
.post-time-corner {
  line-height: 18px;
  color: #b5b5b5;
  font-size: 11px;
  position: absolute;
  top: -1px;
  right: 10px;
}
.posi-condition .posi-condition-elem {
  padding: 1px 1px 1px 1px;
  border-radius: 2px;
  background-color: #966497;
  border: 1px solid #966497;
  color: white;
  font-size: 10px;
  margin-right: 5px;
  margin-bottom: 4px;
  text-align: center;
}
.comp-info-block {
  display: block;
  position: relative;
  left: 104px;
  width: 53%;
}
.comp-list-info-block {
  display: block;
  position: relative;
  left: 104px;
  padding-right: 12px;
  width: 64%;
}
.comp-more-info {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 23px;
  font-size: 14px;
  height: 37px;
  color: #707070;
}
.comp-more-info img {
  height: 30px;
  margin-left: 1px;
  padding-left: 3px;
  padding-right: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
.comp-more-info-arrow {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 12px;
  font-size: 16px;
  height: 26px;
  color: #707070;
}
.comp-listbox table .title {
  overflow: hidden;
  white-space: nowrap;
  word-break: keep-all;
  vertical-align: -webkit-baseline-middle;
}
.comp-listbox table {
  font-size: 12px;
}
.comp-listbox tr:last-of-type .fi-cond item {
  display: block;
  margin-bottom: 0;
}
.fi-cond {
  display: table;
}
.fi-cond title {
  display: block;
  color: #966497;
  font-size: 13px;
}
.fi-cond border {
  border-top: 1px solid #dcdcdc;
  display: -webkit-box;
  width: 123px;
  margin: 1px 0 2px 0;
}
.fi-cond item {
  margin-bottom: 5px;
  display: block;
}
.comp-full-name {
  font-size: 16px;
  color: #966497;
}
.slash {
  border-top: 2px solid #dcdcdc;
  display: -webkit-box;
  margin: 7px 0 7px 0;
}
.desc-subtitle {
  color: black;
  height: 125px;
  width: 90px;
  padding-bottom: 10px;
  font-size: 13px;
  float: left;
  text-align: center;
  margin-right: 9px;
}
.desc-img {
  width: 80px;
  height: 80px;
  float: left;
  border-radius: 40px;
  border: #dcdcdc solid 1px;
  margin-right: 8px;
  margin-bottom: 4px;
}
.desc-content {
  display: -webkit-box;
  color: #707070;
}
.stuff_desc {
  color: #707070;
  display: -webkit-box;
  border-radius: 3px;
}
.stuff_desc p {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
.comp-posi-list {
  background-color: #dcdcdc;
  padding-bottom: 1px;
}
.comp-posi-block {
  position: relative;
  background-color: white;
  padding: 6px 0 6px 10px;
  margin-bottom: 2px;
  display: block !important;
}
.comp-posi-title {
  font-size: 16px;
}
.comp-posi-detail {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 15px;
  font-size: 14px;
  height: 14px;
  color: #707070;
}
.posi-close {
  float: right;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 12px;
}
.hr-solve {
  float: right;
  position: absolute;
  top: 26px;
  right: 15px;
  color: #966497;
  font-size: 12px;
}
.send-resume {
  position: absolute;
  top: 10px;
  right: 15px;
  text-align: center;
  color: #966497;
}
.send-resume .send-resume-logo {
  width: 25px;
  font-size: 25px;
  margin-bottom: 2px;
}
.send-resume .send-resume-text {
  font-size: 12px;
  color: #966497;
}
.comp-msg-remind {
  width: 17px;
  height: 17px;
  text-align: center;
  line-height: 17px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
  background-color: #e66665;
}
.empty-block {
  z-index: 1000;
  position: fixed;
  height: 102px;
  width: 170px;
  text-align: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background: #dcdcdc;
  padding: 10px 10px 0 10px;
  border-radius: 5px;
}
.empty-block .empty-title {
  color: #966497;
}
.empty-block .empty-pic {
  width: 40px;
}
.info-update {
  background-color: white;
  height: 100%;
}
.info-block {
  margin-bottom: 10px;
  padding-top: 15px;
}
.info-block-last {
  padding-top: 15px;
  padding-bottom: 30px;
}
.info-block-title {
  color: #966497;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 700;
}
.lit-p-bg {
  background-color: #966497;
  color: white;
  border-color: #966497;
}
.lit-gray-t-border {
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #dcdcdc;
}
.lit-gray-b-border {
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #dcdcdc;
}
.edit-resume {
  background-color: #dcdcdc;
}
.resume-block-title {
  color: #966497;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 700;
}
.font-color-g {
  color: #b5b5b5 !important;
}
.info-block-tip {
  color: #707070;
  font-size: 13px;
  margin: 10px 0 10px 0;
  width: 100%;
}
.info-block-textarea {
  font-size: 16px;
  background-color: white;
  width: 100%;
  overflow-y: visible;
  height: 120px;
  border: 0;
  border-radius: 10px;
}
.resume-block-att {
  font-size: 18px;
  text-decoration: underline;
  font-style: italic;
  margin-bottom: 10px;
  display: block;
}
.upload-header {
  height: 170px;
  text-align: center;
  margin-bottom: 45px;
  display: block;
}
.upload-header .logo {
  margin-top: 58px;
  display: block;
  margin-bottom: 15px;
}
.upload-header .logo img {
  margin-left: 0;
  width: 180px;
  margin-right: 0;
}
.upload-header .text {
  margin-top: 12px;
  text-align: center;
  font-size: 20px;
  color: #966497;
  display: block;
}
.upload-header .web-text {
  display: block;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
  font-size: 25px;
  text-decoration: underline;
  font-style: italic;
  color: #966497;
}
.upload-btn-group {
  margin-top: 30px;
}
.padding-header {
  padding-top: 50px;
  padding-bottom: 50px;
}
.white-background {
  background-color: white;
}
.app {
  background: white;
}
.sidebar-username {
  background: #555555;
  color: white;
  margin-top: -10px;
}
