<!--<p>a<i class="fa fa-spinner fa-spin"></i>aa</p>-->
<div id="container" xmlns="http://www.w3.org/1999/html">
    <div id="forth-step">
        <div class="head">
            <div class="item alpha10"></div>
            <div class="item alpha20"></div>
            <div class="item alpha40"></div>
            <div class="item"><span class="text">第四步</span></div>
        </div>

        <div ng-controller="DT_ResizeImgCtrl" ng-show="resize_area">
          <div class="resize-component">
            <div class="overlay">
                <div class="overlay-inner">
                </div>
            </div>
            <div id="resize-box">
              <img class="resize-image" id='image-preview' ngf-src="logo" alt="image for resizing">
            </div>

            <button class="btn-crop js-crop">确认修改<img class="icon-crop" src="/static/lib/imageresize/img/crop.svg"></button>
            <button class="btn-resize-cancel" ng-click="cancelUpload()">取消</button>
          </div>
        </div>

        <div style="clear: both"></div>
        <div class="info4">
            <form ng-submit="next_step()" name="ForthStepForm">
            <div>
                <label>团队简介</label>
                <p>根据犀牛的市场调研，超过60%的同学把团队情况作为对创业公司的主要判断依据，故本页内容建议认真填写</p>
                <textarea ng-model="companyinfo.team_description" required></textarea>
            </div>
            <div class="add-member">
                <label>团队成员</label>
                <a ng-click="add_member()"><img src="/static/image/icon/add.png"></a>
                <div style="clear: both"></div>

                <div class="member-tag" ng-repeat="member in member_list">
                    <div class="item">
                        <a ng-click="delete_modal($index)"><img src="/static/image/icon/delete-01.png"></a>
                        <a ng-click="edit_member($index)"><img src="/static/image/icon/pencil-01.png"></a>
                    </div>
                    <div class="avatar_img">
                        <img src="/api/file/[[member.m_avatar_id]]/download">
                    </div>
                    <br/>
                    <div class="intro">
                        <span ng-bind="member.m_name"></span>&nbsp;/&nbsp;<span ng-bind="member.m_position"></span><br/>
                        <div class="m_intro"><my-text text="member.m_introduction"></my-text></div>
                    </div>

                </div>
                <div style="clear: both"></div>
            </div>
            <input type="button" class="pre-button btn" value="上一步" ng-click="pre_step()">
            <input type="submit" class="next-button btn" value="完成提交">
            </form>
        </div>
    </div>
</div>
<div id="err-msg" ng-show="error.show"  ng-class="error.class">[[error.message]]</div>

<!-- Modal -->
<div class="modal fade" id="addMember" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
       <form class="member_add form-horizontal" name="memberAddForm" ng-submit="save_member()">
           <div class="member-info-card">
               <a ng-click="cancer_add()"><img class="delete" src="/static/image/icon/delete-01.png"></a>
               <div ng-model="avatar" ngf-select="startUpload($file,'memberavatar','[[member_number]]')" ngf-resize="{width: 100, height: 100}" ngf-keep="false">
                    <img class="upload-img img-upload-preview" ng-show="avatar==null && member_add.hasOwnProperty('m_avatar_id')" src="/api/file/[[member_add.m_avatar_id]]/download">
                    <div ng-show="avatar==null && !member_add.hasOwnProperty('m_avatar_id')" class="avatar-origin">点击上传头像</div>
                    <img class="upload-img img-upload-preview" ng-show="avatar!=null" ngf-src="avatar[0]">
               </div>
<!--
               <div ng-if="!member_add.hasOwnProperty('m_avatar_id')" ng-model="avatar" ngf-select="upload($file,'memberavatar',[[member_number]])" class="avatar-origin">点击上传图像</div>

               <div ngf-select="upload($file,'memberavatar',[[member_number]])" ng-model="avatar">
                    <img ngf-src="avatar" ng-if="member_add.hasOwnProperty('m_avatar_id')">
                </div>
-->
                <div class="name-position">
                    <input type="text" ng-model="member_add.m_name" placeholder="成员姓名" required class="form-control" maxlength="5"> </br>
                    <input type="text" ng-model="member_add.m_position" placeholder="成员职务" required class="form-control" maxlength="8">
                </div>
                <textarea class="member-intro form-control" placeholder="成员简介" ng-model="member_add.m_introduction" required maxlength="150"> </textarea>
               <div class="add-member-btn">
                   <input type="submit" class="btn">
               </div>

            </div>
        </form>
      </div>
      <div style="clear:both;"></div>
    </div>
  </div>
</div>
<!-- delete_member Modal -->
<div class="modal fade" id="delete_member" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4>删除成员:[[member_list[delete_index].m_name]]</h4>
      </div>
      <div class="modal-body">
          <p>确定删除成员[[member_list[delete_index].m_name]]？</p>
      </div>
      <div style="clear:both;"></div>
      <div class="modal-footer">
        <input type="button" class="btn cancer-button" data-dismiss="modal" value="取消">
        <button type="button"class="btn save-button" ng-click="delete_member(delete_index)">确定</button>
      </div>
    </div>
  </div>
</div>