<div id="container">
    <div id="third-step">
        <div class="head">
            <div class="item alpha20"></div>
            <div class="item alpha40"></div>
            <div class="item"><span class="text">第三步</span></div>
            <div class="item alpha20"></div>
        </div>
        <div style="clear:both;"></div>
        <form name="SecondStepForm" ng-submit="next_step()">
            <div class="info3">
                <div>
                    <label>公司简介</label><br/>
                    <textarea ng-model="companyinfo.company_description" required></textarea>
                </div>
                <div>
                    <label>产品/服务简介</label><br/>
                    <textarea ng-model="companyinfo.product_description" required></textarea>
                </div>
            <input type="button" class="pre-button btn" value="上一步" ng-click="pre_step()">
            <div class="next-area">
                <input type="submit" value="下一步" class="btn" >
                <i  class='fa fa-spinner fa-spin' ng-show="submit_loading"></i>
            </div>
            </div>
        </form>
    </div>
</div>