<div id="container" controller="DT_FinishPwdCtrl">
    <div id="findpwd">
        <div id="passport-title">
            <h3>找回密码成功</h3>
        </div>
        <div id="passport-finder">
            <div id="progress">
                <ul>
                    <li>验证用户</li>
                    <li>修改密码<em></em></li>
                    <li class="current">完成<em></em></li>
                </ul>
            </div>
        </div>
        <div id="finish">
            <p>修改密码成功，马上跳转到<a href="/login">登录</a>页面</p>
        </div>
    </div>
</div>