<div ng-controller="MB_CompanyFavorCtrl">
    <div class="main-content scrollable">
        <div class="scrollable-content">
            <div class="header-bar">
                <div class="header">公司收藏</div>
            </div>    

            <div class="comp-list">
                <a class="comp-listbox" href="/mobile/company/detail/[[company._id.$oid]]" ng-repeat="company in company_list">
                    <div class="comp-prev-img">
                        <div class="comp-msg-remind">1</div>
                        <img class="comp-prev-img" src="/api/file/[[company.logo_id]]/download">
                    </div>
                    
                    <div ng-if="company.is_auth" class="comp-auth">[[company.auth_organization]]认证</div>
                    <div class="comp-name">[[company.abbreviation]]</div>
                    <div class="comp-desc">[[company.brief_introduction]]</div>

                    <div class="comp-req-list">
                        <span class="comp-req-title">[[company.position_number]]岗位在招</span>
                        <span class="comp-req-tag" ng-repeat="tag in company.position_type_value">[[tag]]</span>
                    </div>

                    <div class="comp-desc-list">
                        <span class="comp-desc-tag">
                            [[company.field_value]]
                        </span>
                        <span class="comp-desc-tag">
                            [[company.scale_value]]期
                        </span>
                        <span class="comp-desc-tag">
                            [[company.city]]
                        </span>
                    </div>

                    <div class="comp-benefit-list">
                        <span class="comp-benefit-tag" ng-repeat="tag in company.welfare_tags">[[tag]]</span>
                    </div>
                </a>
                <div ng-if="company_list.length == 0">
                    <p>你还没有收藏任何公司，快到<a href="/mobile/index" style="text-decoration: underline; color: blue;">公司列表</a>看看吧</p>
                </div>
            </div>
        </div>
    </div>

    <div ui-content-for="footer">
            <a class="nav-bar-1 selected" href="/mobile/home">返回个人中心</a>
    </div>
</div>

