<div class="main-content scrollable">
<div class="scrollable-content">
    <div class="header-bar">
        <div class="header">我的收藏</div>
    </div>    

    <div class="comp-list">
        <div class="comp-listbox">
            <div class="comp-prev-img">
                <div class="comp-msg-remind">1</div>
                <img  src="/static/pic/comp_prev.jpg">
            </div>
            
            <div class="comp-auth">红杉资本认证</div>
            <div class="comp-name">清华创+</div>
            <div class="comp-desc">高校创业服务机构</div>

            <div class="comp-req-list">
                <span class="comp-req-title">岗位在招</span>
                <span class="comp-req-tag">
                    技术
                </span>
                <span class="comp-req-tag">
                    设计
                </span>
            </div>

            <div class="comp-desc-list">
                <span class="comp-desc-tag">
                    创业服务
                </span>
                <span class="comp-desc-tag">
                    初创期
                </span>
            </div>

            <div class="comp-benefit-list">
                <div class="comp-benefit-tag">
                    班车接送xx
                </div>
                <div class="comp-benefit-tag">
                    午餐补助
                </div>
            </div>
        </div>
        <div class="comp-listbox">
            <div class="comp-prev-img">
                <div class="comp-msg-remind">2</div>
                <img  src="/static/pic/comp_prev.jpg">
            </div>
            
            <div class="comp-auth">红杉资本认证</div>
            <div class="comp-name">清华创+</div>
            <div class="comp-desc">高校创业服务机构</div>

            <div class="comp-req-list">
                <span class="comp-req-title">岗位在招</span>
                <span class="comp-req-tag">
                    技术
                </span>
                <span class="comp-req-tag">
                    设计
                </span>
            </div>

            <div class="comp-desc-list">
                <span class="comp-desc-tag">
                    创业服务
                </span>
                <span class="comp-desc-tag">
                    初创期
                </span>
            </div>

            <div class="comp-benefit-list">
                <div class="comp-benefit-tag">
                    班车接送xx
                </div>
                <div class="comp-benefit-tag">
                    午餐补助
                </div>
            </div>
        </div>
        <div class="comp-listbox">
            <div class="comp-prev-img">
                <div class="comp-msg-remind">3</div>
                <img  src="/static/pic/comp_prev.jpg">
            </div>
            
            <div class="comp-auth">红杉资本认证</div>
            <div class="comp-name">清华创+</div>
            <div class="comp-desc">高校创业服务机构</div>

            <div class="comp-req-list">
                <span class="comp-req-title">岗位在招</span>
                <span class="comp-req-tag">
                    技术
                </span>
                <span class="comp-req-tag">
                    设计
                </span>
            </div>

            <div class="comp-desc-list">
                <span class="comp-desc-tag">
                    创业服务
                </span>
                <span class="comp-desc-tag">
                    初创期
                </span>
            </div>

            <div class="comp-benefit-list">
                <div class="comp-benefit-tag">
                    班车接送xx
                </div>
                <div class="comp-benefit-tag">
                    午餐补助
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="navbar navbar-app navbar-absolute-bottom">
    <div class="nav-bar-2 selected">投简历</div>
    <div class="nav-bar-2 ">加入收藏</div>
</div>

