<div ng-controller="MB_CompanyDetailCtrl">
<div class="main-content scrollable" >
<div class="scrollable-content">
    <div class="header-bar">
        <div class="header">公司详情</div>
    </div>    

    <div class="comp-detail " >
        <a class="comp-listbox no-margin" href="/mobile/company/posi/[[company_id]]">
            <img class="comp-title-img" src="/api/file/[[company.logo_id]]/download">
            <div class="comp-more-info" >查看岗位 <i class="fa fa-chevron-right"></i></div>

            <div style="display: block;position: relative;left: 104px; width:50%;">
            <div class="comp-name">[[company.abbreviation]]</div>
            <div class="comp-desc">[[company.brief_introduction]]</div>
            <div ng-if="company.is_auth" class="comp-auth">[[company.auth_organization]]认证</div>
            <div class="comp-req-list">
                <span class="comp-req-title">[[company.positions.length]]岗位在招</span>
                <span class="comp-req-tag" ng-repeat="tag in company.position_type_value">[[tag]]</span>
            </div>
            <div class="comp-desc-list">
                <span class="comp-desc-tag">
                    [[company.field_value]]
                </span>
                <span class="comp-desc-tag">
                    [[company.scale_value]]期
                </span>
                <span class="comp-desc-tag">
                    [[company.city]]
                </span>
            </div>

            <div class="comp-benefit-list">
                <span class="comp-benefit-tag" ng-repeat="tag in company.welfare_tags">[[tag]]</span>
            </div>
            </div>
        </a>
    </div>

    <div class="comp-detail">
        <div class="comp-listbox no-margin" >
            <img class="comp-prev-img" src="/api/file/[[company.qrcode_id]]/download" alt="微信二维码">
            <div class="comp-full-name">[[company.ICregist_name]]</div>
            <div class="slash"></div>
            <table >
                <tr>
                    <td>相关链接：</td>
                    <td> <a target="_blank" href="[[company.homepage]]"> [[company.homepage]] </a> </td>
                </tr>
                <tr>
                    <td>融资经历：</td>
                    <td style="width: 100%;"> 
                        <div ng-repeat="fi in company.financing_data">
                            <div class="fi-cond"> [[fi.stage_value]] </div>
                            <div class="fi-cond"> [[fi.organization]]</div>
                            <div class="fi-cond"> [[fi.amount_value]]</div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="detail-desc padding">
        <div class="desc-block">
            <span class="desc-title">
                公司简介
            </span>
            <span class="desc-content">
                [[company.company_description]]
            </span>
        </div>

        <div class="desc-block">
            <span class="desc-title">
                产品简介    
            </span>
            <span class="desc-content">
                [[company.product_description]]
            </span>
        </div>

        <div class="desc-block">
            <span class="desc-title">
                团队简介    
            </span>
            <span class="desc-content">
                [[company.team_description]]
            </span>
            <div class="member-block" ng-repeat="member in member_list">
                <img class="desc-img" src="/api/file/[[member.m_avatar_id]]/download" alt="成员头像">
                <span class="desc-subtitle">
                    [[member.m_name]] | [[member.m_position]]
                </span>
                <span class="desc-content">
                    [[member.m_introduction]]
                </span>
            </div>
        </div>


    </div>
</div>
</div>
<div ui-content-for="footer">
    <div class="navbar navbar-app navbar-absolute-bottom">
        <a class="nav-bar-2 selected" href="/mobile/company/posi/[[company_id]]">查看全部岗位</a>
        <div class="nav-bar-2 ">收藏公司</div>
    </div>
</div>
</div>

