`<div class="main-content scrollable">
<div class="scrollable-content">
    <div class="header-bar">
        <div class="header">公司详情</div>
    </div>    

    <div class="comp-detail">
        <div class="comp-listbox">
            <img class="comp-prev-img" src="/static/pic/comp_prev.jpg">
            <div class="comp-auth">红杉资本认证</div>
            <div class="comp-name">清华创+</div>
            <div class="comp-desc">高校创业服务机构</div>

            <div class="comp-req-list">
                <span class="comp-req-title">3岗位在招</span>
                <span class="comp-req-tag">
                    技术
                </span>
                <span class="comp-req-tag">
                    设计
                </span>
                <span class="comp-req-tag">
                    运营
                </span>
            </div>

            <div class="comp-desc-list">
                <span class="comp-desc-tag">
                    创业服务
                </span>
                <span class="comp-desc-tag">
                    初创期
                </span>
                <span class="comp-desc-tag">
                    北京
                </span>
            </div>

            <div class="comp-benefit-list">
                <div class="comp-benefit-tag">
                    班车接送
                </div>
                <div class="comp-benefit-tag">
                    午餐补助
                </div>
                <div class="comp-benefit-tag">
                    五险一金
                </div>
            </div>
        </div>
    </div>


    <div class="comp-posi-list">
        <a class="comp-posi-block" href="/mobile/position/detail">
            <div class="comp-posi-detail"> 查看岗位详情 <i class="fa fa-chevron-right "></i> </div>
            <div class="comp-posi-title">
                技术 | 前端工程师
            </div>
            <div class="comp-desc-list">
                <span class="comp-desc-tag">
                    5天/周
                </span>
                <span class="comp-desc-tag">
                    5K-8K
                </span>
                <span class="comp-desc-tag">
                    至少工作6个月
                </span>
            </div>
        </a>
        <a class="comp-posi-block" href="/mobile/position/detail">
            <div class="comp-posi-detail"> 查看岗位详情 <i class="fa fa-chevron-right "></i> </div>
            <div class="comp-posi-title">
                技术 | 前端工程师
            </div>
            <div class="comp-desc-list">
                <span class="comp-desc-tag">
                    5天/周
                </span>
                <span class="comp-desc-tag">
                    5K-8K
                </span>
                <span class="comp-desc-tag">
                    至少工作6个月
                </span>
            </div>
        </a>
        <a class="comp-posi-block" href="/mobile/position/detail">
            <div class="comp-posi-detail"> 查看岗位详情 <i class="fa fa-chevron-right "></i> </div>
            <div class="comp-posi-title">
                技术 | 前端工程师
            </div>
            <div class="comp-desc-list">
                <span class="comp-desc-tag">
                    5天/周
                </span>
                <span class="comp-desc-tag">
                    5K-8K
                </span>
                <span class="comp-desc-tag">
                    至少工作6个月
                </span>
            </div>
        </a>
        <a class="comp-posi-block" href="/mobile/position/detail">
            <div class="comp-posi-detail"> 查看岗位详情 <i class="fa fa-chevron-right "></i> </div>
            <div class="comp-posi-title">
                技术 | 前端工程师
            </div>
            <div class="comp-desc-list">
                <span class="comp-desc-tag">
                    5天/周
                </span>
                <span class="comp-desc-tag">
                    5K-8K
                </span>
                <span class="comp-desc-tag">
                    至少工作6个月
                </span>
            </div>
        </a>
    </div>
</div>
</div>
<div ui-content-for="footer">
<div class="navbar navbar-app navbar-absolute-bottom">
    <a class="nav-bar-2 selected" href="/mobile/company/detail">返回公司</a>
    <a class="nav-bar-2 ">收藏公司</a>
</div>
</div>

