<div id="container">
    <div id="position-detail">
        <div class="col-md-9">
            <div class="position-info">
                <p class="position">[[position.position_type_value]]|[[position.name]]</p>
                <p class="submit-num">已有[[position.submit_num]]投递</p>
                <div style="clear:both;"></div>
                <div class="item-label" >
                    <p class="label">[[position.days_per_week]]天/周</p>
                    <p class="label">[[position.salary_min]]k-[[position.salary_max]]k</p>
                    <p class="label">至少工作[[position.internship_time]]月</p>
                </div>
                <p class="submit-time">发布时间：[[position.release_time.$date |date :'yyyy-MM-dd HH:mm:ss']]</p>
                <div style="clear:both;"></div>
            </div>
            <div class="company-info">
                <div class="company-logo">
                    <img src="/api/file/[[position.company.logo_id]]/download" alt="图片">
                </div>
                <div class="item-info">
                    <p class="name">[[position.company.abbreviation]]</p>
                    <p class="brief_introduction">[[position.company.brief_introduction]]</p>
                    <a><span class="company-detail">查看公司详情</span></a>
                </div>
                <div class="welfare_tags">
                    <span ng-repeat="tag in position.company.welfare_tags">[[tag]]&nbsp;&nbsp;</span>&nbsp;&nbsp;
                </div>
                <div style="clear:both;"></div>
            </div>
            <div class="submit_favor">
                <span class="item" ng-show="resume_submitted"ng-click="submit()" ng-model="submit_value">[[submit_value]]</span>
                <span class="item" ng-show="!resume_submitted" data-toggle="modal" data-target="#myModal">[[submit_value]]</span>
	        <span class="item" ng-click="post()" ng-model="post_value">[[post_value]]</span>
            </div>
            <div style="clear:both;"></div>
            <div class="description">
                <h3>工作内容</h3>
                <p class="line"></p>
                <div class="value">
                    <p>[[position.position_description]]</p>
                </div>
            </div>
            <div class="description">
                <h3>能力要求</h3>
                <p class="line"></p>
                <div class="value">
                    <p>[[position.position_request]]</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <p>[[position.company.city]]</p>
        </div>

    </div>

    <!--Modal-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
	    <div class="modal-content">
		<div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		    </button>
		    <h4 class="modal-title" id="myModalLabel">提示</h4>
		</div>
		<div class="modal-body">
		    <h4>您还没有提交简历，是否现在提交？</h4>
		</div>
		<div class="modal-footer">
		    <input type="button" class="btn btn-default" data-dismiss="modal" value="取消">
		    <input type="button"  ng-click="complete_resume()" class="btn btn-primary" value="确定">
		</div>
	    </div>
	</div>
    </div>
	
</div>
