<div id="container">
    <div id="position-detail">
        <div class="col-md-9">
            <div class="position-info">
                <p class="position">[[position.position_type_value]]|[[position.name]]</p>
                <p class="submit-num">已有[[position.submit_num]]投递</p>
                <div style="clear:both;"></div>
                <div class="item-label" >
                    <p class="label">[[position.days_per_week]]天/周</p>
                    <p class="label">[[position.salary_min]]k-[[position.salary_max]]k</p>
                    <p class="label">至少工作[[position.internship_time]]月</p>
                </div>
                <p class="submit-time">发布时间：[[position.release_time.$date |date :'yyyy-MM-dd HH:mm:ss']]</p>
                <div style="clear:both;"></div>
            </div>
            <div class="company-info">
                <div class="company-logo">
                    <img src="/api/file/[[position.company.logo_id]]/download" alt="图片">
                </div>
                <div class="item-info">
                    <p class="name">[[position.company.abbreviation]]</p>
                    <p class="brief_introduction">高校创业服务机构[[position.company.brief_introduction]]</p>
                    <a><span class="company-detail">查看公司详情</span></a>
                </div>
                <div class="welfare_tags">
                    <span ng-repeat="tag in position.company.welfare_tags">[[tag]]&nbsp;&nbsp;</span>&nbsp;&nbsp;
                </div>
                <div style="clear:both;"></div>
            </div>
            <div class="submit_favor">
                <span class="item">投简历</span>
                <span class="item" ng-click="post()" ng-model="post_value">[[post_value]]</span>
            </div>
            <div style="clear:both;"></div>
            <div class="description">
                <p>工作内容</p>
                <p class="line"></p>
                <div class="value">
                    <p>[[position.position_description]]</p>
                </div>
            </div>
            <div class="description">
                <p>能力要求</p>
                <p class="line"></p>
                <div class="value">
                    <p>[[position.position_request]]</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <p>[[position.company.city]]</p>
        </div>

    </div>

</div>
