<div id="container">
    <div id="pisition-list">
        <div class="col-sm-4">
            <div class="panel panel-info">
                <div class="panel-heading">每周工作天数</div>
                <div class="panel-body">
                    <table>
                        <thead></thead>
                        <tbody>
                            <tr>
                                <td><label><input type="checkbox" ng-model="filter.workdays.day0">灵活时间</label></td>
                                <td><label><input type="checkbox" ng-model="filter.workdays.day3">3天</label></td>
                                <td><label><input type="checkbox" ng-model="filter.workdays.day4">4天</label></td>
                            </tr>
                            <tr>
                                <td><label><input type="checkbox" ng-model="filter.workdays.day5">5天</label></td>
                                <td><label><input type="checkbox" ng-model="filter.workdays.day6">6天</label></td>
                                <td><label><input type="checkbox" ng-model="filter.workdays.day7">7天</label></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">行业领域</div>
                <div class="panel-body">
                    <table>
                        <thead></thead>
                        <tbody>
                            <tr>
                                <td><label><input type="checkbox" ng-model="filter.field.social">社交</label></td>
                                <td><label><input type="checkbox" ng-model="filter.field.e_commerce">电子商务</label></td>
                                <td><label><input type="checkbox" ng-model="filter.field.education">教育</label></td>
                            </tr>
                            <tr>
                                <td><label><input type="checkbox" ng-model="filter.field.health_medical">健康医疗</label></td>
                                <td><label><input type="checkbox" ng-model="filter.field.culture_creativity">文化创意</label></td>
                                <td><label><input type="checkbox" ng-model="filter.field.living_consumption">生活消费</label></td>
                            </tr>
                            <tr>
                                <td><label><input type="checkbox" ng-model="filter.field.hardware">硬件</label></td>
                                <td><label><input type="checkbox" ng-model="filter.field.O2O">O2O</label></td>
                                <td><label><input type="checkbox" ng-model="filter.field.others">其他</label></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">职位类别</div>
                <div class="panel-body">
                    <table>
                        <thead></thead>
                        <tbody>
                            <tr>
                                <td><label><input type="checkbox" ng-model="filter.type.technology">技术</label></td>
                                <td><label><input type="checkbox" ng-model="filter.type.product">产品</label></td>
                                <td><label><input type="checkbox" ng-model="filter.type.design">设计</label></td>
                            </tr>
                            <tr>
                                <td><label><input type="checkbox" ng-model="filter.type.operate">运营</label></td>
                                <td><label><input type="checkbox" ng-model="filter.type.marketing">市场</label></td>
                                <td><label><input type="checkbox" ng-model="filter.type.functions">职能</label></td>
                            </tr>
                            <tr>
                                <td><label><input type="checkbox" ng-model="filter.type.others">其他</label></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">薪资下限</div>
                <div class="panel-body">
                    <label>无要求，请求空</label>
                    <input ng-model="filter.salary" pattern="[0-9]{1-3}">k
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <ul ng-repeat="position in positions">
                <a href="/position/[[position._id.$oid]]/detail">
                <li>
                    <div class="favor-list-item">
                        <div class="auth" >
                            <p>v[[position.company.auth_organization]]红杉资本认证</p>
                        </div>
                        <div class="middle-block">
                            <div class="item-pic">
                                <img src="/api/file/[[position.company.logo_id]]/download" class="company-pic" alt="图片"></img>
                            </div>
                            <div class="info">
                                <div class="item-info info-1">
                                    <div class="vertical-center">
                                        <p class="position">[[position.position_type_value]]|[[position.name]]</p>
                                        <div class="position-tags">
                                            <span class="tags">[[position.days_per_week]]天/周</span>
                                            <span class="tags">[[position.salary_min]]k-[[position.salary_max]]k</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="line"></div>
                                <div class="item-info info-2">
                                    <div class="vertical-center">
                                        <p class="company">[[position.company.abbreviation]]</p>
                                        <p class="company-discrpt">&nbsp;&nbsp;[[position.company.brief_introduction]]</p>
                                    </div>
                                </div>
                                <div class="item-info info-3">
                                    <div class="vertical-center">
                                        <div class="label-1" ng-show="position.company.field != null">
                                            <img src="/static/image/icon/111-01.png">
                                            <p>[[position.company.field_type]]</p>
                                        </div>
                                        <div class="label-1" ng-show="position.company.scale != null">
                                            <img src="/static/image/icon/222-01.png">
                                            <p>[[position.company.scale_value]]</p>
                                        </div>
                                        <div class="label-1" ng-show="position.company.city != null">
                                            <img src="/static/image/icon/333-01.png">
                                            <p class="last-p">[[position.company.city]]</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="line"></div>
                                <div class="item-info info-4">
                                    <div class="vertical-center">
                                        <div class="tags" ng-repeat="tag in position.company.welfare_tags">[[tag]]</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-block">
                            <p class="submit-time">发布时间：[[position.release_time.$date |date :'yyyy-MM-dd']]</p>
                        </div>
                       
                    </div>
                </li>
                </a>
            </ul>
        </div>
    </div>
</div>