<div id="container">
    <div id="pisition-list">
      <div class="col-sm-4">
        <div class="search-tab">
                <div class="search-item company-field" >
                    <p>[[filed_choose]] <i class="fa fa-caret-down"></i></p>
                    <div class="field-list">
                        <table>
                            <tbody>
                                <tr>
                                    <td><a href="#" ng-class="{active:param.field == 'social'}" ng-click="choose('social')">社交</a></td>
                                    <td><a href="#" ng-class="{active:param.field == 'e-commerce'}" ng-click="choose('e-commerce')">电子商务</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#" ng-class="{active:param.field == 'hardware'}" ng-click="choose('hardware')">硬件</a></td>
                                    <td><a href="#" ng-class="{active:param.field == 'health_medical'}" ng-click="choose('health_medical')">健康医疗</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#" ng-class="{active:param.field == 'O2O'}" ng-click="choose('O2O')">O2O</a></td>
                                    <td><a href="#" ng-class="{active:param.field == 'culture_creativity'}" ng-click="choose('culture_creativity')">文化创意</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#" ng-class="{active:param.field == 'education'}" ng-click="choose('education')">教育</a></td>
                                    <td><a href="#" ng-class="{active:param.field == 'living_consumption'}" ng-click="choose('living_consumption')">生活消费</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#" ng-class="{active:param.field == 'others'}" ng-click="choose('others')">其他</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#" ng-class="{active:param.field == null}" ng-click="choose(null)">全选</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div style="clear: both"></div>
                <div class="search-item position-type"  >
                    <p>[[type_choose]] <i class="fa fa-caret-down"></i></p>
                    <div class="type-list">
                        <table>
                            <tbody>
                                <tr>
                                    <td><a href="#" ng-class="{active:param.type == 'technology'}" ng-click="choose_type('technology')">技术</a></td>
                                    <td><a href="#" ng-class="{active:param.type == 'design'}" ng-click="choose_type('design')">设计</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#" ng-class="{active:param.type == 'operate'}" ng-click="choose_type('operate')">运营</a></td>
                                    <td><a href="#" ng-class="{active:param.type == 'marketing'}" ng-click="choose_type('marketing')">市场/销售</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#" ng-class="{active:param.type == 'product'}" ng-click="choose_type('product')">产品</a></td>
                                    <td><a href="#" ng-class="{active:param.type == 'functions'}" ng-click="choose_type('functions')">职能</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#" ng-class="{active:param.type == null}" ng-click="choose_type(null)">全部</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div style="clear: both"></div>
                <div class="search-item salary_set">
                    <p>[[salary_choose]] <i class="fa fa-caret-down"></i></p>
                    <div class="salary_min">
                        <input type="number" min="1"   ng-model="salary_min" ng-blur="choose_salary(salary_min)" class="form-control" placeholder="月薪下限">K
                    </div>
                </div>
                <div style="clear: both"></div>
                <div class="search-item work_days">
                    <p>[[workdays_choose]] <i class="fa fa-caret-down"></i></p>
                    <div class="work_days_max">
                        <table>
                            <tbody>
                                <tr>
                                    <td><a href="#" ng-class="{active:param.workdays == '2'}" ng-click="choose_workdays('2')">2天</a></td>
                                    <td><a href="#" ng-class="{active:param.workdays == '3'}" ng-click="choose_workdays('3')">3天</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#" ng-class="{active:param.workdays == '4'}" ng-click="choose_workdays('4')">4天</a></td>
                                    <td><a href="#" ng-class="{active:param.workdays == '5'}" ng-click="choose_workdays('5')">5天</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#" ng-class="{active:param.workdays == '6'}" ng-click="choose_workdays('6')">6天</a></td>
                                    <td><a href="#" ng-class="{active:param.workdays == '0'}" ng-click="choose_workdays('0')">灵活时间</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#" ng-class="{active:param.workdays == null}" ng-click="choose_workdays(null)">全部</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div style="clear: both"></div>
            </div>
      </div>

        <div class="col-md-8">
            <div ng-show="loading" class="loading">
                <img src="/static/image/icon/loading.gif">
            </div>
            <div ng-show="!loading">
                <div class="no-position-found" ng-show="param.pageCount==0">
                         暂无信息！
                </div>
                <div ng-show="param.pageCount>0">
                    <ul ng-repeat="position in positions">
                    <a href="/position/[[position._id.$oid]]/detail">
                    <li>
                        <div class="favor-list-item">
                            <div class="middle-block">
                                <div class="info">
                                    <div class="item-info info-1">
                                        <div class="vertical-center">
                                            <p class="position">[[position.position_type_value]]|[[position.name]]</p>
                                            <div class="position-tags">
                                                <span class="tags" ng-if="position.part_or_full_time==0">实习[[position.days_per_week]]天/周</span>
                                                <span class="tags" ng-if="position.part_or_full_time==1">全职</span>
                                                <span class="tags">[[position.salary_min]]k-[[position.salary_max]]k</span>
                                            </div>
                                            <div class="submit-time">
                                                <p>发布时间：[[position.release_time.$date |date :'yyyy-MM-dd']]</p>
                                            </div>
                                        </div>
                                    </div>
                                    <img class="line-img1" src='/static/image/icon/shadowline1.png'>
                                    <div class="item-info info-4">
                                        <div class="vertical-center">
                                            <div class="tags" ng-repeat="tag in position.company.welfare_tags">[[tag]]</div>
                                        </div>
                                    </div>
                                    <img class="line-img2" src='/static/image/icon/shadowline2.png'>
                                    <div class="item-info info-2">
                                        <div class="vertical-center">
                                            <p class="company">[[position.company.abbreviation]]</p>
                                            <p class="company-discrpt">&nbsp;&nbsp;[[position.company.brief_introduction]]</p>
                                            <p class="auth" ng-if="position.company.auth_organization!=null">[[position.company.auth_organization]]认证</p>
                                        </div>
                                    </div>
                                    <div class="item-info info-3">
                                        <div class="vertical-center">
                                            <div class="label-1" ng-show="position.company.field != null">
                                                <img src="/static/image/icon/111-01.png">
                                                <p>[[position.company.field_type]]</p>
                                            </div>
                                            <div class="label-1" ng-show="position.company.scale != null">
                                                <img src="/static/image/icon/222-01.png">
                                                <p>[[position.company.scale_value]]</p>
                                            </div>
                                            <div class="label-1" ng-show="position.company.city != null">
                                                <img src="/static/image/icon/333-01.png">
                                                <p class="last-p">[[position.company.city]]</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item-pic">
                                        <div class="vertical-center">
                                            <img src="/api/file/[[position.company.logo_id]]/download" class="company-pic" alt="图片">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    </a>
                </ul>
                </div>
                <page class="page" ng-show="param.pageCount!=1" num-pages="param.pageCount" current-page="param.currentPage" on-select-page="selectPage(page)">
                </page>
            </div>
        </div>
    </div>
</div>