<div id="container">
    <div id="favor-company-list">
        <div class="col-sm-4">
            <div class="col-md-8">
                <ul ng-repeat="company in company_list">
		    <a href="/company/[[company._id.$oid]]/detail">
                    <li>
                        <div class="favor-list-item">
                            <div class="item-pic">
                                <img class="company-pic" alt="图片" src="/api/file/[[company.logo_id]]/download"></img>
                            </div>
                            <div class="item-info">
                                <p class="company">[[company.abbreviation]]</p>
                                <p class="company-discrpt">[[company.brief_introduction]]</p>
                                <div class="position-label">
                                    <p class="position-num">在招岗位：[[company.position_number]]</p>
				    <div ng-repeat="position_type in position_types">
                                   	 <p class="label">[[position_type]]</p>
				    </div>
                                </div>
                                <div class="company-label">
                                    <p class="label">创业服务</p>
                                    <p class="label">[[company.scale]]</p>
                                    <p class="label">[[company.city]]</p>
                                </div>
                                <div class="wellfare-label">
				    <div ng-repeat="tag in company.welfare_tags">
                                   	 <p class="label">[[tag]]</p>
				    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
