<div id="container">
    <div id="favor-position-list">
	<div ng-show="positions.length <= 0 || positions == null" class="block">
        <div class="inner">
            <p>您还没有收藏任何职位</p>
            <p class="go-txt">快去职位列表看看吧</p>
            <div class="go">
            <a href="/position/list"><img src="/static/image/icon/go-01.png"></a>
            </div>
        </div>
	</div>
        <div class="col-sm-4" ng-show="positions.length > 0">
            <div class="col-md-9">
                <input type="button" class="btn btn-primary" ng-show="resume_submitted" ng-click="submit_all()" value="一键全部投递">
			    <input type="button" class="btn btn-primary" ng-show="!resume_submitted" data-toggle="modal" data-target="#myModal1" value="一键全部投递">
                <input type="button" class="btn btn-primary" value="清除失效岗位">
            </div>
            <div class="col-md-8">
                <ul ng-repeat="position in positions">
                    <li>
                        <a href="/position/[[position._id.$oid]]/detail">
                        <div class="favor-list-item" ng-class="{closed:position.status == 'closed',deleted:position.status == 'deleted'}">
                            <div class="middle-block">
                                <div class="info">
                                    <div class="item-info info-1">
                                        <div class="vertical-center">
                                            <p class="position">[[position.position_type_value]]|[[position.name]]</p>
                                            <div class="position-tags">
                                                <span class="tags" ng-if="position.part_or_full_time==0">实习[[position.days_per_week]]天/周</span>
                                                <span class="tags" ng-if="position.part_or_full_time==1">全职</span>
                                                <span class="tags">[[position.salary_min]]k-[[position.salary_max]]k</span>
                                            </div>
                                            <div class="submit-time">
                                                <p>发布时间：[[position.release_time.$date |date :'yyyy-MM-dd']]</p>
                                            </div>
                                        </div>
                                    </div>
                                    <img class="line-img" src="/static/image/icon/shadowline1.png">
                                    <div class="item-info info-4">
                                        <div class="vertical-center">
                                            <div class="tags" ng-repeat="tag in position.company.welfare_tags">[[tag]]</div>
                                        </div>
                                    </div>
                                    <img class="line-img" src="/static/image/icon/shadowline2.png">
                                    <div class="item-pic">
                                        <div class="vertical-center">
                                            <img src="/api/file/[[position.company.logo_id]]/download" class="company-pic" alt="公司logo">
                                        </div>
                                    </div>
                                    <div class="item-info info-2">
                                        <div class="vertical-center">
                                            <p class="company">[[position.company.abbreviation]]</p>
                                            <p class="company-discrpt">&nbsp;&nbsp;[[position.company.brief_introduction]]</p>
                                            <p class="auth">[[position.company.auth_organization]]</p>
                                        </div>
                                    </div>
                                    <div class="item-info info-3">
                                        <div class="vertical-center">
                                            <div class="label-1" ng-show="position.company.field != null">
                                                <img src="/static/image/icon/111-01.png">
                                                <p>[[position.company.field_type]]</p>
                                            </div>
                                            <div class="label-1" ng-show="position.company.scale != null">
                                                <img src="/static/image/icon/222-01.png">
                                                <p>[[position.company.scale_value]]</p>
                                            </div>
                                            <div class="label-1" ng-show="position.company.city != null">
                                                <img src="/static/image/icon/333-01.png">
                                                <p class="last-p">[[position.company.city]]</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
  <!--Modal-->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">提示</h4>
                </div>
                <div class="modal-body">
                    <h4>您还没有提交简历，是否现在提交？</h4>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" ng-click="submit_all()" data-dismiss="modal" value="取消，继续投递">
                    <input type="button"  class="btn btn-primary" value="确定" ng-click="complete_resume()">
                </div>
            </div>
        </div>
    </div>

</div>

      <!--Modal-->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">提示</h4>
                </div>
                <div class="modal-body">
                    <h4>您还没有提交简历，是否现在提交？</h4>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" ng-click="submit(index)" data-dismiss="modal" value="取消，继续投递">
                    <input type="button"  class="btn btn-primary" value="确定" ng-click="complete_resume()">
                </div>
            </div>
        </div>
    </div>

</div>
