<div id="container">
    <div id="company-detail">
        <div class="col-md-8">
            <div class="company-info">
                <div class="company-logo">
                    <img src="/api/file/[[company.logo_id]]/download" alt="图片">
                </div>
                <div class="item-info">
                    <p class="name">[[company.abbreviation]]</p>
                    <p class="brief_introduction">高校创业服务机构[[company.brief_introduction]]</p>
                    <p class="position_number">在招职位数：[[company.position_number]]</p>
                    <span class="favor">收藏公司</span>
                </div>
                <div class="welfare_tags">
                    <span ng-repeat="tag in company.welfare_tags">[[tag]]&nbsp;&nbsp;</span>&nbsp;&nbsp;
                </div>
                <div style="clear:both;"></div>
            </div>
            <div class="detail">
                <div class="header">
                    <span class="tab" ng-class="{'tab-active':tab1}" ng-click="tab1_click()">公司介绍</span>
                    <span class="tab" ng-class="{'tab-active':tab2}" ng-click="tab2_click()">职位列表</span>
                </div>
                <div ng-if="tab1==true" class="company">
                    <div class="company-description">
                        <h3>公司简介</h3>
                        <p class="line"></p>
                        <div class="description">
                            <p>[[company.company_description]]</p>
                        </div>
                    </div>
                    <div class="team-description">
                        <h3>团队简介</h3>
                        <p class="line"></p>
                        <div class="description">
                            <p>[[company.team_description]]</p>
                        </div>

                    </div>
                    <div class="team-member">
                        <h3>团队成员</h3>
                        <p class="line"></p>
                        <div ng-repeat="member in member_list" class="member">
                            <div class="avatar">
                                <img src="/api/file/[[member.m_avatar_id]]/download" alt="成员头像">
                            </div>
                            <div class="member-description">
                                <p class="name-position">[[member.m_name]]|[[member.m_position]]</p>
                                <p class="m_introduction">[[member.m_introduction]]</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="tab2==true" class="position">
                    <div ng-repeat="position in company.position_list" class="position_list" ng-href="/company/position/[[position._id.$oid]]/detail" ng-click="position_detail($index)">
                        <p class="position_name">[[position.position_type_value]]|[[position.name]]</p>
                        <div class="tags">
                            <span>[[position.days_per_week]]天/周</span>
                            <span>工作[[position.internship_time]]月</span>
                            <span>[[position.salary_min]]k~[[position.salary_max]]k</span>
                        </div>
                        <div class="number">
                            <span>[[position.attention_num]]人关注</span>
                            <span>[[position.submit_num]]人投递</span>
                        </div>
                        <div class="time">发布时间:
                            [[position.release_time.$date |date :'yyyy-MM-dd HH:mm:ss']]
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <img src="/api/file/[[company.qrcode_id]]/download" alt="微信二维码">
        </div>
    </div>
</div>
