<div id="container">
    <div id="company_info_detail">
        <form class="form-horizontal"  name="companyDetailForm">
            <div class="basic_info">

                <div class="col-md-8">
                    <div class="form-group">
                        <label for="company_name" class="col-md-4 control-label">公司简称</label>
                        <div class="col-md-8">
                          <input name="name" type="text" class="form-control" ng-model="companyinfo.abbreviation" disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="company_ICregist_name" class="col-md-4 control-label">公司工商注册名</label>
                        <div class="col-md-8">
                          <input name="ICregist_name" type="text" class="form-control" ng-model="companyinfo.ICregist_name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="city" class="col-md-4 control-label">所在地</label>
                        <div class="col-md-8">
                          <input name="city" type="text" class="form-control" ng-model="companyinfo.city" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="company_wechat" class="col-md-4 control-label">公司微信公众号</label>
                        <div class="col-md-8">
                          <input name="qrcode" type="text" class="form-control" ng-model="companyinfo.qrcode">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="company_homepage" class="col-md-4 control-label">公司主页</label>
                        <div class="col-md-8">
                          <input name="homepage" type="text" class="form-control" ng-model="companyinfo.homepage">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="company_field" class="col-md-4 control-label">行业领域</label>
                        <div class="col-md-8">
                        <table>
                            <tr>
                              <td><label><input type="radio" ng-model="companyinfo.field" value="social">社交</label></td>
                              <td><label><input type="radio" ng-model="companyinfo.field" value="e-commerce">电子商务</label></td>
                              <td><label><input type="radio" ng-model="companyinfo.field" value="education">教育</label></td>
                            </tr>
                            <tr>
                              <td><label><input type="radio" ng-model="companyinfo.field" value="health_medical">健康医疗</label></td>
                              <td><label><input type="radio" ng-model="companyinfo.field" value="culture_creativity">文化创新</label></td>
                              <td><label><input type="radio" ng-model="companyinfo.field" value="living_consumption">生活消费</label></td>
                            </tr>
                            <tr>
                              <td><label><input type="radio" ng-model="companyinfo.field" value="hardware">硬件</label></td>
                              <td><label><input type="radio" ng-model="companyinfo.field" value="O2O">O2O</label></td>
                              <td><label><input type="radio" ng-model="companyinfo.field" value="others">其他</label></td>
                            </tr>
                        </table>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="company_scale" class="col-md-4 control-label">融资阶段</label>
                        <div class="col-md-8">
                          <label><input type="radio" ng-model="companyinfo.scale" value="0">初创（未融资/种子轮/天使轮）</label><br/>
                          <label><input type="radio" ng-model="companyinfo.scale" value="1">成长（A轮/B轮）</label><br/>
                          <label><input type="radio" ng-model="companyinfo.scale" value="2">成熟（C轮以上/已上市）</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="company_welfare_tags" class="col-md-4 control-label">福利标签</label>
                        <div class="col-md-8">
                          <label for="company_welfare_tags" class="control-label">可自定义，不多于5个，四字以内</label><br/>
                          <label class="checkbox-label" ng-repeat="tag in welfare_tags"><input type="checkbox" ng-model="tag.chosed">[[tag.value]]</label>
                          <br/>
                              <input name="addtag" type="text" class="form-control tags_input" placeholder="自定义标签" ng-maxlength="4" ng-model="tag_added">
                              <input type="button" class="btn btn-primary" value="添加" ng-click="add_tag()" ng-disabled="canAdd(companyDetailForm.addtag)">
                          <br/>
                            <span class="err-msg" ng-show="tag_long_error(companyDetailForm.addtag)"><i class=" icon-warning-sign"></i>福利标签不能超过4个字</span>
                          <div class="welfare_tags">
                            <span class="tag"  ng-repeat="tag in welfare_tags" ng-if="tag.chosed"><i class="icon-tag"></i> [[tag.value]]</span>
                          </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4"></label>
                        <div class="col-md-8">
                            <input type="button" class="btn btn-primary" value="保存">
                            <input type="button" class="btn upload-btn-group" value="取消">
                        </div>
                    </div>
                </div>



                <div class="col-md-4">
                  <img ng-src="/api/file/logo/[[company_id]]_logo/download_special"><br/>
                  <input type="button" class="btn btn-primary" value="更改logo">
                </div>

            </div>
        </form>
        <div class="divider"></div>

        <div class="col-md-4 explanation">

        </div>
        <div class="col-md-1 v-divider">
        </div>

        <div class="option_info col-md-7">
            <div class="option financing">
                <div class="opt-header">
                    <h3>融资经历</h3>
                    <span ng-click="add_financing()"><i class="icon-plus-sign icon-2x"></i></span>
                </div>
                <div class="divider-small">
                    <span></span>
                </div>
                <div class="financing_list" ng-repeat="financing_add in financing_list">
                    <select ng-model="financing_add.stage">
                        <option value="" ng-selectd="financing_add.stage==''">选择轮数</option>
                        <option value="seed" ng-selectd="financing_add.stage=='seed'">种子轮</option>
                        <option value="angel" ng-selectd="financing_add.stage='angel'">天使轮</option>
                        <option value="A" ng-selectd="financing_add.stage=='A'">A轮</option>
                        <option value="B" ng-selectd="financing_add.stage=='B'">B轮</option>
                        <option value="C" ng-selectd="financing_add.stage=='C'">C轮</option>
                        <option value="D_plus" ng-selectd="financing_add.stage=='D'">D及D以上</option>
                    </select>
                    <input type="text" placeholder="请输入投资机构名称">
                    <select ng-model="financing_add.amount">
                        <option value="" ng-selectd="financing_add.amount==''">选择融资金额</option>
                        <option value="ten" ng-selectd="financing_add.amount=='ten'">十万级</option>
                        <option value="hundred" ng-selectd="financing_add.amount='hundred'">百万级</option>
                        <option value="thousand" ng-selectd="financing_add.amount=='thousand'">千万级</option>
                        <option value="thousand_plus" ng-selectd="financing_add.amount=='thousand_plus'">亿级</option>
                    </select>
                    <input type="button" class="btn btn-primary" value="保存">
                    <input type="button" class="btn btn-danger" value="删除" ng-click="financing_add.show_warn=true">
                    <span><i class="icon-ok-circle icon-large saved"></i></span>

                    <div class="alert alert-block alert-danger" ng-show="financing_add.show_warn">
                        <strong>确认删除？</strong>
                        <input type="button" class="btn btn-danger" value="删除" ng-click="delete_financing($index)">
                        <input type="button" class="btn upload-btn-groupr" value="取消" ng-click="financing_add.show_warn=false">
                    </div>
                </div>
            </div>
            <div class="divider"></div>

            <div class="option team_intro" ng-init="edit_team_intro=false">
                <div class="opt-header">
                    <h3>团队介绍</h3>
                    <span ng-click="edit_team_intro=true"><i class=" icon-pencil icon-large"></i></span>
                </div>
                <div class="divider-small"><span></span></div>
                <div class="add-team-intro" ng-click="edit_team_intro=true" ng-show="!edit_team_intro && team_description==''">
                    <i class="icon-plus icon-large"></i>添加团队介绍
                </div>
                <p class="saved_description" ng-show="team_description!='' && edit_team_intro==false">[[team_description]]</p>
                <textarea class="team-intro-textarea" placeholder="添加团队介绍" ng-model="team_description" ng-show="edit_team_intro"></textarea>
                <div class="button">
                    <input ng-show="edit_team_intro" type="button" class="btn btn-primary" value="保存" ng-click="save_team_description()">
                    <input ng-show="edit_team_intro" type="button" class="btn upload-btn-groupr" value="取消" ng-click="cancel_edit()">
                </div>
                <div style="clear:both;"></div>
            </div>
            <div class="divider"></div>

            <div class="option member">
                <div class="opt-header">
                    <h3>团队成员</h3>
                    <span ng-click="add_member()"><i class="icon-plus-sign icon-2x"></i></span>
                </div>
                <div class="divider-small"><span></span></div>


                <div ng-repeat="member_info in member_list" class="member_list">
                    <div class="member-card sub-form form-horizontal">
                        <span class="delete" ng-click="delete_member($index)"><i class=" icon-remove"></i></span>
                        <div class="first-level">
                            <div class="col-sm-4">
                                <img src="/static/image/logo/comp_prev.jpg"><br/>
                            </div>
                            <div class="col-sm-8 name-position">
                                <span>[[member_info.m_name]]</span><br/>
                                <span>[[member_info.m_position]]</span><br/>
                            </div>
                        </div>
                        <div class="second-level">
                            <span>[[member_info.m_introduction]]</span>
                        </div>
                    </div>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div class="divider"></div>

            <div class="option company_intro" ng-init="edit_company_intro=false">
                <div class="opt-header">
                    <h3>公司介绍</h3>
                    <span ng-click="edit_company_intro=true"><i class=" icon-pencil icon-large"></i></span>
                </div>
                <div class="divider-small"><span></span></div>
                <div class="add-company-intro" ng-click="edit_company_intro=true" ng-show="!edit_company_intro && company_description==''">
                    <i class="icon-plus icon-large"></i>添加公司介绍
                </div>
                <p class="saved_description" ng-show="company_description!='' && edit_company_intro==false">[[company_description]]</p>
                <textarea class="company-intro-textarea" placeholder="添加公司介绍" ng-model="company_description" ng-show="edit_company_intro"></textarea>
                <div class="button">
                    <input ng-show="edit_company_intro" type="button" class="btn btn-primary" value="保存" ng-click="save_team_description()">
                    <input ng-show="edit_company_intro" type="button" class="btn upload-btn-groupr" value="取消" ng-click="company_cancel_edit()">
                </div>
                <div style="clear:both;"></div>
            </div>
            <div class="divider"></div>
        </div>
    </div>
</div>
