<div id="container" xmlns="http://www.w3.org/1999/html">
    <div id="company_info_detail">
        <form class="form-horizontal"  name="companyDetailForm" ng-submit="save_company_info()">
            <div class="basic_info">
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="company_name" class="col-md-4 control-label">公司简称</label>
                        <div class="col-md-8">
                          <input name="name" type="text" class="form-control" ng-model="companyinfo.abbreviation" disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="company_ICregist_name" class="col-md-4 control-label">公司工商注册名</label>
                        <div class="col-md-8">
                          <input name="ICregist_name" type="text" class="form-control" ng-model="companyinfo.ICregist_name" required="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="city" class="col-md-4 control-label">所在地</label>
                        <div class="col-md-8">
                          <input name="city" type="text" class="form-control" ng-model="companyinfo.city" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="company_wechat" class="col-md-4 control-label">公司微信公众号</label>
                        <div class="col-md-8">
                          <input name="qrcode" type="text" class="form-control" ng-model="companyinfo.qrcode">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="company_homepage" class="col-md-4 control-label">公司主页</label>
                        <div class="col-md-8">
                          <input name="homepage" type="text" class="form-control" ng-model="companyinfo.homepage">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="hr_cellphone" class="col-md-4 control-label">hr电话</label>
                        <div class="col-md-8">
                          <input name="hr_cellphone" type="number" class="form-control" ng-model="companyinfo.hr_cellphone">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="company_field" class="col-md-4 control-label">行业领域</label>
                        <div class="col-md-8">
                        <table>
                            <tr>
                              <td><label><input type="radio" ng-model="companyinfo.field" value="social">社交</label></td>
                              <td><label><input type="radio" ng-model="companyinfo.field" value="e-commerce">电子商务</label></td>
                              <td><label><input type="radio" ng-model="companyinfo.field" value="education">教育</label></td>
                            </tr>
                            <tr>
                              <td><label><input type="radio" ng-model="companyinfo.field" value="health_medical">健康医疗</label></td>
                              <td><label><input type="radio" ng-model="companyinfo.field" value="culture_creativity">文化创新</label></td>
                              <td><label><input type="radio" ng-model="companyinfo.field" value="living_consumption">生活消费</label></td>
                            </tr>
                            <tr>
                              <td><label><input type="radio" ng-model="companyinfo.field" value="hardware">硬件</label></td>
                              <td><label><input type="radio" ng-model="companyinfo.field" value="O2O">O2O</label></td>
                              <td><label><input type="radio" ng-model="companyinfo.field" value="others">其他</label></td>
                            </tr>
                        </table>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="company_scale" class="col-md-4 control-label">融资阶段</label>
                        <div class="col-md-8">
                          <label><input type="radio" ng-model="companyinfo.scale" value="0">初创（未融资/种子轮/天使轮）</label><br/>
                          <label><input type="radio" ng-model="companyinfo.scale" value="1">成长（A轮/B轮）</label><br/>
                          <label><input type="radio" ng-model="companyinfo.scale" value="2">成熟（C轮以上/已上市）</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="company_welfare_tags" class="col-md-4 control-label">福利标签</label>
                        <div class="col-md-8">
                          <label for="company_welfare_tags" class="control-label">可自定义，不多于5个，四字以内</label><br/>
                          <label class="checkbox-label" ng-repeat="tag in welfare_tags"><input type="checkbox" ng-model="tag.chosed">[[tag.value]]</label>
                          <br/>
                              <input name="addtag" type="text" class="form-control tags_input" placeholder="自定义标签" ng-maxlength="4" ng-model="tag_added">
                              <input type="button" class="btn btn-primary" value="添加" ng-click="add_tag()" ng-disabled="canAdd(companyDetailForm.addtag)">
                          <br/>
                            <span class="err-msg" ng-show="tag_long_error(companyDetailForm.addtag)"><i class=" icon-warning-sign"></i>福利标签不能超过4个字</span>
                          <div class="welfare_tags">
                            <span class="tag"  ng-repeat="tag in welfare_tags" ng-if="tag.chosed"><i class="icon-tag"></i> [[tag.value]]</span>
                          </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4"></label>
                        <div class="col-md-8">
                            <button class="btn btn-primary">保存</button>
                            <input type="button" class="btn upload-btn-group" value="取消"><br/>
                            <div id="err-msg" ng-show="error.show"  ng-class="error.class">[[error.message]]</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                  <img class="logoimg" ng-if="logo==null" ng-src="/api/file/logo/[[company_id]]_logo/download_special"><br/>
                  <img class="logoimg" ng-if="logo!=null" ngf-src="logo"><br/>
                  <input ng-model="logo"  ngf-select="upload($file,'logo')" type="file" value="更改logo">
                </div>
            </div>
        </form>

        <div class="divider"></div>

        <div class="col-md-4 explanation">

        </div>

        <div class="option_info col-md-8">
        <div class="option company_intro" ng-init="edit_company_intro=false">
            <div class="opt-header">
                <h3>公司介绍</h3>
                <span ng-click="edit_company_intro=true"><i class=" icon-pencil icon-large"></i></span>
            </div>
            <div class="divider-small"><span></span></div>
            <div class="add-company-intro" ng-click="edit_company_intro=true" ng-show="!edit_company_intro && (companyinfo.company_description==null ||companyinfo.company_description=='')">
                <i class="icon-plus icon-large"></i>添加公司介绍
            </div>
            <p class="saved_description" ng-show="companyinfo.company_description!='' && edit_company_intro==false">[[companyinfo.company_description]]</p>
            <textarea class="company-intro-textarea" placeholder="添加公司介绍" ng-model="companyinfo.company_description" ng-show="edit_company_intro"></textarea>
            <div class="button">
                <input ng-show="edit_company_intro" type="button" class="btn btn-primary" value="保存" ng-click="save_company_description()">
                <input ng-show="edit_company_intro" type="button" class="btn upload-btn-groupr" value="取消" ng-click="company_cancel_edit()">
            </div>
            <div style="clear:both;"></div>
        </div>
        <div class="divider"></div>

        <div class="option team_intro" ng-init="edit_team_intro=false">
            <div class="opt-header">
                <h3>团队介绍</h3>
                <span ng-click="edit_team_intro=true"><i class=" icon-pencil icon-large"></i></span>
            </div>
            <div class="divider-small"><span></span></div>
            <div class="add-team-intro" ng-click="edit_team_intro=true" ng-show="!edit_team_intro && (companyinfo.team_description==''||companyinfo.team_description==null)">
                <i class="icon-plus icon-large"></i>添加团队介绍
            </div>
            <p class="saved_description" ng-show="companyinfo.team_description!='' && edit_team_intro==false">[[companyinfo.team_description]]</p>
            <textarea class="team-intro-textarea" placeholder="添加团队介绍" ng-model="companyinfo.team_description" ng-show="edit_team_intro"></textarea>
            <div class="button">
                <input ng-show="edit_team_intro" type="button" class="btn btn-primary" value="保存" ng-click="save_team_description()">
                <input ng-show="edit_team_intro" type="button" class="btn upload-btn-groupr" value="取消" ng-click="cancel_edit()">
            </div>
            <div style="clear:both;"></div>
        </div>
        <div class="divider"></div>

        <div class="option member">
            <div class="opt-header">
                <h3>团队成员</h3>
                <!-- Button trigger modal -->
                <span data-toggle="modal" data-target="#myModal"><i class="icon-plus-sign icon-2x"></i></span>
            </div>
            <div class="divider-small"><span></span></div>

            <div ng-repeat="member_info in member_list" class="member_list">
                <div class="member-card sub-form form-horizontal">
                   <button type="button" class="close" aria-label="Close" data-target="#delete_member"  data-toggle="modal" ng-click="get_delete_index($index)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="first-level">
                        <div class="col-sm-4">
                            <img src="/api/file/download/[[member_info.m_avatar_id]]"><br/>
                        </div>
                        <div class="col-sm-8 name-position">
                            <span>[[member_info.m_name]]</span><br/>
                            <span>[[member_info.m_position]]</span><br/>
                        </div>
                    </div>
                    <div class="second-level">
                        <span>[[member_info.m_introduction]]</span>
                    </div>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>
        <div class="divider"></div>

            <div class="option financing">
                <div class="opt-header">
                    <h3>融资经历</h3>
                    <span  data-toggle="modal" data-target="#add_financing"><i class="icon-plus-sign icon-2x"></i></span>
                </div>
                <div class="divider-small">
                    <span></span>
                </div>
                <div class="financing_list" ng-repeat="financing in financing_list">
                    <div class="stage col-sm-2"ng-if="financing.stage=='seed'">种子轮</div>
                    <div class="stage col-sm-2" ng-if="financing.stage=='angel'">天使轮</div>
                    <div class="stage col-sm-2" ng-if="financing.stage=='A'">A轮</div>
                    <div class="stage col-sm-2" ng-if="financing.stage=='B'">B轮</div>
                    <div class="stage col-sm-2" ng-if="financing.stage=='C'">C轮</div>
                    <div class="stage col-sm-2" ng-if="financing.stage=='D_plus'">D轮及D轮以上</div>
                    <div class="organization col-sm-7">[[financing.organization]]</div>
                    <div class="amount col-sm-2" ng-if="financing.amount=='ten'">十万级</div>
                    <div class="amount col-sm-2" ng-if="financing.amount=='hundred'">百万级</div>
                    <div class="amount col-sm-2" ng-if="financing.amount=='thousand'">千万级</div>
                    <div class="amount col-sm-2" ng-if="financing.amount=='thousand_plus'">亿级</div>
                    <div class="col-sm-1">
                        <button type="button" class="close" aria-label="Close" data-target="#delete_financing"  data-toggle="modal" ng-click="get_delete_index($index)">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">添加成员</h4>
      </div>
      <div class="modal-body">
       <form class="member_add form-horizontal" name="memberAddForm" ng-submit="add_member()">
           <div class="col-md-4">
                <div ng-model="avatar" ngf-select="upload($file,'memberavatar','[[member_number]]')" required>
                    <img ngf-src="avatar || '/static/image/logo/qrcode.jpg'">
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <div class="col-md-8">
                        <input type="text" ng-model="member_add.m_name" class="form-control" required  placeholder="成员姓名">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-8">
                        <input type="text" ng-model="member_add.m_position" class="form-control" required placeholder="成员职位">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-8">
                        <textarea ng-model="member_add.m_introduction" class="form-control" required placeholder="成员介绍"></textarea>
                    </div>
                </div>
            </div>
        </form>
      </div>
      <div style="clear:both;"></div>
      <div class="modal-footer">
        <input type="button" class="btn btn-default" data-dismiss="modal" value="取消">
        <button type="button" ng-disabled="!memberAddForm.$valid" class="btn btn-primary" ng-click="add_member()">保存</button>
      </div>
    </div>
  </div>
</div>


<!-- delete_member Modal -->
<div class="modal fade" id="delete_member" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">删除成员:[[member_list[delete_index].m_name]]</h4>
      </div>
      <div class="modal-body">
          确定删除成员[[member_list[delete_index].m_name]]？
      </div>
      <div style="clear:both;"></div>
      <div class="modal-footer">
        <input type="button" class="btn btn-default" data-dismiss="modal" value="取消">
        <button type="button"class="btn btn-primary" ng-click="delete_member(delete_index)">确定</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="add_financing" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">添加融资经历</h4>
      </div>
      <div class="modal-body">
       <form class="financing_add form-horizontal" name="financingAddForm" ng-submit="add_financing()">
           <div class="col-sm-12">
             <span>融资轮数</span>
             <select ng-model="financing_add.stage" required>
                <option value="" ng-selectd="financing_add.stage==''">选择轮数</option>
                <option value="seed" ng-selectd="financing_add.stage=='seed'">种子轮</option>
                <option value="angel" ng-selectd="financing_add.stage='angel'">天使轮</option>
                <option value="A" ng-selectd="financing_add.stage=='A'">A轮</option>
                <option value="B" ng-selectd="financing_add.stage=='B'">B轮</option>
                <option value="C" ng-selectd="financing_add.stage=='C'">C轮</option>
                <option value="D_plus" ng-selectd="financing_add.stage=='D'">D及D以上</option>
             </select>
             <span>融资金额</span>
               <select ng-model="financing_add.amount" required>
                <option value="" ng-selectd="financing_add.amount==''">选择融资金额</option>
                <option value="ten" ng-selectd="financing_add.amount=='ten'">十万级</option>
                <option value="hundred" ng-selectd="financing_add.amount='hundred'">百万级</option>
                <option value="thousand" ng-selectd="financing_add.amount=='thousand'">千万级</option>
                <option value="thousand_plus" ng-selectd="financing_add.amount=='thousand_plus'">亿级</option>
              </select>
           </div>
            <div class="col-sm-12">
                <span>投资机构</span>
                <input type="text" ng-model="financing_add.organization" placeholder="请输入投资机构名称" required>
           </div>
        </form>
      </div>
      <div style="clear:both;"></div>
      <div class="modal-footer">
        <input type="button" class="btn btn-default" data-dismiss="modal" value="取消" ng-click="financing_add=null">
        <button type="button" ng-disabled="!financingAddForm.$valid" class="btn btn-primary" ng-click="add_financing()">保存</button>
      </div>
    </div>
  </div>
</div>

<!-- delete_financing Modal -->
<div class="modal fade" id="delete_financing" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="get_delete_index()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">删除融资经历</h4>
      </div>
      <div class="modal-body">
          确定删除：</br>
          [[financing_list[delete_index].organization]]对贵公司的
        <span ng-if="financing_list[delete_index].stage=='seed'">种子轮</span>
        <span ng-if="financing_list[delete_index].stage=='angel'">天使轮</span>
        <span ng-if="financing_list[delete_index].stage=='A'">A轮</span>
        <span ng-if="financing_list[delete_index].stage=='B'">B轮</span>
        <span ng-if="financing_list[delete_index].stage=='C'">C轮</span>
        <span ng-if="financing_list[delete_index].stage=='D_plus'">D轮及D轮以上</span>
          投资？
      </div>
      <div style="clear:both;"></div>
      <div class="modal-footer">
        <input type="button" class="btn btn-default" data-dismiss="modal" value="取消">
        <button type="button"class="btn btn-primary" ng-click="delete_financing(delete_index)">确定</button>
      </div>
    </div>
  </div>
</div>