<div id="container" xmlns="http://www.w3.org/1999/html">
    <div id="company_list">
        <div class="col-md-4">
             <div class="search-tab">
                <div class="search-item company-field" >
                    <p ng-class="{choosed:filed_choose!=null}">[[filed_choose]]<i class="fa fa-caret-down"></i></p>
                    <div class="field-list">
                        <table>
                            <tbody>
                                <tr>
                                    <td><a href="#" ng-class="{active:param.field == 'social'}" ng-click="choose('social')">社交</a></td>
                                    <td><a href="#" ng-class="{active:param.field == 'e-commerce'}" ng-click="choose('e-commerce')">电子商务</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#" ng-class="{active:param.field == 'hardware'}" ng-click="choose('hardware')">硬件</a></td>
                                    <td><a href="#" ng-class="{active:param.field == 'health_medical'}" ng-click="choose('health_medical')">健康医疗</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#" ng-class="{active:param.field == 'O2O'}" ng-click="choose('O2O')">O2O</a></td>
                                    <td><a href="#" ng-class="{active:param.field == 'culture_creativity'}" ng-click="choose('culture_creativity')">文化创意</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#" ng-class="{active:param.field == 'education'}" ng-click="choose('education')">教育</a></td>
                                    <td><a href="#" ng-class="{active:param.field == 'living_consumption'}" ng-click="choose('living_consumption')">生活消费</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#" ng-class="{active:param.field == 'others'}" ng-click="choose('others')">其他</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#" ng-class="{active:param.field == null}" ng-click="choose(null)">全选</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div style="clear: both"></div>
                <div class="search-item company-scale"  >
                    <p>[[scale_choose]] <i class="fa fa-caret-down"></i></p>
                    <div class="scale-list">
                        <a href="#" ng-class="{active:param.scale == 0}" ng-click="choose_scale(0)">初创（未融资/种子天使）</a><br>
                        <a href="#" ng-class="{active:param.scale == 1}" ng-click="choose_scale(1)">成长（A轮/B轮）</a><br>
                        <a href="#" ng-class="{active:param.scale == 2}" ng-click="choose_scale(2)">成熟（C轮以上/上市）</a><br>
                        <a href="#" ng-class="{active:param.scale == null}" ng-click="choose_scale(null)">全选</a><br>
                    </div>
                </div>
                 <div style="clear: both"></div>
                <div class="search-item company-auth" >
                    <p>[[auth_choose]] <i class="fa fa-caret-down"></i></p>
                    <div class="organization-list" >
                        <a href="#" ng-class="{active:param.auth_organization == null}" ng-click="choose_auth_organization(null)">全选</a><br>
                        <a href="#" ng-class="{active:param.auth_organization == '源码资本'}" ng-click="choose_auth_organization('源码资本')">源码资本</a><br>
                        <a href="#" ng-class="{active:param.auth_organization == '创业邦'}" ng-click="choose_auth_organization('创业邦')">创业邦</a><br>
                        <a href="#" ng-class="{active:param.auth_organization == '创新工场'}" ng-click="choose_auth_organization('创新工场')">创新工场</a><br>
                        <a href="#" ng-class="{active:param.auth_organization == '高榕资本'}" ng-click="choose_auth_organization('高榕资本')">高榕资本</a><br>
                        <a href="#" ng-class="{active:param.auth_organization == '京东JD+开放孵化器'}" ng-click="choose_auth_organization('京东JD+开放孵化器')">京东JD+开放孵化器</a><br>
                        <a href="#" ng-class="{active:param.auth_organization == '险峰华兴'}" ng-click="choose_auth_organization('险峰华兴')">险峰华兴</a><br>
                        <a href="#" ng-class="{active:param.auth_organization == '经纬创投'}" ng-click="choose_auth_organization('经纬创投')">经纬创投</a><br>
                        <a href="#" ng-class="{active:param.auth_organization == '泰有基金'}" ng-click="choose_auth_organization('泰有基金')">泰有基金</a><br>
                        <a href="#" ng-class="{active:param.auth_organization == 'Pre-Angle'}" ng-click="choose_auth_organization('Pre-Angle')">Pre-Angle</a><br>
                        <a href="#" ng-class="{active:param.auth_organization == '洪泰基金'}" ng-click="choose_auth_organization('洪泰基金')">洪泰基金</a><br>
                        <a href="#" ng-class="{active:param.auth_organization == '清流资本'}" ng-click="choose_auth_organization('清流资本')">清流资本</a><br>
                        <a href="#" ng-class="{active:param.auth_organization == '启迪创业孵化器'}" ng-click="choose_auth_organization('启迪创业孵化器')">启迪创业孵化器</a><br>
                        <a href="#" ng-class="{active:param.auth_organization == 'Plug and Play China'}" ng-click="choose_auth_organization('Plug and Play China')">Plug and Play China</a><br>
                        <a href="#" ng-class="{active:param.auth_organization == '清华同方孵化器'}" ng-click="choose_auth_organization('清华同方孵化器')">清华同方孵化器</a><br>
                        <a href="#" ng-class="{active:param.auth_organization == '水木清华校友基金'}" ng-click="choose_auth_organization('水木清华校友基金')">水木清华校友基金</a><br>
                        <a href="#" ng-class="{active:param.auth_organization == '红杉资本'}" ng-click="choose_auth_organization('红杉资本')">红杉资本</a><br>
                        <a href="#" ng-class="{active:param.auth_organization == '乐搏资本'}" ng-click="choose_auth_organization('乐搏资本')">乐搏资本</a><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div ng-show="loading" class="loading">
                <img src="/static/image/icon/loading.gif">
            </div>
            <div ng-show="!loading">
                <div class="no-company-found" ng-if="param.pageCount==0">
                         暂无信息！
                </div>
                <div ng-if="param.pageCount>0">
                <ul ng-repeat="company in company_list">
                    <a href="/company/[[company._id.$oid]]/detail">
                        <li>
                            <div class="company-info">
                                <div class="auth" >
                                    <p ng-if="company.auth_organization!=null">[[company.auth_organization]]认证<img class="v_img" src="/static/image/icon/v.png"></p>
                                </div>
                                <div class="bottom-side">

                                <div class="item-pic">
                                    <img src="/api/file/[[company.logo_id]]/download" class="company-pic" alt="图片">
                                        </div>
                                <div class="info">
                                    <div class="item-info info-1">
                                        <div class="vertical-center">
                                        <p class="abbreviation">[[company.abbreviation]]</p>
                                        <p class="brief_introduction">[[company.brief_introduction]]</p>
                                        </div>
                                    </div>
                                    <div class="item-info info-2">
                                        <div class="vertical-center">
                                        <div class="label-1" ng-show="company.field != null">
                                            <img src="/static/image/icon/111-01.png">
                                            <p>[[company.field_type]]</p>
                                        </div>
                                        <div class="label-1" ng-show="company.scale != null">
                                            <img src="/static/image/icon/222-01.png">
                                            <p>[[company.scale_value]]</p>
                                        </div>
                                        <div class="label-1" ng-show="company.city != null">
                                            <img src="/static/image/icon/333-01.png">
                                            <p class="last-p">[[company.city]]</p>
                                        </div>
                                        </div>
                                    </div>
                                     <img class="line-img1" src='/static/image/icon/shadowline1.png'>
                                    <div class="item-info info-3">
                                        <div class="vertical-center">
                                            <p class="position_number">在招职位数：[[company.position_number]]</p>
                                            <div class="position_tags" >
                                                <span class="tags" ng-repeat="position_type in company.position_type_value">[[position_type]]</span>
                                            </div>
                                        </div>
                                    </div>
                                     <img class="line-img2" src='/static/image/icon/shadowline2.png'>
                                    <div class="item-info info-3">
                                        <div class="vertical-center">
                                            <div class="welfare_tags">
                                                <div class="tags" ng-repeat="tag in company.welfare_tags">[[tag]]</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </li>
                    </a>
                </ul>
                </div>
            <page class="page" ng-show="param.pageCount>1" num-pages="param.pageCount" current-page="param.currentPage" on-select-page="selectPage(page)">
            </page>
            </div>
        </div>
    </div>
</div>
