<div id="container">
    <div id="regenter" class="col-md-5">
     <form class="ui form segment">
          <h2>公司联系人</h2>
          <div id="contact_form">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">
                   <i class=" icon-phone icon-large"></i>
                </div>
                <input type="text" class="form-control" placeholder="手机" ng-model="infos.university" required>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                 <div class="input-group-addon"><i class="icon-envelope"></i></div>
                   <input type="text" class="form-control" placeholder="邮箱" ng-model="infos.major" required>
                 </div>
            </div>

            <p>此信息只作运营沟通用，请放心填写</p>
            <button id="enter_button">进入犀牛</button>
            <button id="enter_button">发布公司</button>
            </div>
        </form>
    </div>
    <div class="col-md-7  right-word">
        <h2>找实习，就找犀牛！</h2>
        <img src="/static/image/logo/qrcode.jpg">
        <p>扫码关注微信公众号：犀牛实习</p>
  </div>
</div>