<div id="container">
    <div id="company_resume">
        <div class="col-sm-9">
            <div class="head-button">
                <input class="btn active" type="button" value="查看未处理">
                <input class="btn" type="button" value="查看全部">
                <input class="btn" type="button" value="一键下载">
                <input class="btn" type="button" value="清除不符合条件">
            </div>
            <div class="submit_list">

            </div>
        </div>
        <div class="col-sm-3">

        </div>
    </div>
</div>
