<input type='checkbox' id='sideToggle' ng-click="toggleRightBar()">
<aside>
    <div ng-show="show_right_bar" id="show_intern_info">
        <div class="view">
            <div class="first-line">
                <span class="name">[[intern_info.real_name]]</span>
                <span class="gender" ng-if="intern_info.gender==1">男</span>
                <span class="gender" ng-if="intern_info.gender==0">女</span>
            </div>
            <div class="second-line">
                <span class="university">[[intern_info.university]]</span>
                <span class="department">[[intern_info.major]]</span>
                <span class="grade">[[intern_info.grade]]</span>
                <!--
                <span class="grade" ng-if="intern_info.grade==1">本科一年级</span>
                <span class="grade" ng-if="intern_info.grade==2">本科二年级</span>
                <span class="grade" ng-if="intern_info.grade==3">本科三年级</span>
                <span class="grade" ng-if="intern_info.grade==4">本科四年级</span>
                <span class="grade" ng-if="intern_info.grade==5">本科五年级</span>
                <span class="grade" ng-if="intern_info.grade==11">硕士一年级</span>
                <span class="grade" ng-if="intern_info.grade==12">硕士二年级</span>
                <span class="grade" ng-if="intern_info.grade==13">硕士三年级</span>
                <span class="grade" ng-if="intern_info.grade==21">博士一年级</span>
                <span class="grade" ng-if="intern_info.grade==22">博士二年级</span>
                <span class="grade" ng-if="intern_info.grade==23">博士三年级</span>
                <span class="grade" ng-if="intern_info.grade==24">博士四年级</span>
                <span class="grade" ng-if="intern_info.grade==25">博士五年级</span>
                -->
            </div>
            <p class="work_days">每周可工作时长：[[intern_info.work_days]]天/周</p>
            <p class="cellphone">TEL：[[intern_info.cellphone]]</p>
            <p class="line"></p>
            <my-text text="intern_info.description" class="description"></my-text>
        </div>
        <div class="resume">
            <span class="resume_file">附件：</span>
            <img src="/static/image/logo/fujian-01.png">
            <div class="no-resume" ng-show="intern_info.resume_id == null">无简历附件</div>
            <div class="resume-name">
                <table style="width: 200px;">
                    <tr>
                        <td style="vertical-align:middle;height: 48px;">
                            <a ng-show="intern_info.resume_id != null" ng-href="/api/file/[[intern_info.resume_id]]/download" target="_self">[[intern_info.resume_name]]</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="interested">
            <table>
                <tbody>
                    <tr>
                        <td class="interested_content" ng-class="{active:interested_filed == 'interested'}"><a id="item_interested" href="#" ng-class="{active:interested_filed == 'interested'}" ng-click="interested_select('interested')">感兴趣</a></td>
                        <td style="width: 10px;"></td>
                        <td class="interested_content" ng-class="{active:interested_filed == 'uninterested'}"><a id="item_interested" href="#" ng-click="interested_select('uninterested')" ng-class="{active:interested_filed == 'uninterested'}">不感兴趣</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</aside>
<div id="container" >
    <div id="company_resume">
        <div class="col-sm-12">
            <div class="select-filter">
                <dl class="clearfix">
                    <dt>类别：</dt>
                    <dd class="filterType">
                        <span><a href="#" ng-class="{'active': (filter_chosen.position_type== '')}" ng-click="choose_type('')">全部</a></span>
                        <span><a href="#" ng-class="{'active': (filter_chosen.position_type== 'technology')}" ng-click="choose_type('technology')">技术</a></span>
                        <span><a href="#" ng-class="{'active': (filter_chosen.position_type== 'design')}" ng-click="choose_type('design')">设计</a></span>
                        <span><a href="#" ng-class="{'active': (filter_chosen.position_type== 'product')}" ng-click="choose_type('product')">产品</a></span>
                        <span><a href="#" ng-class="{'active': (filter_chosen.position_type== 'marketing')}" ng-click="choose_type('marketing')">市场/销售</a></span>
                        <span><a href="#" ng-class="{'active': (filter_chosen.position_type== 'operate')}" ng-click="choose_type('operate')">运营</a></span>
                        <span><a href="#" ng-class="{'active': (filter_chosen.position_type== 'functions')}" ng-click="choose_type('functions')">职能</a></span>
                    </dd>
                </dl>
                <div style="border-top: #BBB9B9 1px dashed; overflow: hidden; height: 1px; margin: 8px 20px;"></div>
                <dl class="clearfix">
                    <dt>是否处理：</dt>
                    <dd class="filterType">
                        <span><a href="#" ng-class="{'active': (filter_chosen.processed== 2)}" ng-click="choose_process(2)">全部</a></span>
                        <span><a href="#" ng-class="{'active': (filter_chosen.processed== 1)}" ng-click="choose_process(1)">已处理</a></span>
                        <span><a href="#" ng-class="{'active': (filter_chosen.processed== 0)}" ng-click="choose_process(0)">未处理</a></span>
                    </dd>
                </dl>
                <div style="border-top: #BBB9B9 1px dashed; overflow: hidden; height: 1px; margin: 8px 20px;"></div>
                <dl class="clearfix">
                    <dt>是否感兴趣：</dt>
                    <dd class="filterType">
                        <span><a href="#" ng-class="{'active': (filter_chosen.interested== 2)}" ng-click="choose_interest(2)">全部</a></span>
                        <span><a href="#" ng-class="{'active': (filter_chosen.interested== 1)}" ng-click="choose_interest(1)">感兴趣</a></span>
                        <span><a href="#" ng-class="{'active': (filter_chosen.interested== 0)}" ng-click="choose_interest(0)">不感兴趣</a></span>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="col-sm-9">
            <div ng-show="loading" class="loading">
                <img src="/static/image/icon/loading.gif">
            </div>
            <!--
            <div class="head-button" ng-show="!loading">
                <input id = "processed" class="btn active" type="button" value="查看未处理" ng-click="view_unprocessed()">
                <input id = "interested" class="btn active" type="button" value="查看感兴趣" ng-click="view_interested()">
            </div>
            -->
            <div class="submit_list" ng-show="!loading">
                <div ng-show="submit_list.length == 0" class="no_submit">
                    [[marked_words]]
                </div>
                <div ng-show="submit_list.length != 0" >
                    <div id="submit_div" ng-repeat="user in submit_list" class="submit_item" ng-click="view_detail($index)" ng-class="{'active': ($index==chosed_index)}">
                        <div id="left_submit">
                            <table style="height: 100%;width: 100%;">
                                <tr>
                                    <td style="vertical-align:middle;">
                                        <span class="real_name">[[user.real_name]]</span>&nbsp;&nbsp;&nbsp;&nbsp;<br/>
                                        <div style="overflow: hidden; height: 1px; margin: 2px 0px;"></div>
                                        <span class="basic-info">[[user.university]] / [[user.major]] / [[user.grade]]</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div id="right_submit">
                            <table style="height: 100%;width: 100%;">
                                <tr>
                                    <td class="plain_text" style="vertical-align:middle; width:76px;">
                                        <p >应聘岗位: </p>
                                    </td>
                                    <td style="vertical-align:middle;">
                                        <span class="position_name">[[user.position_name]]</span><br/>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <page ng-show="task.pageCount!=1" num-pages="task.pageCount" current-page="task.currentPage" on-select-page="selectPage(page)">
                    </page>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="logo">
                <img src="/api/file/[[companyinfo.logo_id]]/download" style="border-radius: 8px; margin-top: 10px;">
            </div>
            <p class="abbreviation">[[companyinfo.abbreviation]]</p>
            <p class="brief_introduction">[[companyinfo.brief_introduction]]</p>
            <p class="position_sum">在招岗位数：[[companyinfo.positions.length]]</p>
            <!--
            <select ng-change="change(filter_chosen.position_type)" class="filter_chosen_position_type" ng-model="filter_chosen.position_type">
                <option value="" ng-select="filter_chosen.position_type=''">全部</option>
                <option value="technology" ng-select="filter_chosen.position_type='technology'">技术</option>
                <option value="product" ng-select="filter_chosen.position_type='product'">产品</option>
                <option value="design" ng-select="filter_chosen.position_type='design'">设计</option>
                <option value="operate" ng-select="filter_chosen.position_type='operate'">运营</option>
                <option value="marketing" ng-select="filter_chosen.position_type='marketing'">市场</option>
                <option value="functions" ng-select="filter_chosen.position_type='functions'">职能</option>
                <option value="others" ng-select="filter_chosen.position_type='others'">其他</option>
            </select>
            -->
        </div>
    </div>
</div>
