<div id="container">
    <div id="edit_position">
        <form name="positionInfoForm" class="form-position" ng-submit="submit_position()">

            <div class="form-position">
                <div class="left-info">
                    <div class="input-group">
                        <div class="col-sm-3">
                            <label>职位名称</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" required ng-model="position.name" ng-maxlength=8>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="col-sm-3">
                            <label>职位类别</label>
                        </div>
                        <div class="col-sm-9">
                            <table>
                                <tbody>
                                    <tr>
                                      <td><label><input class="radio" type="radio" ng-model="position.position_type" value="technology">技术</label></td>
                                      <td><label><input class="radio" type="radio" ng-model="position.position_type" value="product">产品</label></td>
                                      <td><label><input class="radio" type="radio" ng-model="position.position_type" value="design">设计</label></td>
                                      <td><label><input class="radio" type="radio" ng-model="position.position_type" value="operate">运营</label></td>
                                    </tr>
                                    <tr>
                                      <td><label><input class="radio" type="radio" ng-model="position.position_type" value="marketing">市场</label></td>
                                      <td><label><input class="radio" type="radio" ng-model="position.position_type" value="functions">职能</label></td>
                                      <td><label><input class="radio" type="radio" ng-model="position.position_type" value="others">其他</label></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="col-sm-3">
                            <label>办公地址</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" required ng-model="position.work_address">
                        </div>
                        <i class="icon-map-marker icon-large"></i>
                    </div>
                    <div class="input-group">
                        <div class="col-sm-3">
                            <label>工作属性</label>
                        </div>
                        <div class="col-sm-9">
                          <table>
                            <tbody>
                                <tr>
                                  <td><label><input class="radio" type="radio" ng-model="position.part_or_full_time" value="0">兼职</label></td>
                                  <td><label><input class="radio" type="radio" ng-model="position.part_or_full_time" value="1">全职</label></td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="col-sm-6">
                            <label>最少工作日/周</label></br>
                              <table>
                                <tbody>
                                    <tr>
                                      <td><label><input class="radio" type="radio" ng-model="position.days_per_week" value="2">2天</label></td>
                                      <td><label><input class="radio" type="radio" ng-model="position.days_per_week" value="3">3天</label></td>
                                      <td><label><input class="radio" type="radio" ng-model="position.days_per_week" value="4">4天</label></td>
                                    </tr>
                                    <tr>
                                      <td><label><input class="radio" type="radio" ng-model="position.days_per_week" value="5">5天</label></td>
                                      <td><label><input class="radio" type="radio" ng-model="position.days_per_week" value="6">6天</label></td>
                                      <td><label><input class="radio" type="radio" ng-model="position.days_per_week" value="7">7天</label></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="col-sm-6">
                            <label>薪资</label></br>
                            <span class="salary">
                                <input name="salary_min" type="text" class="form-control" ng-model="position.salary_min" required>
                            </span>
                            <span class="k1">&nbsp;K</span>
                            <span class="to">&nbsp;—&nbsp;</span>
                            <span class="salary">
                                <input name="salary_min" type="text" class="form-control" ng-model="position.salary_max" required>
                            </span>
                            <span class="k">&nbsp;K</span>
                        </div>
                    </div>
                    <div style="clear: both"></div>
                    <div class="input-group">
                        <div class="col-sm-6">
                            <label>至少工作月数</label>
                            <div><input class="form-control month_input" ng-model="position.internship_time" required></div>
                            <span class="month">月</span>
                        </div>
                        <div class="col-sm-6">
                          <label>招聘截止时间</label>
                        </div>
                    </div>
                </div>
                <div class="right-info">
                    <div class="input-group">
                        <label>工作内容</label></br>
                        <textarea required ng-model="position.position_description"></textarea>
                    </div>
                    <div class="input-group">
                        <label>职位要求</label></br>
                        <textarea required ng-model="position.position_request"></textarea>
                    </div>
                </div>
                <input type="submit"  class="next-button btn">完成提交</button>
                <div id="err-msg" ng-show="error.show"  ng-class="error.class">[[error.message]]</div>
            </div>
        </form>
        <input name="end_time" type="text" class="form-control datepicker" ng-model="position.end_time" datepicker-popup="yyyy-MM-dd HH:mm:ss" ng-required="true">
    </div>
</div>