<div id="container">
    <div id="position_manage">
        <div ng-if="position_list == null">尚未发布任何职位

        </div>
        <div ng-if="position_list != null">
            <div ng-repeat="position in position_list">
                <p>[[position.position_type]]|[[position.name]]</p>
                <div class="tags">
                    <span>[[position.days_per_week]]天一周</span>
                    <span>工作[[position.internship_time]]月</span>
                    <span>[[position.salary_min]]k~[[position.salary_max]]k</span>
                </div>
                <div class="end_time">
                    [[position.end_time]]
                </div>
            </div>
        </div>
    </div>
</div>