<div id="container" ng-controller="DT_UserInfoCtrl">
    <div id="userinfo">
        <div class="info-form">
                <ul class="tabs" ng-init="tab1=true">
                    <li ng-class="{'active': view_tab == 'tab1'}" ng-click="changeTab('tab1')">
                        <a  href="#">基本信息</a>
                    </li>
                    <li ng-class="{'active': view_tab == 'tab2'}" ng-click="changeTab('tab2')" >
                        <a href="#">修改密码</a>
                    </li>
                </ul>
                <div class="tab-pane" ng-show="view_tab == 'tab1'">
                    <form class="form-horizontal" name="userinfoForm" ng-submit="update_info()">
                        
                            <div class="form-group">
                                <div class="input-group">
                                    <input name="email" type="email" class="form-control" placeholder="邮箱"ng-model="user_info.email" required>
                                </div>
                                <span ng-show="showError(userinfoForm.email,'email')" class="err-msg">
                                    <i class="icon-warning-sign"></i>请输入正确的邮箱格式，如hxq@xiniu.com
                                </span>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="学校" ng-model="user_info.university" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="专业" ng-model="user_info.major" required>
                                </div>
                            </div>
                      
                             <div class="form-group">
                                <div class="input-group">
                                     <select class="form-control" ng-model="user_info.grade"  required>
                  <option value="" selected="true" disabled="true">请选择所在年级</option>
                  <option value="1">本科一年级</option>
                  <option value="2">本科二年级</option>
                  <option value="3">本科三年级</option>
                  <option value="4">本科四年级</option>
                  <option value="5">本科五年级</option>
                  <option value="11">硕士一年级</option>
                  <option value="12">硕士二年级</option>
                  <option value="13">硕士三年级</option>
                  <option value="21">博士一年级</option>
                  <option value="22">博士二年级</option>
                  <option value="23">博士三年级</option>
                  <option value="24">博士四年级</option>
                  <option value="25">博士五年级</option>
                </select>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">保存</button>
                              
			
                            <div id="err-msg" ng-show="error.show" ng-class="error.class">[[error.message]]</div>
                </form>
            </div>

                <div class="tab-pane" ng-show="view_tab == 'tab2'">
                    <form class="form-horizontal" id="findpwd-form" ng-submit="update_info()">
                       

                        <div class="form-group">
                            <div class="input-group">
                                <input name="old_password" type="password" placeholder="旧密码" class="form-control" ng-model="user_pwd.password"  required>
                            </div>
                            <span ng-show="user_pwd.password.length<6" class="err-msg">
                                <i class="icon-warning-sign"></i>密码最少为6位
                            </span>
                       </div>

                        <div class="form-group">
                            <div class="input-group">
                                <input name="new_password" type="password" placeholder="新密码" class="form-control" ng-model="user_pwd.new_password" required>
                            </div>
                            <span ng-show="user_pwd.new_password.length<6" class="err-msg">
                                <i class="icon-warning-sign"></i>密码最少为6位
                            </span>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <input type="password" class="form-control" placeholder="再输入一次" ng-model="repeat_password" required>
                            </div>
                            <span ng-show="user_pwd.new_password != repeat_password" class="err-msg">
                                <i class="icon-warning-sign"></i>两次输入密码需一致
                            </span>
                        </div>

                        <button type="submit" class="btn btn-primary">保存</button>

                        <div id="err-msg" ng-show="error.show" ng-class="error.class">[[error.message]]</div>
                    </form>

        </div>
    </div>
</div>
