<div id="container">
    <div id="intern-post-list">
        <div class="col-sm-4">
            <div class="col-md-8">
                <ul>
                    <li>
                        <div class="post-list-item">
                            <div class="item-pic">
                                <img class="company-pic" alt="图片"></img>
                            </div>
                            <div class="item-info">
                                <div class="position-info">
                                    <p class="position">职位</p>
                                    <p class="hire">职位在招</p>
                                    <p class="check">HR待处理</p>
                                </div>
                                <p class="company">公司</p>
                                <p class="company-discrpt">公司描述</p>
                                <div class="item-label">
                                    <p class="label">5天/周</p>
                                    <p class="label">5k-8k</p>
                                    <p class="label">创业服务</p>
                                    <p class="label">初创</p>
                                    <p class="label">北京</p>
                                </div>
                                <p class="submit-time">发布时间</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>