<div id="container">
    <div id="userresume">
        <form class="form-horizontal" id="info-form" ng-submit="save_intern_info()">
        <div class="title">
            <span>&nbsp;&nbsp;&nbsp;基本信息&nbsp;&nbsp;&nbsp;</span><br/>
            <div class="line"></div>
        </div>
        <div class="basic_info">
            <div class="col-sm-6">
                <label>姓名</label>
                <input type="text" ng-model="intern_info.real_name" required><br/>
                <label>电话</label>
                <input type="text" ng-model="intern_info.cellphone" required>
            </div>
            <div class="col-sm-6">
                <label class="gender">性别</label>
                <select ng-model="intern_info.gender" required>
                    <option value="1" ng-select="intern_info.gender='1'">男</option>
                    <option value="0" ng-select="intern_info.gender='0'">女</option>
                </select>
                <br/>
                <label>每周工作时长</label>
                <select ng-model="intern_info.work_days" required>
                    <option value="3" ng-select="intern_info.work_days='3'">3天</option>
                    <option value="4" ng-select="intern_info.work_days='4'">4天</option>
                    <option value="5" ng-select="intern_info.work_days='5'">5天</option>
                    <option value="6" ng-select="intern_info.work_days='6'">6天</option>
                    <option value="7" ng-select="intern_info.work_days='7'">7天</option>
                    <option value="0" ng-select="intern_info.work_days='0'">灵活时间</option>
                </select>
            </div>
        </div>

        <div class="title">
            <span>&nbsp;&nbsp;&nbsp;百字简介&nbsp;&nbsp;&nbsp;</span><br/>
            <div class="line"></div>
        </div>
        <div class="bref-info">
            <p>在未上传简历前，HR只能通过百字简介判断是否邀请面试，请认真填写,建议格式：基本信息＋教育经历＋工作／项目经历＋学生工作经历＋技能＋性格特点</p>
            <div class="text-value">
                <textarea></textarea>
            </div>

        </div>

        <div class="title resume-title">
            <span>&nbsp;&nbsp;&nbsp;简历附件&nbsp;&nbsp;&nbsp;</span><br/>
            <div class="line"></div>
        </div>
        <div class="resume">
            <img src="/static/image/logo/fujian-01.png">
            <div class="no-resume" ng-show="intern_info.resume_id == null">无简历附件</div>
            <div><a ng-show="intern_info.resume_id != null" ng-href="/api/file/[[intern_info.resume_id]]/download" target="_self">[[filename]]</a></div>
            <div class="upload-resume" ng-model="resume" ngf-select="upload($file,'resume')" type="file">上传/更新附件</div>
        </div>
        <button class="save-resume-btn">保存修改</button>
        </form>
    </div>
</div>
