<div id="container">
    <div id="userresume_edit" ng-if="false">
        <div class="view">
            <div class="first-line">
                <span class="name">[[intern_info.real_name]]</span>
                <span class="gender" ng-if="intern_info.gender==1">男</span>
                <span class="gender" ng-if="intern_info.gender==0">女</span>
            </div>
            <div class="second-line">
                <span class="university">[[intern_info.university]]</span>
                <span class="department">[[intern_info.major]]</span>
                  <span class="grade" ng-if="intern_info.grade==1">本科一年级</span>
                  <span class="grade" ng-if="intern_info.grade==2">本科二年级</span>
                  <span class="grade" ng-if="intern_info.grade==3">本科三年级</span>
                  <span class="grade" ng-if="intern_info.grade==4">本科四年级</span>
                  <span class="grade" ng-if="intern_info.grade==5">本科五年级</span>
                  <span class="grade" ng-if="intern_info.grade==11">硕士一年级</span>
                  <span class="grade" ng-if="intern_info.grade==12">硕士二年级</span>
                  <span class="grade" ng-if="intern_info.grade==13">硕士三年级</span>
                  <span class="grade" ng-if="intern_info.grade==21">博士一年级</span>
                  <span class="grade" ng-if="intern_info.grade==22">博士二年级</span>
                  <span class="grade" ng-if="intern_info.grade==23">博士三年级</span>
                  <span class="grade" ng-if="intern_info.grade==24">博士四年级</span>
                  <span class="grade" ng-if="intern_info.grade==25">博士五年级</span>
            </div>
            <p class="work_days">每周可工作时长：[[intern_info.work_days]]天/周</p>
            <p class="cellphone">TEL：[[intern_info.cellphone]]</p>
            <my-text text="intern_info.description" class="description"></my-text>
        </div>
        <div class="resume">
            <img src="/static/image/logo/fujian-01.png">
            <div class="no-resume" ng-show="intern_info.resume_id == null">无简历附件</div>
            <div class="resume-name"><a ng-show="intern_info.resume_id != null" ng-href="/api/file/[[intern_info.resume_id]]/download" target="_self">[[filename]]</a></div>
        </div>
        <button class="edit-resume-btn" ng-click="edit_resume()">编辑简历</button>
    </div>
    <a class="no-resume-info" href="/intern/resume/edit" style="display: block;" >
        <p>您还没有上传简历哦~</p>
        <p class="go-txt">去填写</p>
        <div class="go">
            <img src="/static/image/icon/go-01.png">
        </div>
    </a>
</div>