<div class="info-update">
  <form name="infoupdate" id="infoupdate" role="form" ng-submit='updateinfo()'>
    <div class="info-block">
      <div class="panel-list">
        <div class="info-block-title">账户信息</div>
        <span class="panel-group-top ">
          <input class="panel-elem elem-width-full lit-g-bt" type="email" placeholder="     输入邮箱">
        </span>

        <span class="panel-group-mid ">
          <input class="panel-elem elem-width-full lit-g-bt" type="password" placeholder="     密码">
        </span>

        <span class="panel-group-bot ">
          <input class="panel-elem elem-width-full" type="password" placeholder="     新密码">
        </span>
      </div>
    </div>

    <div class="info-block-last">
      <div class="panel-list">
          <div class="info-block-title">基本信息</div>
          <span class="panel-radius form-control info-input">
            <input class="panel-elem elem-width-full" type="text" placeholder="学校">
          </span>
          <span class="panel-radius form-control info-input">
            <input class="panel-elem elem-width-full" type="text" placeholder="系别">
          </span>
            <div class="panel-radius form-control info-input">
              <select class="panel-elem-full">
                <option value ="">选择年级</option>
                <option value ="大一">大一</option>
                <option value="大二">大二</option>
                <option value="大三">大三</option>
                <option value="大四">大四</option>
                <option value="硕士">硕士</option>
                <option value="博士">博士</option>
              </select>
            </div>
      </div>
    </div>


    <div class="info-block">
      <div class="panel-list">
        <button class="panel-radius login-btn form-control lit-p-bg">更新</button>
      </div>
    </div>
  </form>
</div>

