<div ng-controller="MB_UserInfoUpdateCtrl">
  <div class="notice-bar no-bar-top">
    notice
  </div>
  <div class="scrollable">
  <div class="scrollable-content">

  <div class="info-update">
      
      <div ng-show="tab_now == 1">
      <div class="info-block">
        <div class="panel-list">
          <div class="info-block-title">修改密码</div>

          <span class="panel-group-top info-input purple-border">
            <input class="panel-elem " name="password" ng-model="user_pwd.password" type="password" placeholder="请输入旧密码">
          </span>

          <span class="panel-group-mid info-input purple-border">
            <input class="panel-elem " ng-blur="check_pass_len()" name="password" ng-model="user_pwd.new_password" ng-minlength="6"  type="password" placeholder="请输入新密码">
            <i class="fa fa-check-circle input-notice" id="pass1-pass"></i>
          </span>

          <span class="panel-group-bot purple-border">
            <input class="panel-elem " ng-blur="check_pass_same()" ng-model="repeate_password" ng-minlength="6" type="password" placeholder="请确认密码">
            <i class="fa fa-check-circle input-notice" id="pass2-pass"></i>
          </span>
        </div>
      </div>


      <div class="info-block">
        <div class="panel-list">
          <button class="panel-radius login-btn lit-p-bg" ng-click="update_password()">更新密码</button>
        </div>
      </div>

    </div>

    <div ng-show="tab_now == 2">
      <div class="info-block">
        <div class="panel-list">
            <div class="info-block-title">基本信息</div>

            <span class="panel-group-top info-input purple-border">
            <input class="panel-elem elem-width-full" type="email" ng-model="user_info.email" placeholder="请输入邮箱" required>
            </span>

            <span class="panel-group-mid info-input purple-border">
              <input class="panel-elem elem-width-full" type="text" ng-model="user_info.university" placeholder="学校" required>
            </span>

            <span class="panel-group-mid info-input purple-border">
              <input class="panel-elem elem-width-full" type="text" ng-model="user_info.major" placeholder="专业" required>
            </span>

            <div class="panel-group-bot info-input purple-border">
              <select class="panel-elem-full" ng-model="user_info.grade">
                  <option value="" selected="true" disabled="true">请选择所在年级</option>
                  <option value="1">本科一年级</option>
                  <option value="2">本科二年级</option>
                  <option value="3">本科三年级</option>
                  <option value="4">本科四年级</option>
                  <option value="11">研究生一年级</option>
                  <option value="12">研究生二年级</option>
                  <option value="13">研究生三年级</option>
                  <option value="21">博士一年级</option>
                  <option value="22">博士二年级</option>
                  <option value="23">博士三年级</option>
                  <option value="24">博士四年级</option>
                  <option value="25">博士五年级</option>
              </select>
            </div>
        </div>
      </div>


      <div class="info-block">
        <div class="panel-list">
          <a class="panel-radius login-btn lit-p-bg" ng-click="update_info()">更新信息</a>
        </div>
      </div>
    </div>

  </div>
  </div>
  </div>
    <div class="navbar navbar-app navbar-absolute-bottom">
        <a ng-class="{1: 'nav-bar-2 ', 2: 'nav-bar-2 selected'}[tab_now]" ng-click="tab_now = 2">修改信息</a>
        <a ng-class="{1: 'nav-bar-2 selected', 2: 'nav-bar-2'}[tab_now]" ng-click="tab_now = 1">修改密码</a>
    </div>
</div>