    
<div class="panel-list absolute-center id-list" >

  <button class="panel-radius info-input form-control" onclick="location='/mobile/home/mypost'">我的投递</button>

  <button class="panel-radius info-input form-control" onclick="location='/mobile/position/collect'">我收藏的职位</button>

  <button class="panel-radius info-input form-control" onclick="location='/mobile/company/collect'">我收藏的公司</button>

  <button class="panel-radius info-input form-control" onclick="location='/mobile/home/editresume'">查看编辑简历</button>

  <button class="panel-radius info-input form-control" onclick="location='/mobile/home/infoupdate'">维护个人信息</button>

</div>
<div ng-include="'/static/partials/mobile/partials/nav-3-3.html'" ></div>