<div id="container" controller="DT_HomepageCtrl">
    <div id ="homepage">
        <div class="slide-block">
            <carousel interval="myInterval">
                <slide ng-repeat="slide1 in slides1" active="slide.active">
                    <img ng-src="[[slide1.image]]">
                </slide>
            </carousel>
        </div>
        {% if user.is_authenticated %}
        <div ng-if="role == 1 && username != undefined" class="company-block">
            <div class="company-item"><a ng-href=[[url]]>编辑公司信息</a></div>
            <div class="company-item"><a href="/company/[[company_id]]/position/new/edit">发布新职位</a></div>
            <div class="company-item"><a href="/company/[[company_id]]/resume">处理简历</a></div>
            <div class="company-item"><a href="/company/[[company_id]]/position/manage">管理职位</a></div>
        </div>
        <div ng-if="role == 0 && username != undefined" class="intern-block">
            <div class="intern-item"><a href="/intern/post">我的投递</a></div>
            <div class="intern-item"><a href="/intern/resume/view">我的简历</a></div>
            <div class="intern-item"><a href="/intern/favor/position">我收藏的职位</a></div>
            <div class="intern-item"><a href="/intern/favor/company">我收藏的公司</a></div>
        </div>
        {% endif %}
        <div class="info-block-1">
            <img src="/static/image/logo/underconstruction-01.jpg">
        </div>        
        <div class="slide-block">
            <carousel interval="myInterval">
                <slide ng-repeat="slide2 in slides2" active="slide.active">
                    <img ng-src="[[slide2.image]]">
                </slide>
            </carousel>
        </div>
        <div class="info-block-2">
            <img src="/static/image/logo/underconstruction-01.jpg">
        </div>
        
        <div class="img-block">
            <img class="img-2" src="/static/image/display_img/touzilogo-01.jpg">
            <img class="img-2" src="/static/image/display_img/touzilogo-02.jpg">
            <img class="img-2" src="/static/image/display_img/touzilogo-03.jpg">
            <img class="img-2" src="/static/image/display_img/touzilogo-04.jpg">
            <img class="img-2" src="/static/image/display_img/touzilogo-05.jpg">
            <img class="img-2 last" src="/static/image/display_img/touzilogo-06.jpg">
        </div>
        <div class="img-block">
            <img class="img-2" src="/static/image/display_img/touzilogo-07.jpg">
            <img class="img-2" src="/static/image/display_img/touzilogo-08.jpg">
            <img class="img-2" src="/static/image/display_img/touzilogo-09.jpg">
            <img class="img-2" src="/static/image/display_img/touzilogo-10.jpg">
            <img class="img-2" src="/static/image/display_img/touzilogo-11.jpg">
            <img class="img-2 last" src="/static/image/display_img/touzilogo-12.jpg">
        </div>
        <div class="img-block">
            <img class="img-2" src="/static/image/display_img/touzilogo-13.jpg">
            <img class="img-2" src="/static/image/display_img/touzilogo-14.jpg">
            <img class="img-2" src="/static/image/display_img/touzilogo-15.jpg">
            <img class="img-2" src="/static/image/display_img/touzilogo-16.jpg">
            <img class="img-2" src="/static/image/display_img/touzilogo-17.jpg">

        </div>
    </div>
</div>
