<div id="container" controller="DT_HomepageCtrl">
    <div id ="homepage">
        <div class="right-block">
            <div class="txt">关注我们</div>
            <img class="img-1" src="/static/image/logo/erweima-01.png">
        </div>
    
        <div class="slide-block">
            <carousel interval="myInterval">
                <slide ng-repeat="slide1 in slides1" active="slide.active">
                    <img ng-src="[[slide1.image]]">
                </slide>
            </carousel>
        </div>
        <div ng-if="role == 1 && username != undefined" class="company-block">
            <div class="company-item"><a>编辑公司信息</a></div>
            <div class="company-item"><a>发布新职位</a></div>
            <div class="company-item"><a>处理简历</a></div>
            <div class="company-item"><a>管理职位</a></div>
        </div>
        <div ng-if="role == 0 && username != undefined" class="intern-block">
            <div class="intern-item"><a>我的投递</a></div>
            <div class="intern-item"><a>我的简历</a></div>
            <div class="intern-item"><a>我收藏的职位</a></div>
            <div class="intern-item"><a>我收藏的公司</a></div>
        </div>

        <div class="info-block-1">
        </div>        
        <div class="slide-block">
            <carousel interval="myInterval">
                <slide ng-repeat="slide2 in slides2" active="slide.active">
                    <img ng-src="[[slide2.image]]">
                </slide>
            </carousel>
        </div>
        <div class="info-block-2">
        </div>
        
        <div class="img-block">
            <img class="img-2">
            <img class="img-2">
            <img class="img-2">
            <img class="img-2">
            <img class="img-3">
        </div>
        
        <div class="img-block">
            <img class="img-2">
            <img class="img-2">
            <img class="img-2">
            <img class="img-2">
            <img class="img-3">
        </div>
    </div>
</div>
