<div id="container" ng-controller="DT_LoginCtrl">
    <div id="login" >
        <form class="login-form" ng-submit="login_user()">
            <!--<ul class="nav nav-tabs" ng-init="tab1=true">
              <li role="presentation" ng-click="student()" ng-class="{'active':tab1}"><a href="#">我是学生</a></li>
              <li role="presentation" ng-click="hr()" ng-class="{'active':tab2}"><a href="#">我是企业HR</a></li>
            </ul>-->
            <div id="login_form">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-input" placeholder="用户名" ng-model="login_info.username" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                         <input type="password" class="form-input" placeholder="密码" ng-model="login_info.password" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group" id="captcha_form">
                        <input type="text" class="form-input" id='captcha_input' placeholder="验证码" ng-model="login_info.captcha" required>
                    </div>
                    <img ng-src='[[captcha_url]]' id="captcha_img" alt="验证码">
                    <a ng-click="refresh()" class="fresh"><i class="icon-repeat icon-large"></i></a>
                </div>
                <button id="login_button">登录</button>
                <br/>
                <div id="options">
                    <a href="/password/forgetpwd" class="findpwd">忘记密码？</a>
                    <a title="注册犀牛账号" class="regbtn" href="/register">立即注册</a>
                </div>
                <div id="err-msg" ng-show="error.show"  ng-class="error.class">[[error.message]]</div>
            </div>
        </form>
    </div>
</div>