<div id="container" controller="DT_RegisterCtrl">
    <div id="register">

        <form class="ui form segment" ng-submit="register()" name="registerForm">
            <ul class="tabs" ng-init="tab1=true">
              <li role="presentation" ng-class="{'active':tab1}" ng-click="student()"><a href="#">我是学生</a></li>
              <li role="presentation" ng-class="{'active':tab2}" ng-click="hr()"><a href="#">我是企业HR</a></li>
            </ul>
            <div id="reg_form">
               <div class="form-group">
                    <div class="input-group">
                        <input ng-pattern="/[a-z0-9A-Z_]{6,20}/" name="username" type="text" class="form-control" placeholder="用户名" ng-blur="check_username()" ng-model-options="{ updateOn: 'blur'}" ng-model="reg_info.username" required>
                    </div>
                    <span ng-show="showError(registerForm.username,'pattern')" class="err-msg">
                        <i class="icon-warning-sign"></i>用户名长度在6~20，不能包含特殊字符
                    </span>
                    <span ng-show="check.exist" class="err-msg">
                        <i class="icon-warning-sign"></i>用户名已存在
                    </span>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <input name="email" type="email" class="form-control" placeholder="邮箱" ng-model="reg_info.email" ng-blur="check_email()" required>
                    </div>
                    <span ng-show="showError(registerForm.email,'email')" class="err-msg">
                        <i class="icon-warning-sign"></i>请输入正确的邮箱格式，如hxq@xiniu.com
                    </span>
                    <span ng-show="e_check.exist" class="err-msg">
                        <i class="icon-warning-sign"></i>邮箱已被注册
                    </span>
                </div>

                <div class="form-group" ng-if="reg_info.role==1">
                    <div class="input-group">
                        <input name="hr_cellphone" type="text" class="form-control" placeholder="hr手机" ng-model="reg_info.hr_cellphone" ng-pattern="/\d{11}/" required >
                    </div>
                    <span ng-show="showError(registerForm.hr_cellphone,'pattern')" class="err-msg">
                        <i class="icon-warning-sign"></i>请输入正确格式的11位手机号码
                    </span>
                </div>

                <div class="form-group">
                    <div class="input-group">
                         <input name="password" type="password" class="form-control" placeholder="密码" ng-model="reg_info.password" ng-minlength="6" required>
                    </div>
                    <span ng-show="showError(registerForm.password,'minlength')" class="err-msg">
                        <i class="icon-warning-sign"></i>为保证安全，密码最少为6位
                    </span>
                </div>

                <div class="form-group">
                    <div class="input-group">
                         <input type="password" class="form-control" placeholder="密码确认" ng-model="repeate_password" ng-minlength="6" required>
                    </div>
                    <span ng-show="reg_info.password != repeate_password" class="err-msg">
                        <i class="icon-warning-sign"></i>两次输入密码需一致
                    </span>
                </div>

                <div class="form-group">
                    <div class="input-group"  id = "captcha_form">
                        <input type="text" class="form-control" placeholder="验证码" ng-model="reg_info.captcha" required>
                    </div>
                    <img ng-src='[[captcha_url]]' id="captcha_img" alt="验证码">
                    <a ng-click="refresh()" class="fresh"><i class="icon-repeat icon-large"></i></a>

                </div>
                <button id="regist_button">注册</button>
                </br>
                <div id="options">
                    已有犀牛账号？
                    <a title="登录账号" class="regbtn" href="/login">立即登录</a>
                </div>
                <br/>
                <div id="err-msg" ng-show="error.show"  ng-class="error.class">[[error.message]]</div>
            </div>

        </form>
    </div>

</div>