<div id="container" controller="DT_RegisterCtrl">
    <div id="register" class="col-md-5">

        <form class="ui form segment" ng-submit="register()" name="registerForm">
            <ul class="nav nav-tabs" ng-init="tab1=true">
              <li role="presentation" ng-class="{'active':tab1}" ng-click="student()"><a href="#">我是学生</a></li>
              <li role="presentation" ng-class="{'active':tab2}" ng-click="hr()"><a href="#">我是企业HR</a></li>
            </ul>
            <div id="reg_form">
               <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="icon-user icon-large"></i>
                        </div>
                        <input name="username" type="text" class="form-control" placeholder="用户名" ng-blur="check_username()" ng-model-options="{ updateOn: 'blur'}" ng-model="reg_info.username" required>
                    </div>
                    <span ng-hide="check.exist" class="err-msg">
                        <i class="icon-warning-sign"></i>用户名不存在
                    </span>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="icon-envelope icon-large"></i>
                        </div>
                        <input name="email" type="email" class="form-control" placeholder="邮箱" ng-model="reg_info.email" required>
                    </div>
                    <span ng-show="showError(registerForm.email,'email')" class="err-msg">
                        <i class="icon-warning-sign"></i>请输入正确的邮箱格式，如hxq@xiniu.com
                    </span>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="icon-key icon-large"></i></div>
                         <input type="password" class="form-control" placeholder="密码" ng-model="reg_info.password" ng-minlength="6" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="icon-key icon-large"></i></div>
                         <input type="password" class="form-control" placeholder="密码确认" ng-model="repeate_password" ng-minlength="6" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group"  id = "captcha_form">
                        <div class="input-group-addon"><i class="icon-picture icon-large"></i></div>
                        <input type="text" class="form-control" placeholder="验证码" ng-model="reg_info.captcha" required>
                    </div>
                    <img ng-src='[[captcha_url]]' id="captcha_img" alt="验证码">
                    <a ng-click="refresh()" class="btn btn-link">换一张</a>

                </div>
                <button id="regist_button">注册</button>
                </br>
                <div id="options">
                    已有犀牛账号？
                    <a title="登录账号" class="regbtn" href="/login">立即登录</a>
                </div>
                <br/>
                <div id="err-msg" ng-show="error.show"  ng-class="error.class">[[error.message]]</div>
            </div>

        </form>
    </div>
    <div class="col-md-7  right-word">
        <h2>找实习，就找犀牛！</h2>
        <img src="/static/image/logo/qrcode.jpg">
        <p>扫码关注微信公众号：犀牛实习</p>
    </div>
</div>