<div id="footer">
      <div class="container">
        <div class="navbar-footer">
          <div id="footer-navbar-logo" class="navbar-logo">
            <img src="/static/image/logo/logo-white.png">
          </div>
          <ul id="footer-nav" >
            <li><a href="/about">关于我们</a></li>
            <li><a>|</a></li>
            <li><a href="/feedback">用户反馈</a></li>
            <li><a>|</a></li>
            <li><a href="#">网站地图</a></li>
          </ul>
          <div id="footer-brand">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Copyright&copy;2015清华创加</br>ICP备案12940683|京公安备案10387502号
          </div>
        </div><!--/.nav-collapse -->
      </div>
    </div>
</div>