<header ng-controller="DT_HeaderCtrl" xmlns="http://www.w3.org/1999/html">
    <div id="header">
        <div class="header-head"></div>
        <nav class="navbar">
            <div class="navbar-header">
               <div id="head-logo">
                   <a href="/" ng-click="homepage_active()"><img src="/static/image/logo/headerlogo-01.png"></a>
               </div>
            {% if not user.is_authenticated%}
              <ul class="nav navbar-nav navbar-item not-login" ng-init="homepage=true">
                 <li ng-class="{'active':header.homepage}" ng-click="homepage_active()"><a href="/">首页</a></li>
                 <li ng-class="{'active':header.company}" ng-click="company_active()"><a href="/company/list">公司列表</a></li>
                 <li ng-class = "{'active':header.position}" ng-click="position_active()"><a href="/position/list">职位列表</a></li>
              </ul>
            {% endif %}

            {% if user.is_authenticated %}
              <ul class="nav navbar-nav navbar-item login" ng-init="homepage=true">
                 <li ng-class="{'active':header.homepage}" ng-click="homepage_active()"><a href="/">首页</a></li>
                 <li ng-class="{'active':header.company}" ng-click="company_active()"><a href="/company/list">公司列表</a></li>
                 <li ng-class = "{'active':header.position}" ng-click="position_active()"><a href="/position/list">职位列表</a></li>
                 {% if role == 1 %}
                 <li ng-class = "{'active':header.resume}" ng-click="resume_active()"><a href="/company/[[company_id]]/resume">处理简历</a></li>
                 {% else %}
                 <li ng-class = "{'active':header.resume}" ng-click="resume_active()"><a href="/intern/resume/view">查看简历</a></li>
                 {% endif %}
                 <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">[[username]]<b class="caret"></b></a>

                    {% if role == 1 %}
                        <ul class="dropdown-menu" ng-class = "{'active':header.resume}" ng-click="user_active()">
                           <li><a ng-href=[[url]]>编辑公司信息</a></li>
                           <li><a href="/company/[[company_id]]/position/new/edit">发布岗位</a></li>
                           <li><a href="/company/[[company_id]]/position/manage">管理职位</a></li>
                           <li><a href="/company/account">账户设置</a></li>
                           <li><a ng-click="logout()">退出登录</a></li>
                        </ul>
                    {% elif role == 0 %}
                        <ul class="dropdown-menu">
                           <li><a href="/intern/post">我的投递</a></li>
                           <li><a href="/intern/favor/company">收藏的公司</a></li>
                           <li><a href="/intern/favor/position">收藏的岗位</a></li>
                           <li><a href="/intern/info">账户设置</a></li>
                           <li><a ng-click="logout()">退出登录</a></li>
                        </ul>
                    {% elif role == -1 %}
                        <ul class="dropdown-menu">
                           <li><a href="#">管理公司</a></li>
                           <li><a href="#">管理实习生</a></li>
                           <li><a ng-click="logout()">退出登录</a></li>
                        </ul>
                    {% endif %}
                 </li>
              </ul>
            {% endif %}
            {% if not user.is_authenticated %}
            <ul class="header-item">
                   <li class="item log_register">
                       <img src="/static/image/icon/login-01.png">
                       <a ng-click="login()">登录</a>·<a ng-click="register()">注册</a>
                   </li>

               <li class="item" on-mouseover="scan_mouseover()" on-mouseout="scan=false">
                   <img src="/static/image/icon/scan-01.png">
                   <a>关注</a>
               </li>
               <li class="item search" on-mouseover="search=true" on-mouseout="out_search_icon()">
                   <img src="/static/image/icon/search-01.png">
                   <a>搜索</a>
               </li>
            </ul>
            <div class="qrcode_img not_login" ng-if="scan">
                <img src="/static/image/logo/erweima-01.png">
            </div>
            <div class="search_input"  on-mouseover="search_mouseover()" on-mouseout="search_mouseout()" ng-show="search">
                <input type="text" class="form-control" placeholder="搜索公司或职位">
                <button class="search-btn"><i class="icon-search"></i></button>
            </div>
            {% endif %}

            {% if user.is_authenticated  %}
            <ul class="header-item">
               <li class="item" on-mouseover="scan_mouseover()" on-mouseout="scan=false">
                   <img src="/static/image/icon/scan-01.png">
                   <a>关注</a>
               </li>
               <li class="item search login" on-mouseover="search=true">
                   <img src="/static/image/icon/search-01.png">
                   <a>搜索</a>
               </li>
            </ul>
            <div class="qrcode_img login" ng-if="scan">
                <img src="/static/image/logo/erweima-01.png">
            </div>
            <div class="search_input login"  on-mouseover="search_mouseover()" on-mouseout="search_mouseout()" ng-show="search">
                <input type="text" class="form-control" placeholder="搜索公司或职位">
                <button class="search-btn"><i class="icon-search"></i></button>
            </div>
            {% endif %}
        </nav>
    </div>
    <div class="shadow"></div>
    <div style="clear:both;"></div>
</header>
