<header ng-controller="DT_HeaderCtrl">
    <div id="header">
        <div class="header-head"></div>
        <nav class="navbar">
            <div class="navbar-header">
               <div id="head-logo">
                   <img src="/static/image/logo/headerlogo-01.png">
               </div>
              <ul class="nav navbar-nav navbar-item" ng-init="homepage=true">
                 <li ng-class="{'active':homepage}" ng-click="homepage_active()"><a href="/company/list">首页</a></li>
                 <li ng-class="{'active':company}" ng-click="company_active()"><a href="/company/list">公司列表</a></li>
                 <li ng-class = "{'active':position}" ng-click="position_active()"><a href="/position/list">职位列表</a></li>
              {% if user.is_authenticated %}
                 {% if role == 1 %}
                 <li ng-class = "{'active':resume}" ng-click="resume_active()"><a href="/company/resume">处理简历</a></li>
                 {% else %}
                 <li ng-class = "{'active':resume}" ng-click="resume_active()"><a href="/intern/resume">查看简历</a></li>
                 {% endif %}

                 <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">我的<b class="caret"></b></a>

                    {% if role == 1 %}
                    <ul class="dropdown-menu">
                       <li><a ng-href=[[url]]>公司信息</a></li>
                       <li><a href="/company/position/new/edit">发布职位</a></li>
                       <li><a href="/company/[[company_id]]/position/manage">管理职位</a></li>
                       <li class="divider"></li>
                       <li><a ng-click="logout()">退出登录</a></li>
                    </ul>
                    {% elif role == 0 %}
                    <ul class="dropdown-menu">
                       <li><a href="/intern/info">个人主页</a></li>
                       <li><a href="/intern/post">我的投递</a></li>
                       <li class="divider"></li>
                       <li><a href="/intern/favor/company">收藏的公司</a></li>
                       <li><a href="/intern/favor/position">收藏的岗位</a></li>
                       <li class="divider"></li>
                       <li><a ng-click="logout()">退出登录</a></li>
                    </ul>
                    {% elif role == -1 %}
                        <ul class="dropdown-menu">
                           <li><a href="#">管理公司</a></li>
                           <li><a href="#">管理实习生</a></li>
                           <li><a ng-click="logout()">退出登录</a></li>
                        </ul>
                    {% endif %}
                    {% endif %}
                 </li>
              </ul>
              {% if not user.is_authenticated %}
                   <ul class="reg-login">
                       <li><a href="/login">登录</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="/register">注册</a></li>
                   </ul>
              {% endif %}
           </div>
        </nav>

              <ul class="nav navbar-nav search">
                 <li id="search">
                     <input type="text" class="form-control" placeholder="搜索公司或职位">
                 </li>
                 <li id="search_btn"><button type="button" class="btn btn-default navbar-btn"><i class="icon-search"></i></button></li>
              </ul>
    </div>
</header>
