<!DOCTYPE html>
<html ng-app="chuangplus_mobile">
  <head>
    <meta charset="utf-8" />
    <title ng-bind="'犀牛 | ' + $root.title">犀牛 | </title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
    <meta name="apple-mobile-web-app-status-bar-style" content="yes" />
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/static/lib/mobile-angular/css/mobile-angular-ui-hover.min.css" />
    <link rel="stylesheet" href="/static/lib/mobile-angular/css/mobile-angular-ui-base.min.css" />
    <link rel="stylesheet" href="/static/lib/mobile-angular/css/mobile-angular-ui-desktop.min.css" />

    <script src="/static/lib/angular-1.2.6/angular.min.js"></script>
    <script src="/static/lib/jquery-1.11.0.min.js"></script>
    <script src="/static/js/mobile/jquery_cookie.js"></script>
    <script src="/static/lib/angular-1.2.6/angular-route.min.js"></script>
    <script src="/static/lib/angular-1.2.6/angular-cookies.min.js"></script>
    <script src="/static/lib/angular-1.2.6/angular-touch.min.js"></script>
    <script src="/static/lib/fileupload/angular-file-upload-shim.min.js"></script> 
    <script src="/static/lib/fileupload/angular-file-upload.min.js"></script>
    <script src="/static/lib/mobile-angular/js/mobile-angular-ui.min.js"></script>
    <script src="/static/lib/mobile-angular/js/mobile-angular-ui.gestures.min.js"></script>


    <link rel="stylesheet" href="/static/css/mobile/style.css"/>

</head>

    <body class="" ui-prevent-touchmove-defaults>
    <div class="sidebar sidebar-left" ui-yield-to="sidebar-left-ui"></div>
    <div class="sidebar sidebar-right"><!-- ... --></div>
    <!--
    <a  ui-toggle='uiSidebarLeft'>Toggle sidebar left</a>
    -->
    <div class="app" >
      <div ui-yield-to="header"></div>
      <!-- App Body -->
      <div class="app-body has-navbar-top" ng-class="{loading: loading}">
        <div ng-show="loading" class="app-content-loading">
          <i class="fa fa-spinner fa-spin loading-spinner"></i>
        </div>
          <ng-view></ng-view>
      </div>
    </div>
    <!-- ~ .app -->
    <div ui-yield-to="overlays"></div>

    <script src="/static/js/mobile/app_mobile.js"></script>
    <script src="/static/js/mobile/services_mobile.js"></script>
    <script src="/static/js/mobile/controllers_mobile.js"></script>
    <script src="/static/js/mobile/filters_mobile.js"></script>
    <script src="/static/js/mobile/directives_mobile.js"></script>
  </body>

</html>
