<div ng-controller="MB_PositionFavorCtrl">
    <div class="notice-bar">
        notice
    </div>
    <div class="main-content scrollable">
        <div class="scrollable-content">
            <div class="header-bar">
                <div class="logo sidebar-toggle" ui-toggle="uiSidebarLeft">
                        <i class="fa fa-bars" style="color: white;"></i>
                </div>
                <div ng-include="'/static/partials/mobile/partials/sidebar-left.html'" ></div>
                <div class="header"> 职位收藏</div>
            </div> 
            <div class="comp-list">
                <div class="comp-listbox"  ng-repeat="position in positions" >
                    <div ng-class="{'closed': 'gray-mask', 'open': ''}[position.status]">
                        <a ng-click="go_detail('[[position._id.$oid]]')">
                            <img class="comp-prev-img" src="/api/file/[[position.company.logo_id]]/download">
                            <div class="comp-info-block">
                                <div class="comp-name">[[position.position_type_value]] | [[position.name]]</div>

                                <div class="comp-req-list">
                                    <span class="comp-req-title">[[position.company.abbreviation]] |<span ng-if="position.company.is_auth" style="font-size: 12px;color: #8F4E96;"> [[position.company.auth_organization]]认证</span></span>
                                </div>
                                <div class="comp-desc">[[position.company.brief_introduction]]</div>

                                <div class="comp-desc-list">
                                    <span class="comp-desc-tag" ng-if="position.part_or_full_time == 0">
                                        实习[[position.days_per_week]]天/周
                                    </span>
                                    <span class="comp-desc-tag" ng-if="position.part_or_full_time == 1">
                                        全职
                                    </span>
                                    <span class="comp-desc-tag">
                                        [[position.salary_min]]K-[[position.salary_max]]K
                                    </span>
                                    <span class="comp-desc-tag">
                                        [[position.field_value]]
                                    </span>
                                    <span class="comp-desc-tag">
                                        [[position.company.scale_value]]期
                                    </span>
                                    <span class="comp-desc-tag">
                                        [[position.company.city]]
                                    </span>
                                </div>
                                <div class="post-time">
                                    发布时间：[[position.release_time.$date |date :'yyyy/MM/dd']]
                                </div>
                            </div>
                        </a>
                        <div class="send-resume" ui-turn-on="submitresume" ng-click="setPostIndex($index)" ng-show="!position.resume_submitted && resume_compelete">
                            <i class="fa fa-envelope send-resume-logo"></i>
                            <div class="send-resume-text">投递简历</div>
                        </div>
                        <div class="send-resume" ui-turn-on="addresume" ng-show="!position.resume_submitted && !resume_compelete">
                            <i class="fa fa-envelope send-resume-logo"></i>
                            <div class="send-resume-text">投递简历</div>
                        </div>
                        <div class="send-resume" ng-show='position.resume_submitted' style="right:14px !important;">
                            <i class="fa fa-check-square-o send-resume-logo"></i>
                            <div class="send-resume-text">已投递</div>
                        </div>

                    </div>
                </div>
                <a ng-if="positions.length == 0" class="empty-block" href="/mobile/position/list">
                    <div class="empty-title">
                        你还没有收藏任何职位
                        快去职位列表看看吧
                    </div>
                    <img class="empty-pic" src="/static/image/mobile/arrow-01.png"> 
                </a>
            </div>
        </div>
    </div>
    <div class="navbar navbar-app navbar-absolute-bottom">
        <a class="nav-bar-2 selected" ng-if="resume_compelete"ng-click="submit_all()">一键全部投递</a>
        <a class="nav-bar-2 selected" ng-if="!resume_compelete" ui-turn-on="addresume">一键全部投递</a>
        <a class="nav-bar-2 " ng-click='clear_invalid'>清除失效岗位</a>
    </div>
    <div ng-if="is_login && !resume_compelete" ui-content-for="overlays">
        <div ng-include="'/static/partials/mobile/partials/overlay_addresume.html'"></div>
    </div>
    <div ng-if="is_login && resume_compelete" ui-content-for="overlays">
        <div class="modal" ui-if='submitresume' ui-state='submitresume'>
          <div class="modal-backdrop in"></div>
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button class="close" 
                        ui-turn-off="submitresume">&times;</button>
                <h4 class="modal-title">确认投递简历</h4>
              </div>
              <div class="modal-body">
                <p>是否确认投递[[nowPosition.company.abbreviation]]公司的职位<span style="color:#966497">[[nowPosition.position_type_value]] / [[nowPosition.name]]</span>？</p>
              </div>
              <div class="modal-footer">
                <a ui-turn-off="submitresume" class="btn btn-primary" ng-click="submit_posi('[[postIndex]]')">确认</a>
                <button ui-turn-off="submitresume" class="btn btn-default">取消</button>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
