<div ng-controller="MB_PositionDetailCtrl">
    <div class="main-content scrollable">
        <div class="scrollable-content">
            <div class="header-bar">
                <div class="header">职位详情</div>
            </div>    
            <div class="comp-detail">
                    <div class="posi-detail padding">

                        <div class="detail-name">[[position.position_type_value]] | [[position.name]]</div>
                        <div class="posi-condition"> 
                            <div class="posi-condition-elem" ng-if="position.status == 'open'">
                                职位在招
                            </div>
                            <div class="posi-condition-elem" ng-if="position.status == 'closed'">
                                职位关闭
                            </div>

                            <div class="posi-condition-elem">
                                [[position.submit_num]]人投选
                            </div>
                        </div>
                        <div class="comp-desc-list">
                            <span class="comp-desc-tag">
                                [[position.days_per_week]]天/周
                            </span>
                            <span class="comp-desc-tag">
                                [[position.salary_min]]K-[[position.salary_max]]K
                            </span>
                            <span class="comp-desc-tag">
                                [[position.field_value]]
                            </span>
                            <span class="comp-desc-tag">
                                [[position.scale_value]]期
                            </span>
                            <span class="comp-desc-tag">
                                [[position.company.city]]
                            </span>
                        </div>
                        <!--
                        <div class="comp-benefit-list">
                            <div class="comp-benefit-tag">
                                班车接送xx
                            </div>
                            <div class="comp-benefit-tag">
                                午餐补助
                            </div>
                        </div>
                        -->
                        <div class="post-time">
                            发布时间：[[position.release_time.$date |date :'yyyy-MM-dd HH:mm:ss']]
                        </div>
                    </div>
                    <div class="comp-map padding">
                        <div class="icon">
                        <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="addr"> [[position.work_address]] </div>
                        
                    </div>
            </div>

            <div class="comp-detail">

                <a class="comp-listbox no-margin" href="/mobile/company/detail/[[position.company._id.$oid]]">
                    <img class="comp-prev-img" src="/static/pic/comp_prev.jpg">
                    <div ng-if="company.is_auth" class="comp-auth">[[company.auth_organization]]认证</div>
                    <div class="comp-name">[[position.company.abbreviation]]</div>
                    <div class="comp-more-info" >查看公司 <i class="fa fa-chevron-right"></i> </div>
                    <div class="comp-desc">[[position.company.brief_introduction]]</div>

                    <div class="comp-req-list">
                        <span class="comp-req-title">[[position.position_number]]岗位在招</span>
                        <span class="comp-req-tag" ng-repeat="tag in position.company.position_type_value">[[tag]]</span>
                    </div>
                    <div class="comp-desc-list">
                        <span class="comp-desc-tag">
                            [[position.field_value]]
                        </span>
                        <span class="comp-desc-tag">
                            [[position.scale_value]]期
                        </span>
                        <span class="comp-desc-tag">
                            [[position.company.city]]
                        </span>
                    </div>

                    <div class="comp-benefit-list">
                        <span class="comp-benefit-tag" ng-repeat="tag in position.company.welfare_tags">[[tag]]</span>
                    </div>
                </a>
            </div>

            <div class="detail-desc padding">
                <div class="desc-block">
                    <span class="desc-title">
                        工作内容
                    </span>
                    <span class="desc-content">
                        [[position.position_description]]
                    </span>
                </div>

                <div class="desc-block">
                    <span class="desc-title">
                        要求
                    </span>
                    <span class="desc-content">
                        [[position.position_request]]
                    </span>
                </div>

            </div>
        </div>
    </div>
    <div ui-content-for="footer">
        <div class="navbar navbar-app navbar-absolute-bottom">
            <div class="nav-bar-2 selected">投简历</div>
            <div ng-click="post()" class="nav-bar-2 ">[[post_value]]</div>
        </div>
    </div>
</div>
