<div class="main-content scrollable" ng-controller="MB_PositionListCtrl">
<div class="scrollable-content">
        <div class="header-bar">
            <div class="logo sidebar-toggle" ui-toggle="uiSidebarLeft">
                    <i class="fa fa-bars" style="color: white;"></i>
            </div>
            <div ng-include="'/static/partials/mobile/partials/sidebar-left.html'" ></div>
            <div class="header"> 犀牛·帮你找实习</div>
        </div>    
        <div id="filter-content">
            <div class="padding">
                <div class="filter-squ">
                    <div class="filter-title">
                        每周至多工作几天
                    </div>
                    <div class="filter-elem filter-single-line">
                        <label><input type="radio" name="work-time" value="0" ng-model="filter.workdays" >弹性时间</label> 
                    </div>
                    <div class="filter-elem">
                        <label><input type="radio" name="work-time" value="3" ng-model="filter.workdays"/>3天</label> 
                    </div>
                    <div class="filter-elem">
                        <label><input type="radio" name="work-time" value="4" ng-model="filter.workdays"/>4天</label> 
                    </div>
                    <div class="filter-elem">
                        <label><input type="radio" name="work-time" value="5" ng-model="filter.workdays"/>5天</label> 
                    </div>
                    <div class="filter-elem">
                        <label><input type="radio" name="work-time" value="6" ng-model="filter.workdays"/>6天</label> 
                    </div>
                    <div class="filter-elem">
                        <label><input type="radio" name="work-time" value="7" ng-model="filter.workdays"/>7天</label> 
                    </div>
                </div>

                <div class="filter-squ">
                    <div class="filter-title">
                        月薪下限
                    </div>
                    <!--
                        <div class="filter-elem">
                            <label><input type="checkbox" value="1" id="1"/>没有要求</label> 
                        </div>
                    -->
                    <div class="filter-elem">
                        请填写整数
                        <input type="number" ng-model="filter.salary" class="inline-input"/>
                        K
                    </div>
                </div>

                <div class="filter-squ">
                    <div class="filter-title">
                        行业/领域
                    </div>
                    <!--
                        <div class="filter-elem filter-single-line">
                            <label><input type="checkbox" value="1" />没有要求</label> 
                        </div>
                    -->
                    <div class="filter-elem">
                        <label><input type="checkbox" ng-model="filter.field.social" />社交</label> 
                    </div>
                    <div class="filter-elem">
                        <label><input type="checkbox"  ng-model="filter.field.e_commerce" />电子商务</label> 
                    </div>
                    <div class="filter-elem">
                        <label><input type="checkbox"  ng-model="filter.field.education" />教育</label> 
                    </div>
                    <div class="filter-elem">
                        <label><input type="checkbox"  ng-model="filter.field.health_medical" />健康医疗</label> 
                    </div>
                    <div class="filter-elem">
                        <label><input type="checkbox"  ng-model="filter.field.culture_creativity" />文化创意</label> 
                    </div>
                    <div class="filter-elem">
                        <label><input type="checkbox"  ng-model="filter.field.living_consumption" />生活消费</label> 
                    </div>
                    <div class="filter-elem">
                        <label><input type="checkbox"  ng-model="filter.field.hardware" />硬件</label> 
                    </div>
                    <div class="filter-elem">
                        <label><input type="checkbox"  ng-model="filter.field.O2O" />O2O</label> 
                    </div>
                    <div class="filter-elem">
                        <label><input type="checkbox"  ng-model="filter.field.others" />其它</label> 
                    </div>
                </div>

                <div class="filter-squ">
                    <div class="filter-title">
                        职位类型
                    </div>
                    <!--
                        <div class="filter-elem filter-single-line">
                            <label><input type="checkbox" value="1" />没有要求</label> 
                        </div>
                    -->
                    <div class="filter-elem">
                        <label><input type="checkbox" ng-model="filter.type.technology" />技术</label> 
                    </div>
                    <div class="filter-elem">
                        <label><input type="checkbox" ng-model="filter.type.operate" />运营</label> 
                    </div>
                    <div class="filter-elem">
                        <label><input type="checkbox" ng-model="filter.type.product" />产品</label> 
                    </div>
                    <div class="filter-elem">
                        <label><input type="checkbox" ng-model="filter.type.design" />设计</label> 
                    </div>
                    <div class="filter-elem">
                        <label><input type="checkbox" ng-model="filter.type.marketing" />市场</label> 
                    </div>
                    <div class="filter-elem">
                        <label><input type="checkbox" ng-model="filter.type.functions" />职能</label> 
                    </div>

                </div>
                <a class="panel-radius btn-b-pur filter-btn" ng-click="submit_filter()">按条件筛选职位</a>
                <a class="panel-radius btn-b-pur filter-btn info-input" ng-click="hide_filter()">返回</a>
            </div>

        </div>

        <div id="list-content" ng-show="!filter_show">
            <div class="require-bar">
                <div class="requires">
                    <div class="require-box">[[workdays_notice]]</div>
                    <div class="require-box">[[salary_notice]]</div>
                    <div class="require-box">[[filed_notice]]</div>
                    <div class="require-box">[[type_notice]]</div>
                </div>
                <div class="require-btn" ng-click="show_filter()">&nbsp;</div>
            </div>

            <div class="search-bar">
                  <input class=" search-input form-control" type="text" ng-model="search_name" placeholder="输入关键词进行搜索">
                  <a class="search-btn" ng-click="submit_search()"><i class="fa fa-search"></i>搜索</a>
            </div>

            <div class="comp-list" >
                <div ng-repeat="position in positions">
                    <a class="comp-listbox" ng-href="/mobile/position/detail/[[position._id.$oid]]" >
                        <img class="comp-prev-img" ng-src="/api/file/[[position.company.logo_id]]/download">
                        <img class="comp-more-info-arrow" src="/static/image/icon/jiantou.png">
                        <div class="comp-list-info-block">
                            <div ng-if="position.company.is_auth" class="comp-auth">[[position.company.auth_organization]]认证</div>
                            <div class="comp-name">[[position.position_type_value]] | [[position.name]]</div>

                            <div class="comp-req-list">
                                <span class="comp-req-title">[[position.company.abbreviation]]</span>
                            </div>
                            <div class="comp-desc">[[position.company.brief_introduction]]</div>

                            <div class="comp-desc-list">
                                <span class="comp-desc-tag">
                                    [[position.days_per_week]]天/周
                                </span>
                                <span class="comp-desc-tag">
                                    [[position.salary_min]]K-[[position.salary_max]]K
                                </span>
                                <span class="comp-desc-tag">
                                    [[position.field_value]]
                                </span>
                                <span class="comp-desc-tag">
                                    [[position.company.scale_value]]期
                                </span>
                                <span class="comp-desc-tag">
                                    [[position.company.city]]
                                </span>
                            </div>

                            <div class="post-time">
                                发布时间：[[position.release_time.$date |date :'yyyy/MM/dd']]
                            </div>
                        </div>
                    </a>
                </div>
                <a class="load-more-btn" ng-click="load_more_item()" ng-show="pagenow > 0">
                    点击加载更多
                </a>
                <div class="no-more-btn" ng-show="pagenow <= 0">
                    没有更多了
                </div>
            </div>
        </div>
</div>
</div>
<div class="navbar navbar-app navbar-absolute-bottom">
    <a class="nav-bar-3 selected"  ng-href="/mobile/position/list" >职位</a>
    <a class="nav-bar-3 " ng-href="/mobile/index">公司</a>
    <a class="nav-bar-3 " ng-href="/mobile/home" >个人中心</a>
</div>

