<div class="main-content scrollable">
<div class="scrollable-content">
    <div class="header-bar">
        <img src="/static/image/logo/100px/logo_white.png" class="logo">
        <div class="header"> 犀牛·帮你找实习</div>
    </div>    

    <div class="require-bar">
        <div class="requires">
            <div class="require-box">每周五天</div>
            <div class="require-box">3K</div>
            <div class="require-box">电子商务</div>
            <div class="require-box">产品</div>
        </div>
        <button class="require-btn" onclick="location='/mobile/position/filter'">编辑条件</button>
    </div>

    <div class="search-bar">
          <input class=" search-input form-control" type="text" placeholder="输入关键词进行搜索">
    </div>

    <div class="comp-list">
        <a class="comp-listbox" href="/mobile/position/detail">
            <img class="comp-prev-img" src="/static/pic/comp_prev.jpg">
            <div class="comp-auth">红杉资本认证</div>
            <div class="comp-name">产品经理</div>

            <div class="comp-req-list">
                <span class="comp-req-title">清华创+</span>
            </div>
            <div class="comp-desc">高校创业服务机构</div>

            <div class="comp-desc-list">
                <span class="comp-desc-tag">
                    5天/周
                </span>
                <span class="comp-desc-tag">
                    5K-8K
                </span>
                <span class="comp-desc-tag">
                    创业服务
                </span>
                <span class="comp-desc-tag">
                    初创期
                </span>
                <span class="comp-desc-tag">
                    北京
                </span>
            </div>

            <div class="post-time">
                发布时间：2015年7月21日
            </div>
        </a>
    </div>
</div>
</div>
<div ng-include="'/static/partials/mobile/partials/nav-3-1.html'" ></div>

