<div class="main-content scrollable" ng-controller="MB_PositionListCtrl">
<div class="scrollable-content">
    <div class="header-bar">
        <div ng-include="'/static/partials/mobile/partials/header-logo.html'" ></div>
        <div class="header"> 犀牛·帮你找实习</div>
    </div>    

    <div class="require-bar">
        <div class="requires">
            <div class="require-box">每周五天</div>
            <div class="require-box">3K</div>
            <div class="require-box">电子商务</div>
            <div class="require-box">产品</div>
        </div>
        <button class="require-btn" onclick="location='/mobile/position/filter'">编辑条件</button>
    </div>

    <div class="search-bar">
          <input class=" search-input form-control" type="text" placeholder="输入关键词进行搜索">
    </div>

    <div class="comp-list">
        <a class="comp-listbox" href="/mobile/position/detail/[[position._id.$oid]]" ng-repeat="position in positions">
            <img class="comp-prev-img" src="/api/file/[[position.company.logo_id]]/download">
            <div ng-if="position.company.is_auth" class="comp-auth">[[position.company.auth_organization]]认证</div>
            <div class="comp-name">[[position.position_type_value]] | [[position.name]]</div>

            <div class="comp-req-list">
                <span class="comp-req-title">[[position.company.abbreviation]]</span>
            </div>
            <div class="comp-desc">[[position.company.brief_introduction]]</div>

            <div class="comp-desc-list">
                <span class="comp-desc-tag">
                    [[position.days_per_week]]天/周
                </span>
                <span class="comp-desc-tag">
                    [[position.salary_min]]K-[[position.salary_max]]K
                </span>
                <span class="comp-desc-tag">
                    [[position.field_value]]
                </span>
                <span class="comp-desc-tag">
                    [[position.company.scale_value]]
                </span>
                <span class="comp-desc-tag">
                    [[position.company.city]]
                </span>
            </div>

            <div class="post-time">
                发布时间：[[position.release_time.$date |date :'yyyy-MM-dd HH:mm:ss']]
            </div>
        </a>
    </div>
</div>
</div>
<div ui-content-for="footer">
<div ng-include="'/static/partials/mobile/partials/nav-3-1.html'" ></div>
</div>

