
<div class="info-input-content">     
  <form name="info" id="info" role="form" ng-submit='submit_info()'>
    <div class="panel-list">
      <span class="panel-radius form-control info-input">
        <input class="panel-elem-full" type="text" placeholder="学校">
      </span>

      <span class="panel-radius form-control info-input">
        <input class="panel-elem-full" type="text" placeholder="专业">
      </span>

      <span class="panel-radius form-control info-input">
        <select class="panel-elem-full">
          <option value ="">选择年级</option>
          <option value ="大一">大一</option>
          <option value="大二">大二</option>
          <option value="大三">大三</option>
          <option value="大四">大四</option>
          <option value="硕士">硕士</option>
          <option value="博士">博士</option>
        </select>
      </span>
    </div>
  </form>
</div>

<div class="info-enter">
  <div class="panel-list">
    <button class="panel-radius login-btn form-control">进入犀牛</button>
  </div>
</div>

