<div ng-controller="MB_LoginCtrl">
<div ng-include="'/static/partials/mobile/partials/sidebar-left.html'" ></div>
<div class="notice-bar">
  notice
</div>
<div ng-swipe-right='Ui.turnOn("uiSidebarLeft")'  ui-swipe-left='Ui.turnOff("uiSidebarLeft")'>
<div class="navbar navbar-app navbar-absolute-top selected" >
    <div class="navbar-brand navbar-brand-center" style="font-size: 20px;" >
       <div ui-yield-to="title">
            登录
       </div>
    </div>
    <div class="btn-group pull-left">
      <div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle" style="color: white; ">
        <i class="fa fa-bars" style="color: white;"></i> 菜单
      </div>
    </div>
</div>


<div class="scrollable">
<div class="scrollable-content padding-header">

    <div class="login-header">
      <div >
      <img class="logo" src="/static/pic/logo.png">

      </div>

    </div>
    <div class="login-part">
    <div name="login" id="login">
      <div class="panel-list">
        <span class="panel-group-top purple-border">
          <div class="panel-elem elem-width-4 panel-title">&nbsp;用户名</div>
          <input class="panel-elem elem-width-43" type="text" name="username" ng-model="login_info.username"  required>
        </span>

        <span class="panel-group-mid login-input purple-border">
          <div class="panel-elem elem-width-4 panel-title">&nbsp;密码</div>
          <input class="panel-elem elem-width-43" type="password" ng-model="login_info.password"  required> 
        </span>

        <span class="panel-group-bot login-input purple-border">
          <div class="panel-elem elem-width-4 panel-title">&nbsp;验证码</div>
          <input class="panel-elem elem-width-3" type="text" ng-blur="check_captcha()" ng-model="login_info.captcha" required>
          <img ng-click="refresh_captcha()" ng-src='[[captcha_url]]' id="captcha_img" alt="验证码">
          <i class="fa fa-check-circle input-notice" id="captcha-pass"></i>
        </span>
      </div>
    </div>
    </div>

    <div class="panel-list">
        <a class="panel-radius form-control selected" ng-click="login_user()">登录</a>
        <a class="panel-radius form-control login-input" href="/mobile/register">注册</a>
    </div>
    </div>

</div>
</div>
</div>