
<div class="login-header">
  <div >
  <img class="logo" src="/static/pic/logo.jpg">
  <div class="name">犀牛</div>

  </div>

</div>

<div class="login-input">
<form name="login" id="login" role="form" ng-submit='login()'>
  <div class="panel-list">
    <span class="panel-group-top purple-border">
      <div class="panel-elem elem-width-4 panel-title">邮箱</div>
      <input class="panel-elem elem-width-43" type="email" placeholder="请输入邮箱">
    </span>

    <span class="panel-group-mid purple-border">
      <div class="panel-elem elem-width-4 panel-title">密码</div>
      <input class="panel-elem elem-width-43" type="password" placeholder="请输入密码">
    </span>

    <span class="panel-group-bot purple-border">
      <div class="panel-elem elem-width-4 panel-title">验证码</div>
      <input class="panel-elem elem-width-2" type="text">
      <span class="panel-elem elem-width-4 panel-title">图</span>
    </span>
  </div>
</form>
</div>

<div class="panel-list">
    <button class="panel-radius form-control info-input">登录</button>
    <a class="panel-radius form-control" href="/mobile/register">注册</a>
</div>


