 
<div class="main-content">

    <div class="header-bar">
        <span class="header"> 编辑条件</span>
    </div>    
    <div class="padding">
    <form name="posi-filter" id="posi-filter" >
        <div class="filter-squ">
            <div class="filter-title">
                每周只多工作几天
            </div>

            <div class="filter-elem">
                <label><input type="checkbox" value="1" >弹性时间</label> 
            </div>
            <div class="filter-elem">
                <label><input type="checkbox" value="2"/>3天</label> 
            </div>
            <div class="filter-elem">
                <label><input type="checkbox" value="3"/>4天</label> 
            </div>
            <div class="filter-elem">
                <label><input type="checkbox" value="4"/>5天</label> 
            </div>
            <div class="filter-elem">
                <label><input type="checkbox" value="5"/>6天</label> 
            </div>

        </div>

        <div class="filter-squ">
            <div class="filter-title">
                月薪下限
            </div>

            <div class="filter-elem">
                <label><input type="checkbox" value="1" id="1"/>没有要求</label> 
            </div>


            <div class="filter-elem">
                请填写整数
                <input type="text" class="inline-input"/>
                K
            </div>
        </div>

        <div class="filter-squ">
            <div class="filter-title">
                行业/领域
            </div>

            <div class="filter-elem">
                <label><input type="checkbox" value="1" />没有要求</label> 
            </div>
            <div class="filter-elem">
                <label><input type="checkbox" value="2" />社交</label> 
            </div>
            <div class="filter-elem">
                <label><input type="checkbox" value="3" />电子商务</label> 
            </div>
            <div class="filter-elem">
                <label><input type="checkbox" value="4" />教育</label> 
            </div>
            <div class="filter-elem">
                <label><input type="checkbox" value="5" />健康医疗</label> 
            </div>
            <div class="filter-elem">
                <label><input type="checkbox" value="6" />文化创意</label> 
            </div>

        </div>

        <div class="filter-squ">
            <div class="filter-title">
                职位类型
            </div>

            <div class="filter-elem">
                <label><input type="checkbox" value="1" />没有要求</label> 
            </div>
            <div class="filter-elem">
                <label><input type="checkbox" value="2" />技术</label> 
            </div>
            <div class="filter-elem">
                <label><input type="checkbox" value="3" />运营</label> 
            </div>
            <div class="filter-elem">
                <label><input type="checkbox" value="4" />产品</label> 
            </div>
            <div class="filter-elem">
                <label><input type="checkbox" value="5" />设计</label> 
            </div>
            <div class="filter-elem">
                <label><input type="checkbox" value="6" />市场销售</label> 
            </div>

        </div>



        <button class="panel-radius form-control btn-b-pur filter-btn">按条件筛选职位</button>
    </form>
    </div>

    <div class="nav-bar">
        <div class="nav-bar-3 ">职位</div>
        <div class="nav-bar-3 selected">公司</div>
        <div class="nav-bar-3 ">个人中心</div>
    </div>
</div>
