<div ng-controller="MB_RegisterCtrl">
<div ng-include="'/static/partials/mobile/partials/sidebar-left.html'" ></div>
<div class="notice-bar">
  notice
</div>
<div ng-swipe-right='Ui.turnOn("uiSidebarLeft")'  ui-swipe-left='Ui.turnOff("uiSidebarLeft")'>
<div class="navbar navbar-app navbar-absolute-top selected" >
    <div class="navbar-brand navbar-brand-center" style="font-size: 20px;" >
       <div ui-yield-to="title">
            注册
       </div>
    </div>
    <div class="btn-group pull-left">
      <div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle" style="color: white; ">
        <i class="fa fa-bars" style="color: white;"></i> 菜单
      </div>
    </div>
</div>


  <div class="scrollable">
  <div class="scrollable-content padding-header">
    <div class="login-header">
        <img class="logo" src="/static/pic/logo.png">
    </div>

    <div name="login" id="login" >

      <div class="input-btn-part">
        <div class="panel-list">
          <span class="panel-group-top login-input purple-border">
            <input class="panel-elem elem-width-full" ng-blur="check_username()" name="username" ng-model="reg_info.username" type="text" placeholder="用户名(最短6位)">
            <i class="fa fa-check-circle input-notice" id="username-pass"></i>
          </span>

          <span class="panel-group-mid login-input purple-border">
            <input class="panel-elem elem-width-full" ng-blur="check_email()" name="email" ng-model="reg_info.email" type="email" placeholder="邮箱">
            <i class="fa fa-check-circle input-notice" id="email-pass"></i>
          </span>

          <span class="panel-group-mid login-input purple-border">
            <input class="panel-elem elem-width-full" ng-blur="check_pass_len()" name="password" ng-model="reg_info.password" ng-minlength="6" required type="password" placeholder="密码">
            <i class="fa fa-check-circle input-notice" id="pass1-pass"></i>
          </span>

          <span class="panel-group-mid login-input purple-border">
            <input class="panel-elem elem-width-full" ng-blur="check_pass_same()" ng-model="repeate_password" ng-minlength="6" required type="password" placeholder="确认密码">
            <i class="fa fa-check-circle input-notice" id="pass2-pass"></i>
          </span>

          <span class="panel-group-bot login-input purple-border">
            <input class="panel-elem elem-width-43" ng-blur="check_captcha()" type="text" placeholder="验证码" ng-model="reg_info.captcha" required>
            <img ng-click="refresh_captcha()" ng-src='[[captcha_url]]' id="captcha_img" alt="验证码">
            <i class="fa fa-check-circle input-notice" id="captcha-pass"></i>
          </span>
        </div>
      </div>

      <div class="panel-list">
          <button class="panel-radius form-control selected" ng-click="register()"> 注册 </button>
      </div>

    </div>

  </div>

  </div>
</div>
</div>
