
<div ng-controller="MB_ResizeImgCtrl">
<link rel="stylesheet" type="text/css" href="/static/lib/imageresize/css/normalize.css" />
<link rel="stylesheet" type="text/css" href="/static/lib/imageresize/css/demo.css" />
<link rel="stylesheet" type="text/css" href="/static/lib/imageresize/css/component.css" />
<div class="component">
                    <div class="overlay">
                        <div class="overlay-inner">
                        </div>
                    </div>
                    <!-- This image must be on the same domain as the demo or it will not work on a local file system -->
                    <!-- http://en.wikipedia.org/wiki/Cross-origin_resource_sharing -->
                    <img class="resize-image" src="/static/lib/imageresize/img/image.jpg" alt="image for resizing">
                    <button class="btn-crop js-crop">Crop<img class="icon-crop" src="/static/lib/imageresize/img/crop.svg"></button>
</div>
</div>