@import "header";
@import "footer";
@import "login";
@import "register";
@import "information";
@import "findpwd";
@import "regenter";
@import "feedback";
@import "position_list";
@import "company_info";
@import "company_info_detail";
@import "edit_position";
@import "info";
@import "resume";
@import "intern_favor_position";
@import "intern_favor_company";
@import "intern_post";
@import "manage_position";
@import "position_detail";
@import "company_list";
@import "company_detail";
@import "homepage";
@import "no_company_info";
/*body{
  background-color: #eeeeee;
  #main-container{
    background-color: #ffffff;;
  }
}*/
.input-group-addon{
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}
div span.err-msg{
  text-align: center;
  vertical-align: -webkit-baseline-middle;
  color: #a94442;
}


input.form-control.ng-valid.ng-dirty.check-invalid{
  border: solid #a94442 1px;
}
input.form-control.ng-valid.ng-dirty{
    border: solid #008000 1px;
}
input.form-control.ng-invalid.ng-dirty{
      border: solid #a94442 1px;
}
.alert{
    padding: 10px;
    border: 1px solid transparent;
    top: 79px;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0;
    width: 200px;
}