@import "header";
@import "footer";
@import "login";
@import "register";
@import "information";
@import "findpwd";
@import "regenter";
@import "feedback";
@import "position_list";
@import "company_info";
@import "company_info_detail";
body{
  background-color: #eeeeee;
  #main-container{
    background-color: #ffffff;;
  }
}

.input-group-addon{
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}
div span.err-msg{
  text-align: center;
  vertical-align: -webkit-baseline-middle;
  color: #a94442;;
}


input.form-control.ng-valid.ng-dirty.check-invalid{
  border: solid #a94442 1px;
}
input.form-control.ng-valid.ng-dirty{
    border: solid #008000 1px;
}
input.form-control.ng-invalid.ng-dirty{
      border: solid #a94442 1px;
}