#container{
  #company_resume{
    font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
    margin-top: 70px;
    .btn{
      width: 160px;
      margin-left: 9px;
      color: white;
      background-color: #707070;
      outline: none;
    }
    .btn.active{
      background-color: #8f4e96;
    }
  }
}