#container{
  #company_info_detail{
    form.form-horizontal{
      min-height: 840px;
      margin-top: 40px;
      .form-group{
        table{
          td{
            width: 10%;
          }
        }
        .checkbox-label{
          width: 33%;
        }
       .tags_input{
         width: 50%;
         float: left;
         margin-right: 30px;
       }
       .welfare_tags{
           margin-top: 15px;
           span.tag{
            background-color: #98769E;
            color: white;
            padding: 2px;
            border-radius: 6px;
            margin-right: 3px;
          }
       }
      }
      .logoimg{
        width: 100px;
        height: 100px;
      }
      .change_logo_tab{
        background-color: #eeeeee;
        width: 100px;
        position: relative;
        text-align: center;
        cursor: pointer;
        height: 25px;
        top: -25px;
      }
    }
  }
  .divider{
    height: 18px;
    background-color: #eeeeee;
    min-width: 125%;
    margin-left: -30px;
    margin-top: 10px;
  }
  .explanation{
    min-height: 500px;
    background-color: white;
  }
  .v-divider{
      background-color: #eeeeee;
      width: 0.333333%;
      min-height: 600px;
  }
  .option_info{
    border: solid #eeeeee;
    border-width: 0px 0px 0px 24px;
    .option{
      min-height: 100px;
      .opt-header{
        position: relative;
        h3{
          font-family:"微软雅黑" ;
          padding: 10px;
          color: #98769E;
        }
        span{
          position: absolute;
          right: 0%;
          top: 10px;
          color: #98769E;
          cursor: pointer;
        }
      }
      div.divider-small{
        height: 1px;
        background-color: #eeeeee;
        margin-top: -10px;
        span{
          background-color: #98769E;
          height: 4px;
          width: 98px;
          position: absolute;
          left: 24px;
          margin-top: -2px;
        }
      }
    }
    .member{
      .member_list{
        float: left;
        width: 33%;
        margin-left: 0.3%;
        .member-card{
          height: 150px;
          border: solid 1.5px #eeeeee;
          margin-bottom: 10px;
          margin-top: 5px;
          .delete{
            position: relative;
            left: 90%;
            color: #98769E;
            cursor: pointer;
          }
          .first-level{
            padding: 0.5em;
            margin-top: -15px;
            .name-position{
              margin-top: 8px;
              margin-bottom: 8px;
            }
          }
          .second-level{
            padding: 0.5em;
            margin-left: 12px;
          }
          img{
            width: 45px;
            height: 45px;
            margin-top: 26px;
          }
          .remove{
            color: #98769E;
            position: absolute;
            right: 0;
            cursor: pointer;
          }
        }
        .file-upload{
          img{
            width: 70px;
            height: 70px;
            cursor: pointer;
          }
          span{
            background-color: lightgray;
            font-size: 1.24em;
            color: white;
            width: 70px;
            position: relative;
            top: -23px;
          }
        }
    }
    }
    .financing{
      .financing_list{
        border-radius: 5px;
        border: solid 1px #eeeeee;
        height: 30px;
        margin-top: 8px;
        padding-top: 4px;
        div{
          text-align: center;
        }
      input.btn{
        padding: 1px 10px;
      }
      .saved{
        color: #98769E;
      }
      }
    }
    .team_intro{
      .add-team-intro{
        border: solid 2px #eeeeee;
        text-align: center;
        height: 40px;
        width: 75%;
        padding-top: 8px;
        margin: 0 auto;
        margin-top: 15px;
        cursor: pointer;
        color: #eeeeee;
        margin-bottom: 15px;
      }
      .add-team-intro:hover{
        color: #98769E;
      }
      .saved_description{
        margin-top: 10px;
        margin-left: 10px;
        font-family: "宋体";
      }
      .team-intro-textarea{
        width: 100%;
        padding: 0.5em;
        margin: 1.5em;
        margin-left: 5px;
        min-height: 100px;
      }
      .button{
        float: right;
        margin-bottom: 10px;
      }
    }
    .company_intro{
      .add-company-intro{
        border: solid 2px #eeeeee;
        text-align: center;
        height: 40px;
        width: 75%;
        padding-top: 8px;
        margin: 0 auto;
        margin-top: 15px;
        cursor: pointer;
        color: #eeeeee;
        margin-bottom: 15px;
      }
      .add-company-intro:hover{
        color: #98769E;
      }
      .company-intro-textarea{
        width: 100%;
        padding: 0.5em;
        margin: 1.5em;
        margin-left: 5px;
        min-height: 100px;
      }
      .button{
        float: right;
        margin-bottom: 10px;
      }
      .saved_description{
        margin-top: 10px;
        margin-left: 10px;
        font-family: "宋体";
      }
    }
  }
}
.ui.segment:first-child {
    margin-top: 10px;
}
.ui.segment:last-child {
    margin-bottom: 10px;
}
.member_add{
  img{
    height: 80px;
    width: 80px;
    margin: 0 auto;
    display: block;
    margin-top: 20%;
    cursor: pointer;
  }
  .avatar{
    background-color: #eeeeee;
    width: 80px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: -4px;
    cursor: pointer;
  }
}
form.financing_add{
  height: 50px;
  select{
    width: 33%;
  }
  input{
    height: 30px;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 6px;
    width: 78%;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}