#container{
margin:0 auto;
display: block;
    #company_list{
        font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
        margin-top: 30px;
        .col-md-8{
          width: 750px;
          min-height: 500px;
          .loading{
            width: 100%;
            margin: 0 auto;
            background-color: #ffffff;
            text-align: center;
          }
          a{
            text-decoration: none;
          }
          ul li{
              list-style-type:none;
              background-color: #FFFFFF;
              border: 1px solid#bfbfbf;
              border-radius: 4px;
              margin-bottom: 15px;
              height: 130px;
              .company-info{
                  margin-top: 0px;

                  padding: 5px 10px 20px 15px;
                  width: 100%;
                  height: 130px;
                  .auth{

                      text-align: right;
                      width: 100%;
                      height: 15px;

                      p{

                          font-size: 12px;
                          color:#8f4e96;
                      }
                  }
                  .bottom-side{
                      width: 100%;
                      height: 90px;

                      .item-pic{
                          float: left;
                          width: 90px;
                          height: 90px;
                          .company-pic{
                              width: 100%;
                              height: 100%;
                          }
                      }

                      .info{
                          width: 600px;
                          float: left;
                          padding: 10px 0 10px 0;
                          height: 90px;
                          .line{
                              width: 1px;
                              height: 50px;
                              margin-top: 10px;
                              margin-bottom: 10px;
                              float: left;
                              border-left: 1px solid #aaaaaa;
                          }
                          .item-info.info-1{
                              width: 125px;

                              text-align: center;
                          }
                          .item-info.info-2{
                              width: 105px;
                          }
                          .item-info.info-3{

                              width: 175px;
                          }
                          .vertical-center{
                              display: table-cell;
                              vertical-align: middle;
                              padding: 0 10px 0 15px;
                          }
                          .item-info{

                              float: left;
                              //margin-left: 10px;
                              height: 100%;
                              display:table;
                              .abbreviation{
                                  font-size: 1.3em;
                                  color: black;
                              }
                              .brief_introduction{
                                  color: #707070;
                                  font-size: 12px;
                                  margin-top: -10px;
                              }
                              .label-1{

                                  img{
                                      width: 11px;
                                      height: 11px;
                                      float: left;
                                      margin-right: 5px;
                                      margin-top: 2px;
                                  }
                                  p{
                                      color: #707070;

                                      font-size: 10px;
                                      margin-bottom: 5px;
                                  }
                                  .last-p{
                                      margin-bottom: 0;
                                      float: left;
                                  }
                              }
                              .position_number{
                                  font-size: 1.1em;
                                  color: black;
                                  text-align: left;
                                  margin-left: 23px;
                                  margin-bottom: 5px;

                              }
                              .position_tags{
                                  margin: 0 auto;
                                  margin-top: 0;
                                  margin-left: 23px;
                                  width: 135px;
                                  .tags{
                                      width: 40px;
                                  }

                              }

                          }
                          .welfare_tags{
                              width: 138px;
                              float: left;
                              margin-left: 20px;
                              margin-top: 5px;
                              .tags{
                                  width: 64px;
                              }
                          }
                          .tags{
                              border-radius: 10px;
                              padding: 0 8px 0 8px;
                              background-color: rgba(143,78,150,0.1);
                              color: #707070;
                              font-size: 12px;
                              margin-right: 5px;
                              float: left;
                              margin-bottom: 5px;
                              text-align: center;
                          }

                      }
                  }
              }
              .company-info:hover{
                background-color: rgba(243, 243, 243, 0.53);
              }
          }
          ul.pagination{
            float: right;
            li{
              border: none;
              a{
                cursor: pointer;
                span{
                  color: #337ab7;
                }
              }
              }
            }
          .pagination>.active>a{
            background-color: #8f4e96;
            border-color: #98769E;
          }
        }
    }
}