#container{
  .head{
      float: left;
      height: 30px;
      width: 95%;
      margin-left: 40px;
      div.item{
        height: 4px;
        width: 24%;
        background-color: #8f4e96;
        float: left;
        position: relative;
        span.text{
          color: #707070;
          position: absolute;
          top: -30px;
          left: 84px;
          font-size: 1.2em;
          font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
        }
      }
      .item.alpha40{
        background-color: rgba(143,78,150,0.4);
      }
      .item.alpha20{
        background-color: rgba(143,78,150,0.2);
      }
      .item.alpha10{
        background-color: rgba(143,78,150,0.1);
      }
    }
label{
font-weight: 100;
}
  .left-info{
    background-color: white;
    width: 48%;
    height: 450px;
    float: left;
    padding-top: 40px;
    border: solid 1px #bfbfbf;
    border-radius: 6px;
    .input-group{
      width: 100%;
      margin-bottom: 20px;
      input{
        width: 90%;
        outline: none;
        height: 32px;
        padding: 5px;
        border-radius: 3px;
border: 1px solid #e1e0e2;
      }
    }
  }
  .right-info{
    background-color: white;
    width: 48%;
    height: 450px;
    float: left;
    padding-top: 40px;
    margin-left: 4%;
    border: solid 1px #bfbfbf;
    border-radius: 6px;
    .input-group{
      width: 100%;
      margin-bottom: 20px;
    }
  }
  #first-step{
    margin-top: 70px;
    .info1{
      height: 450px;
      position: relative;
      .left-info{
        .input-group{
          margin-bottom: 40px;
          width: 100%;
          .col-sm-3{
            text-align: right;
            label{
              color: #262626;
              font-size: 16px;
              font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
            }
          }
          .col-sm-9{
            .change_tab{
              .upload-img{
                cursor: pointer;
                height: 160px;
                width: 160px;
                background-color: lightgray;
                color: white;
                text-align: center;
                padding-top: 66px;
                border-radius: 6px;
              }
              .upload-img:hover{
                color: #98769E;
              }
            }
            .upload-logo{
              width: 160px;
              font-size: 12px;
              color: #707070;
              font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
            }
            input{
              width: 90%;
              height: 32px;
            }
            img{
              height: 160px;
              width: 160px;
              border-radius: 6px;
              border: solid 1px #bfbfbf;
            }
          }
        }
      }
      .right-info{
        .input-group{
          .col-sm-3{
            text-align: right;
            label{
              color: #262626;
              font-size: 16px;
              font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
            }
          }
          .col-sm-9{
            table{
              width: 100%;
              tbody{
                width: 100%;
                tr{
                  td{
                    label{
                      color: #707070;
                      font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
                    }
                  }
                }
              }
            }
            label{
              color: #707070;
              font-size: 12px;
              font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
            }
            .form-control.tags_input{
              float: left;
              width: 50%;
              border-radius: 3px;
              margin-right: 3%;
              height: 25px;
              font-size: 13px;
              border: 1px solid #e1e0e2;
            }
            input.btn-primary{
              border-radius: 0px;
              background-color: #98769E;
              border-color: #98769E;
              border-radius: 3px;
              height: 25px;
              font-size: 13px;
              padding: 4px 12px;
            }
            label.checkbox-label{
              margin:0px 18px 5px 0;
            }
            span.err-msg{
              position: absolute;
              bottom: 0px;
            }
          }
        }
      }
      .next-area{
        position: absolute;
        bottom: -60px;
        left: 41.5%;
        width: 150px;
        color: white;
        background-color: #8f4e96;
        outline-color: #98769E;
        outline-width: 1px;
        border-radius: 4px;
        i{      
          position: absolute;
          color: white;
          right: 38px;
          top: 9px;
          font-size: 15px;
        }
        input{
        background-color: #8f4e96;
        outline-color: #98769E;
        width: 100%;
        height: 100%;
        }
      }
      input.next-button{
        position: absolute;
        bottom: -60px;
        left: 41.5%;
        width: 150px;
        color: white;
        background-color: #8f4e96;
        outline-color: #98769E;
        outline-width: 1px;
      }
    }
  }
  #second-step{
    margin-top: 70px;
    .info2{
      .left-info{
        position: relative;
        .input-group{
          margin-bottom: 30px;
          .col-sm-3{
            text-align: right;
            label{
              color: #262626;
              font-size: 16px;
              font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
            }
          }
          .col-sm-9{
            input{
              width: 90%;
              height: 32px;
            }
            img{
              cursor: pointer;
              height: 160px;
              width: 160px;
            }
            .change_tab{
              .no-qrcode{
                cursor: pointer;
                width: 160px;
                height: 160px;
                background-color: rgba(191, 191, 191, 0.61);
                color: white;
                border-radius: 6px;
                text-align: center;
                padding-top: 70px;
              }
              .no-qrcode:hover{
                color: #98769E;
              }
            }
            .upload-qrcode{
              width: 160px;
              font-size: 12px;
              color: #707070;
              font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
              
            }
          }
        }
        input.pre-button{
          position: absolute;
          bottom: -60px;
          right: 0px;
          width: 150px;
          color: white;
          background-color: #707070;
        }
      }
      .right-info{
        position: relative;
        padding-left:30px;
        padding-right: 30px;
        font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
        p{
            color: #707070;
        }
        label{
          color: #262626;
          font-size: 16px;
          font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
        }
        .add_financing{
          span{
            img{
              float: right;
              height: 25px;
              width: 25px;
              cursor: pointer;
            }
          }
          .financing_list{
            .financing{
              width: 90%;
              border: solid 1px #e1e0e2;
              border-radius: 6px;
              height: 30px;
              font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
              font-size: 14px;
              padding: 5px 0 0 5px;
              margin-bottom: 10px;
              .stage{
                float: left;
              }
              .organization{
                float: left;
              }
              .amount{
                float: left;
              }
              .delete_button{
                width: 20px;
                height: 25px;
                padding-bottom: 5px;
                float: right;
                margin-right: 5px;
                cursor: pointer;
                  img{
                  width: 20px;
                  height: 20px;
                  }
              }
            }
          }
          }
        .next-area{
          position: absolute;
          bottom: -60px;
          left: 0;
          width: 150px;
          color: white;
          background-color: #8f4e96;
          outline-color: #98769E;
          outline-width: 1px;
          border-radius: 4px;
          .submit-loading{
            width: 93% !important;
          }
          i{      
            position: absolute;
            color: white;
            right: 35px;
            top: 7px;
            font-size: 18px;
          }
          input{
          background-color: #8f4e96;
          outline-color: #98769E;
          width: 100%;
          height: 100%;
          }
        }
        input.next-button{
          position: absolute;
          bottom: -60px;
          left: 0px;
          width: 150px;
          color: white;
          background-color: #8f4e96;
          outline-color: #98769E;
          outline-width: 1px;
        }
      }
    }
  }
  #third-step{
    margin-top: 70px;
    font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
    .info3{
      padding: 30px;
      width: 100%;
      height: 500px;
      background-color: white;
      position: relative;
      border-radius: 6px;
      border: solid 1px #bfbfbf;
      label{
        margin-bottom: 15px;
        font-size: 16px;
        color: #707070;
        font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
      }
      textarea{
        min-height: 150px;
        max-width: 100%;
        width: 100%;
        margin-bottom: 30px;
        padding: 10px;
        border-radius: 5px;
        resize: none;
        border: 1px solid #e1e0e2;
      }
      input.pre-button{
        position: absolute;
        bottom: -60px;
        width: 150px;
        color: white;
        left: 30%;
        background-color: #707070;
      }
      .next-area{
        position: absolute;
        bottom: -60px;
        left: 50%;
        width: 150px;
        color: white;
        background-color: #8f4e96;
        outline-color: #98769E;
        outline-width: 1px;
        border-radius: 4px;
        .submit-loading{
          width: 93% !important;
        }
        i{      
          position: absolute;
          color: white;
          right: 35px;
          top: 7px;
          font-size: 18px;
        }
        input{
        background-color: #8f4e96;
        outline-color: #98769E;
        width: 100%;
        height: 100%;
        }
      }
      input.next-button{
        position: absolute;
        bottom: -60px;
        left: 50%;
        width: 150px;
        color: white;
        background-color: #8f4e96;
        outline-color: #98769E;
        outline-width: 1px;
      }
    }
  }
  #forth-step{
    margin-top: 70px;
    font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
    .info4{
      background-color: white;
      min-height: 360px;
      padding: 30px;
      border-radius: 6px;
      border: solid 1px #bfbfbf;
      position: relative;
      label{
        color: #262626;
        font-size: 16px;
        font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
      }
      p{
        color: #707070;
        font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
      }
      textarea{
        min-height: 150px;
        max-width: 100%;
        width: 100%;
        margin-bottom: 30px;
        padding: 10px;
        border-radius: 6px;
        resize: none;
        outline: none;
        border: 1px solid #e1e0e2;
      }
      input.pre-button{
        position: absolute;
        bottom: -60px;
        width: 150px;
        color: white;
        left: 30%;
        background-color: #707070;
      }
      input.next-button{
        position: absolute;
        bottom: -60px;
        left: 50%;
        width: 150px;
        color: white;
        background-color: #8f4e96;
        outline-color: #98769E;
        outline-width: 1px;
      }
      .next-area{
        position: absolute;
        bottom: -60px;
        left: 50%;
        width: 150px;
        color: white;
        background-color: #8f4e96;
        outline-color: #98769E;
        outline-width: 1px;
        border-radius: 4px;
        .submit-loading{
          width: 93% !important;
        }
        i{      
          position: absolute;
          color: white;
          right: 28px;
          top: 7px;
          font-size: 18px;
        }
        input{
        background-color: #8f4e96;
        outline-color: #98769E;
        width: 100%;
        height: 100%;
        }
      }
      .add-member{
        img{
          height: 20px;
          float: right;
          cursor: pointer;
        }
        .member-tag{
          width: 28%;
          float: left;
          height: 300px;
          background-color: #fafafa;
          border: solid 1px #bfbfbf;
          font-size: 16px;
          font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
          padding-top: 8px;
          border-radius: 6px;
          margin-right: 20px;
          margin-left: 20px;
          margin-bottom: 10px;
          .item{
            margin-right: 10px;
            img{
              margin-left: 15px;
              width: 20px;
              height: 20px;
            }
          }
          .avatar_img{
            margin-top: 15px;
            img{
              width: 100px;
              height: 100px;
              margin: 0 auto;
              border-radius: 50%;
            }
          }
          .intro{
            font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
            margin-top: 90px;
            text-align: center;
            span{
              color: #707070;
            }
            .m_intro{
              word-wrap: break-word;
              padding-left: 15px;
              padding-right: 15px;
              font-size: 12px;
              margin-top: 15px;
            }
            p{
              margin-bottom: 2px;
            }
          }
        }
        .member{
          width: 100%;
          padding: 15px;
        }

      }
    }
  }
}
#add_financing{
  font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
  .modal-dialog{
    margin: 200px auto;
  }
}
#delete_financing{
  font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
  .modal-dialog{
    margin: 200px auto;
    .modal-content{
      .modal-body{
      .financing{
        width: 90%;
        border: solid 1px #e1e0e2;
        border-radius: 6px;
        height: 30px;
        font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
        font-size: 14px;
        padding: 5px 0 0 5px;
        margin-bottom: 10px;
          .stage{
            float: left;
          }
          .organization{
            float: left;
          }
          .amount{
            float: left;
          }
        }
        .cancer-button{
          float: right;
          margin-left: 15px;
        }
        .save-button{
          float: right;
        }
      }
    }
  }
}
#addMember{
  .modal-dialog{
    width: 400px;
    margin: 150px auto;
    .modal-content{
      .modal-body{
        .member_add{
          .member-info-card{
            width: 100%;
            img.delete{
              float: right;
              width: 20px;
              height: 20px;
              margin: -20px 5px 0px 0px;
            }
            .avatar-origin{
              border-radius: 50%;
              width: 120px;
              height: 120px;
              background-color: white;
              border: solid 1px #e1e0e2;
              margin: 0 auto;
              margin-top: 25px;
              text-align: center;
              line-height: 112px;
              color: #bfbfbf;
              cursor: pointer;
            }
            .name-position{
              margin: 0 auto;
              display: table;
              padding: 10px;
              input{
                margin-bottom: 10px;
                border-radius: 3px;
                outline: none;
                padding: 2px;
                padding-left: 5px;
              }
            }
            textarea.member-intro{
              margin: 0px 10px 15px 24px;
              resize: none;
              width: 87.5%;
              padding: 10px;
              min-height: 110px;
            }
            .add-member-btn{
              text-align: center;
              .btn{
                background-color: #8f4e96;
                color: white;
                width: 100px;
                outline: none;
              }
              .btn:hover{
                background-color: #98769E;
                color: white;
              }
            }
            img{
              height: 120px;
              width: 120px;
              margin: 0 auto;
              display: block;
              margin-top: 25px;
              cursor: pointer;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
}
#delete_member{
  .modal-dialog{
    margin: 200px auto;
    .modal-content{
      .modal-header{
        h4{
          font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
          color: #707070;
        }
      }
      .modal-body{
        p{
          font-size: 16px;
          font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
          color: #707070;
        }
      }

    }
  }
}
.cancer-button.btn:hover{
  color: white;
}
.save-button.btn:hover{
  color: white;
}

.cancer-button{
  width: 150px;
  color: white;
  background-color: #707070;
  outline-width: 1px;
  outline-color: #bfbfbf;
}
.save-button{
  width: 150px;
  color: white;
  background-color: #8f4e96;
  outline-color: #98769E;
  outline-width: 1px;
}