* {margin:0;padding:0;}
html, body, #wrap { height: 100%; }
body >#wrap{
    height: auto;
    min-height: 94%;
}
#main-container{
    width: 960px;
    //min-height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 70px;
}
.clearfix:after {content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
* html .clearfix {
    height: 1%;
 }
.clearfix {
    display: block;
}
#footer{
  font-family: "微软雅黑";
  background-color: rgb(58, 58, 58);
  .navbar-footer{
    width: 960px;
    margin: 0 auto;
    height: 56px;
    ul#footer-nav{
    padding-top: 20px;
    float: left;
      li{
        list-style-type: none;
        float: left;
        margin-right: 20px;
        a{
          color: white;
          text-decoration:none;
        }
        a:hover{
          color: #98769E;
        }
      }
    }
  }
  #footer-brand{
    padding-top: 20px;
    float: right;
    color: white;
  }
}
