header{
  font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
  #header{
    background-color: #FFFFFF;
    border-bottom: 2px solid #cecece;
    .header-head{
        background-color: #8f4e96;
        height: 3px;
    }
    .navbar{
      margin-bottom: 0px;
      margin: 0 auto;
      display: block;
      width: 960px;
      .navbar-header{
        width: 100%;
        #head-logo{
          margin-top: 8px;
          margin-bottom: 8px;
          width: 240px;
          float: left;
          img{
            width: 100%;
          }
        }
      }
      .navbar-item.not-login{
        margin-left: 47px;
        width: 400px;
        li{
          text-align: center;
          width: 33%;
         a{
          color: #707070;
          padding-top: 22px;
          padding-bottom: 12px;
          font-size: 1.1em;
          cursor: pointer;
         }
         a:hover{
            color: #8f4e96;
            background-color: white;
         }
        }
        li.active{
           border: solid #8f4e96;
           border-width: 0px 0px 3px 0px;
           a:hover{
             border-width: 0px 0px 0px 0px;
           }
         }
    }
    .navbar-item.login{
        margin-right: 30px;
        margin-left: 30px;
        width: 545px;
        height: 58px;
        li{
          text-align: center;
          width: 20%;
         a{
          color: #707070;
          padding-top: 22px;
          padding-bottom: 12px;
          font-size: 1.1em;
          cursor: pointer;
         }
         a:hover{
            color: #8f4e96;
            background-color: white;
         }
        }
        li.active{
           border: solid #8f4e96;
           border-width: 0px 0px 3px 0px;
           a:hover{
             border-width: 0px 0px 0px 0px;
           }
         }
        li.dropdown{
          height: 58px;
          .dropdown-menu{
            min-width: 100px;
            a{
              font-size: 1em;
              padding-bottom: 3px;
              padding-top: 3px;
            }
            a:hover{
              border: solid #8f4e96;
              border-width: 0px 0px 0px 3px;
            }
          }
        }
      li.dropdown.open{
        height: 58px;
      }
    }
    .header-item{
      float: right;
      position: relative;
      margin-top: 22px;
      .item{
        float: right;
        margin-left: 20px;
        cursor: pointer;
        img{
          width: 17px;
        }
        a{
          font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
          color: #707070;
          font-size: 0.9em;
          text-decoration: none;
        }
        a:hover{
           border-width: 0px 0px 0px 0px;
        }
      }
      .log_register{
        color: #8f4e96;
        a{
            color: #8f4e96;
        }
      }
      li{
        list-style-type: none;
      }
      .search{
        margin-left: 0px;
      }
      }
      .qrcode_img{
        position: absolute;
        top: 50px;
        right: 57px;
        z-index: 2;
        img{
          width: 100px;
        }
      }
      .search_input{
        position: absolute;
        top: 57px;
        right: -55px;
        z-index: 2;
        width: 270px;
        height: 70px;
        border: solid 1px #C5C5C5;
        background-color: #ffffff;
        padding: 12px 10px 10px 20px;
        input{
          float: left;
          width: 180px;
          height: 28px;
          border-radius: 0;
          margin-top: 8px;
        }
        input.form-control:focus{
            border-color: #98769E;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(143, 78, 150,0.1);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(143, 78, 150,0.3);
            border-color: #8f4e96;
        }
        input.form-control:hover{
          border-color: #98769E;
        }
        .search-btn{
          height: 28px;
          width: 30px;
          margin-top: 8px;
          color: #ffffff;
          background-color: #8f4e96;
          outline: none;
          border: darkgray;
        }
      }

    }
}
  .shadow{
    background: -moz-linear-gradient(top, #e1e1e1 -50%, #f0f0f0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(-50%,#e1e1e1), color-stop(100%,#f0f0f0));
    background: -webkit-linear-gradient(top, #e1e1e1 -50%,#f0f0f0 100%);
    background: -o-linear-gradient(top, #e1e1e1 -50%,#f0f0f0 100%);
    background: -ms-linear-gradient(top, #e1e1e1 -50%,#f0f0f0 100%);
    background-color: linear-gradient(to bottom, #e1e1e1 -50%, #f0f0f0 100%);
    height: 60px;
    margin-top: -3px;
    border: solid #cecece;
    border-width: 1px 0px 0px 0px;
  }
}