header{
  font-family: "微软雅黑";
  #header{
    background-color: rgba(225, 224, 226, 0.4);
    .header-head{
        background-color: #9f4e96;
        height: 5px;
    }
    .navbar{
      margin-bottom: 0px;
      margin: 0 auto;
      display: block;
      width: 960px;
      .navbar-header{
        #head-logo{
          margin-top: 8px;
          margin-bottom: 8px;
          width: 280px;
          float: left;
          img{
            width: 100%;
          }
        }
      }
      .navbar-item.not-login{
        margin-left: 35px;
        width: 545px;
        li{
          text-align: center;
          width: 29%;
         a{
          color: #707070;
          padding-top: 24px;
          padding-bottom: 24px;
          font-size: 1.2em;
          cursor: pointer;
          font-family: "华文细黑";
         }
         a:hover{
           border: solid #8f4e96;
           border-width: 0px 0px 5px 0px;
         }
        }
        li.active{
           border: solid #8f4e96;
           border-width: 0px 0px 5px 0px;
           a:hover{
             border-width: 0px 0px 0px 0px;
           }
         }
    }
    .navbar-item.login{
        margin-left: 15px;
        width: 545px;
        li{
         a{
          color: #707070;
          padding-top: 24px;
          padding-bottom: 24px;
          font-size: 1.2em;
          cursor: pointer;
          font-family: "华文细黑";
         }
         a:hover{
           border: solid #8f4e96;
           border-width: 0px 0px 5px 0px;
         }
        }
        li.active{
           border: solid #8f4e96;
           border-width: 0px 0px 5px 0px;
           a:hover{
             border-width: 0px 0px 0px 0px;
           }
         }
        li.dropdown{
          .dropdown-menu{
            min-width: 100px;
            a{
              font-size: 1em;
              padding-bottom: 3px;
              padding-top: 3px;
            }
            a:hover{
              border: solid #8f4e96;
              border-width: 0px 0px 0px 5px;
            }
          }
        }
    }
    ul.reg-login{
      list-style-type: none;
      float: left;
      margin-top: 24px;
      background-color: #8f4e96;
      border-radius: 25px;
      color: white;
      padding: 1px;
      position: absolute;
      right: 0;
      padding-left: 15px;
      padding-right: 15px;
      a{
        color: white;
        font-size: 1em;
      }
       a:hover{
         border-width: 0px 0px 0px 0px;
       }
    }
    .search{
      margin-top: 18px;
      position: absolute;
      right: 0;
      li#search_btn{
        margin-top: -8px;
      }
    }
    }
    .right-block{
      position: fixed;
      right: 20px;
      top: 168px;
      height: 100%;
      width: 120px;
      margin: 0 auto;
      z-index: 1;
      .txt{
          font-size: 1.0em;
          color: #707070;
          text-align: center;
          width: 100%;
      }
      .img-1{
          height: 120px;
          width: 120px;
      }
    }
  }
}