#container{
    margin: 0 auto;
    display: block;
    #homepage{
        .slide-block{
            height: 450px;
            width: 1025px;
            border: 1px solid #b2b2b2;
            margin-bottom: 10px;

        }

        .info-block-1{
            height: 300px;
            width: 1025px;
            border: 1px solid #b2b2b2;
            margin-bottom: 10px;

        }

        .info-block-2{
            height: 450px;
            width: 1025px;
            border: 1px solid #b2b2b2;
            margin-bottom: 10px;

        }

        .img-block{
            height: 90px;
            width: 1025px;
            margin-bottom: 10px;

        }

    }
}
