#container{
    margin: 0 auto;
    display: block;
    #homepage{
        font-family:"微软雅黑";
        margin-top: 20px;
        .right-block{
            position: fixed;
            right: 20px;
            top: 168px;
            height: 100%;
            width: 120px;
            margin: 0 auto;
            .txt{
                font-size: 1.0em;
                color: #707070;
                text-align: center;
                width: 100%;
            }
            .img-1{

                height: 120px;
                width: 120px;
            }
        }
        .slide-block{
            height: 420px;
            margin-bottom: 15px;
        }
        .company-block{
          height: 200px;
          margin-bottom: 15px;
          float: left;
          a{
            span{
              color: #9f4e96;
            }
          }
        }
      .intern-block{
          height: 200px;
          margin-bottom: 15px;
          float: left;
      }
        .info-block-1{
            height: 300px;
            border: 1px solid #b2b2b2;
            margin-bottom: 15px;

        }

        .info-block-2{
            height: 420px;
            border: 1px solid #b2b2b2;
            margin-bottom: 15px;

        }

        .img-block{
            height: 90px;
            margin-bottom: 15px;
            .img-2{
                height: 100%;
                width: 184px;
                margin-right: 10px;
                //border: 1px solid #b2b2b2;
                float:left;
            }
            .img-3{
                height: 100%;
                width: 184px;
                //border: 1px solid #b2b2b2;
                float:left;
            }

        }

    }
}
