#container{
    margin: 0 auto;
    display: block;
    #information{
 margin: 0 auto;
margin-top: 50px;
        font-family: "微软雅黑";
        padding: 20px 30px 20px 30px;
        width: 480px;
        height: 320px;
        background-color: #EFEFEF;
        filter:alpha(opacity=80);
        opicaty:50;

        .txt{
          color: black；
          margin: 0 auto;
          font-family: "微软雅黑";
          text-align: center;
          margin-bottom: 20px;
        }
        .ui.segment.form{
            border-radius: 0;
            margin-top: 0px;
            padding: 2em;
            background-color: #FFFFFF;
            width: 420px;
            height: 280px;

          #info_form{
            input{

                border: 1px solid #8F4E96;
                border-radius: 0;
                width: 360px;

            }
            #enter_button{
margin-top: 10px;
                width: 360px;
                background-color: #8F4E96;
                color: white;
                font-size: 1.2em;
                border: 0;
                padding: 5px 0 5px 0;

            }
          }
      }
  }
}

