#container{
    margin: 0 auto;
    display: block;
    #intern-post-list{
        font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
        padding-top: 5%;
    .tips:hover{
      cursor: pointer;
      text-decoration: none;
      .inner{
          .go-txt{
            margin-bottom: 8px;
          }
        .go{
          img{
            width: 30px;
            height: 30px;
          }
        }
      }
    }
    .tips{
        display: block;
        width: 50%;
        background-color: white;
        height: 200px;
        margin: 0 auto;
        margin-top: 10%;
        border-radius: 4px;
        .inner{
          width: 100%;
          height: 100%;
          padding: 10% 10%;
          border-radius: 4px;
          p{
            text-align: center;
            font-size: 1.5em;
            margin-bottom: 0;
          }

          .go-txt{
            margin-bottom: 10px;
          }

          .go{
            text-align: center;
              img{
                height: 25px;
                width: 25px;
              }
            }
        }
      }
        .col-md-8{
      width: 100%;
      float: left;
      padding-right: 0;
      .loading{
        width: 100%;
        margin: 0 auto;
        background-color: #ffffff;
        text-align: center;
      }
      a{
        text-decoration: none;
      }
      ul li{
        list-style-type:none;
        
        margin-bottom: 15px;
        height: 120px;
        width: 100%;
        .favor-list-item{
            width: 80%;
            height: 100%;
            padding:10px 10px 10px 15px;
            background-color: #ffffff;
        //border: 1px solid #bfbfbf;
        box-shadow: 2px 2px 7px 2px #dfdfdf;
        border-radius: 4px;
        float: left;
            .middle-block{
              width: 100%;
              height: 100%;
              .item-pic{
                float: left;
                width: 90px;
                display: table;
                height: 100%;
                img{
                    width: 90px;
                    height: 90px;
                    }
                }
                .info{
                  width: 100%;
                  height: 100%;
                .tags{
                    border-radius: 10px;
                    padding: 0 8px 0 8px;
                    background-color: rgba(143,78,150,0.1);
                    color: #707070;
                    font-size: 12px;
                    margin-right: 5px;
                    float: left;
                    margin-bottom: 5px;
                    text-align: center;
                    font-weight: 100;
                  }
                  .line{
                    width: 1px;
                    height: 50px;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    float: left;
                    border-left: 1px solid #aaaaaa;
                  }
                  p{
                      margin-bottom: 0;
                  }
                  .item-info.info-1{
                      width: 180px;
                      text-align: center;
                      padding: 0 15px 0 15px;
                      p{
                          color: black;
                          font-size: 1.1em;
                      }
                      .position-tags{
                        margin-top: 10px;
                        width: 100%;
                        padding-left: 18px;
                        height: 22px;
                        text-align: center;
                      }
                      .submit-time{
                        width: 100%;
                        height: 17px;
                        clear: left;
                        p{
                          font-size: 12px;
                          color: #707070;
                        }
                      }
                    }
                    .item-info.info-2{
                        width: 140px;
                        padding: 0 15px 0 15px;
                        text-align: center;

                        .company{
                            font-size: 1.1em;
                            color: black;
                            text-align: center;
                        }
                        .company-discrpt{
                            color: #707070;
                            font-size: 12px;
                            text-align: center;
                        }
                        .auth{
                          font-size: 12px;
                          color: #8f4e96;
                        }
                    }
                    .item-info.info-3{
                      width: 105px;
                      padding-left: 15px;
                    }
                    .item-info.info-4{
                        padding:0 15px 0 20px;
                        width: 173px;
                        .tags{
                          width: 64px;
                        }
                      }
                      .item-info{
                          float: left;
                          height: 100%;
                          display: table;
                      }
                      .vertical-center{
                          display: table-cell;
                          vertical-align: middle;
                      }
                      .label-1{
                         img{
                            width: 13px;
                            height: 13px;
                            float: left;
                            margin-right: 5px;
                            margin-top: 2px;
                        }
                        p{
                            color: #707070;
                            font-size: 12px;
                            margin-bottom: 5px;
                        }
                        .last-p{
                          margin-bottom: 0;
                        }
                      }
                    }
                }
            }
        }
      ul.pagination{
        li{
          border: none;
          a{
            cursor: pointer;
            span{
              color: #707070;
            }
          }
          }
        }
      .pagination>.active>a{
        background-color: #8f4e96;
        border-color: #98769E;
      }
      .right-side{
                float: left;
                width: 10%;
                b{
                    width: 100px;
                    height: 27px;
                    display: inline-block;
                    font-size: 12px;
                    vertical-align: text-bottom;
                    border-radius: 0;
                    color: white;
                    //text-align: center;
                   
                    padding: 5px 0 0 5px;
                    font-weight: 100;
                }
                .tips.status{
                    background: url("/static/image/icon/greytag.png");
                }
                .tips.done{
                    background:url("/static/image/icon/xinzengbiaoqian.png");
                }
              }
    }
    }

}