#container{
  margin: 0 auto;
  display: block;
  #login{
    margin: 0 auto;
    margin-top: 50px;
    font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
    padding: 20px 30px 20px 30px;
    width: 480px;
    background-color: #EFEFEF;
    filter:alpha(opacity=80);
    opicaty:50;
    .ui.segment.form{
      border-radius: 6px;
      margin-top: 0px;
      padding: 0em;
      background-color: #FFFFFF;
      width: 420px;
      #login_form{

        padding: 25px 20px 15px 20px;
            .form-input{
                border: 1px solid #e1e0e2;
                border-radius: 6px;
                width: 380px;
                height: 30px;
            }
            #captcha_form{
              width: 40%;
              float: left;
              input{
                height: 30px;
                width: 260px;
               }
            }
            #captcha_img{
                margin-left: 13px;
                height: 30px;
              }
            .fresh{
              cursor: pointer;
              color: #cccccc;
              text-decoration: none;
              .icon-repeat.icon-large{
                margin-left: 7px;
              }
            }
            a.fresh:hover{
              color: #98769E;
            }
            #login_button{
              width: 380px;
              height: 30px;
              background-color: #8F4E96;
              color: white;
              font-size: 1.0em;
              border: 0;
              border-radius: 6px;

            }
            #options{
              margin-top: 10px;
              font-size: 0.8em;
              .findpwd{
                color: #000000;
                text-decoration: none;
              }
              .regbtn{
                color: #792222;
                text-decoration: none;
              }
              .findpwd:hover{
                color: #999999;
              }
              .regbtn:hover{
                color: #B16464;
              }
            }


          }
      }

  }
}
