#container{
  #position_manage{
    .position_list{
      border: solid 2px #eeeeee;
      padding: 20px;
      margin: 1px 1px 15px 1px;
      .position_name{
        color: #98769E;
        font-size: 1.5em;
      }
      .edit{
        float: right;
        margin-top: -30px;
        color: #98769e;
        cursor: pointer;
      }
      .tags{
        span{
          border: solid 1px #98769e;
          padding: 2px;
          border-radius: 4px;
        }
      }
      .number{
        span{
          margin-top: 10px;
        }
      }
      .time{
        float: right;
        color: #a6aaa9;
      }
    }
  }
}
