#container{
  #position-detail{
    font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
    margin-top: 30px;
    .loading{
        width: 100%;
        height: 300px;
        background-color: white;
        margin: 0 auto;
        background-color: #ffffff;
        text-align: center;
    }
    .col-md-9{
        width: 80%;
        float: left;
        .position-info{
            width: 100%;
            height: 105px;
            padding: 5px 5px 5px 5px;
            background-color: white;
            border-radius: 4px;
            margin-top: 20px;
            box-shadow: 2px 2px 7px 2px #dfdfdf;
            p{
                margin: 0;
            }
            .vertical-center{
                display: table-cell;
                vertical-align: middle;
                padding: 0 10px 0 10px;
            }
            .line{
                width: 1px;
                height: 50px;
                margin-top: 15px;
                margin-bottom: 15px;
                float: left;
                border-left: 1px solid #aaaaaa;
            }
            .tags{
                border-radius: 10px;
                padding: 0 8px 0 8px;
                background-color: rgba(143,78,150,0.1);
                color: #707070;
                font-size: 12px;
                margin-right: 10px;
                float: left;
                margin-bottom: 10px;
                text-align: center;
            }

            .top-block{
                width: 100%;
                height: 95px;
                padding: 5px 0 5px 0;
                float: left;
            }
            .position-name{
                width: 150px;
                float: left;
                display: table;
                height: 100%;
                text-align: center;
                font-size: 16px;
                .name{
                    font-size: 16px;
                }
                .brief_introduction{
                    font-size: 14px;
                    color: #707070;
                }
                .auth{
                    font-size: 12px;
                    color: red;
                    margin-top: 2px;
                }
            }
            .item-label{
                width: 120px;
                float: left;
                display: table;
                height: 100%;
                padding: 0 10px 0 10px;
                .vertical-center{
                    padding-top: 5px;
                }
                .tags{
                    margin-right: 0;
                    margin-bottom: 5px;
                }
            }
            .item-label.label-1{
                width: 183px;
                .vertical-center{
                    padding-right: 0;
                }
                .tags{
                    width: 64px;
                    margin-right: 10px;
                }
            }
            .item-label.label-2{
                width: 130px;
                img{
                    width: 13px;
                    height: 13px;
                    float: left;
                    margin-right: 5px;
                    margin-top: 2px;
                }
                p{
                    color: #707070;

                    font-size: 12px;
                    margin-bottom: 5px;
                }
            }
            .item-label.label-3{
                width: 180px;
                p{
                    font-size: 12px;
                    color: #707070;
                    padding-left: 8px;
                    margin-bottom: 5px;
                }
                .position_tags{
                    width: 100%;
                    .tags{
                        margin-right: 5px;
                        margin-bottom: 5px;
                    }
                }
            }
            .addr-img{
                float:left;
                height: 100%;
                display: table;
                width: 30px;
                .vertical-center{
                    padding-right: 0;
                }
                img{
                    height: 20px;
                }
            }
            .addr{
                height: 100%;
                display: table;
                float: left;
                font-size: 12px;
                width:150px;
                .vertical-center{
                    padding-left: 10px; 
                }
                p{
                    margin-bottom: 0;
                }
            }
            
            .position-state{
                float: right;
                display: table;
                height: 100%;
                p{
                    font-size: 12px;
                    color: white;
                    background-color: #8f4e96;
                    border-radius: 4px;
                    margin-bottom: 10px;
                    text-align: center;
                    padding: 0 5px 0 5px;
                }
            }
            .bottom-block{
                width: 100%;
                float: left;
                text-align: right;
                font-size: 12px;
                margin-top: -15px;
                color: #707070;
            }
            .company-logo{
                height: 100%;
                width: 85px;
                float: left;
                img{
                    width: 85px;
                    height: 85px;
                    border-radius: 6px;
                    border: solid 1px #bfbfbf;
                }
            }
            .skip-btn{
                float: right;
                width: 130px;
                height: 100%;
                display: table;
                font-size: 14px;
                .vertical-center{
                  a{
                      text-decoration: none;
                      color: #707070;
                    div{
                      cursor: pointer;
                    }
                    div:hover{
                      color: #98769E;
                    }
                  }
                }
            }
        }
    }
    .position-dscrpt{
        width: 80%;
        margin-top: 20px;
        float: left;
        padding: 0 15px 0 15px;
        .dscrpt-title{
            width: 100%;
            height: 35px;
            span{
                font-size: 16px;
                color: #707070;
                border-bottom: 3px solid #8f4e96;
                padding: 5px 15px 5px 15px;
            }
            .img-button{
                text-align: right;
                span{
                    cursor: pointer;
                    margin-left: 10px;
                    font-size: 13px;
                    color: #707070;
                    border: 0;
                    padding: 0;
                    img{
                        height: 17px;
                        margin-right: 5px;
                       
                    }
                    .img-1{
                        margin-top: -2px;
                    }
                }
            }

        }

        
        .txt{
            width: 100%;
            float: left;
            margin-top: 10px;
            .description{
                min-height: 180px;
                width: 100%;
                margin-bottom: 20px;
                background-color: white;
                box-shadow: 2px 2px 7px 2px #e1e0e2;
                border-radius: 4px;
                padding: 10px 10px;
                p{
                    font-size: 16px;
                    color: #707070;
                }
                .value{
                    margin-top: 15px;
                    min-height: 50px;
                    p{
                        font-size: 14px;
                    }
                }
            }
        }

        .map{
            width: 30%;
            margin-left: 10%;
            float: right;
            img{
                width: 100%;
                height: 300px;
                border: 1px solid #707070;
            }
        }
    }

    .submit_favor{
        float: left;
        margin-top: 10px;
        width: 80%;
        padding-left: 15px;
        span{
            background-color: #8f4e96;
            border-radius: 4px;
            color: white;
            font-size: 12px;
            padding: 5px 50px;
            height: 30px;
            margin-right: 20px;
            cursor: pointer;
        }
    }
    .col-md-4{
        float: right;
        width: 18%;
        padding: 0 0 0 0;
        .company-dscrpt{
            width: 100%;
            padding: 5px 5px 0 5px;
            background-color: white;
            border-radius: 4px;
            margin-bottom: 20px;
            p{
                padding-bottom: 5px;
                color: #707070;
                width: 100%;
            }
            .index{
                font-size: 14px;
            }
            .txt{
                font-size: 12px;
                padding-bottom: 5px;
                color: #707070;
                width: 100%;
                word-wrap: break-word;
            }
            .txt.title{
                font-size: 14px;
                word-wrap: break-word;
            }
        }
        .qrcode{
            width:100%;
            height: 100%;
            margin-top: 20px;
            margin-bottom: 10px;
        }
    }
  }
}
