#container{
  #pisition-list{
    .panel.panel-info{
      border-color: #772B84;
      margin-bottom: 10px;
      .panel-heading{
        color: white;
        background-color: #98679E;
        border-color: #B73BB7;
      }
      .panel-body{
        table{
          td{
            width: 10%;
          }
        }
      }
    }
  }
}