#container{
  #pisition-list{
    font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
    margin-top: 30px;
    .col-sm-4{
        width: 210px;
        float: left;
        padding: 0 0 0 0;
        .panel.panel-info{
            border-color: #772B84;
            margin-bottom: 10px;
            .panel-heading{
                color: white;
                background-color: #98679E;
                border-color: #B73BB7;
            }
            .panel-body{
                table{
                    td{
                        width: 10%;
                    }
                }
            }
        }
    }
    .col-md-8{
      width: 750px;
      float: left;
      padding-right: 0;
      .loading{
        width: 100%;
        margin: 0 auto;
        background-color: #ffffff;
        text-align: center;
      }
      a{
        text-decoration: none;
      }
      ul li{
        list-style-type:none;
        background-color: #ffffff;
        border: 1px solid #bfbfbf;
        border-radius: 4px;
        margin-bottom: 15px;
        height: 120px;
        .favor-list-item{
            width: 100%;
            height: 100%;
            padding:10px 10px 10px 15px;
            .middle-block{
                width: 100%;
                height: 100%;
                .item-pic{
                  float: left;
                  width: 90px;
                  display: table;
                  height: 100%;
                    img{
                        width: 90px;
                        height: 90px;
                        }
                }
                .info{
                    width: 100%;
                    height: 100%;
                  .tags{
                    border-radius: 10px;
                    padding: 0 8px 0 8px;
                    background-color: rgba(143,78,150,0.1);
                    color: #707070;
                    font-size: 5px;
                    margin-right: 5px;
                    float: left;
                    margin-bottom: 5px;
                    text-align: center;
                    font-weight: 100;
                  }
                        .line{
                            width: 1px;
                            height: 50px;
                            margin-top: 20px;
                            margin-bottom: 20px;
                            float: left;
                            border-left: 1px solid #aaaaaa;
                        }
                        p{
                            margin-bottom: 0;
                        }
                        .item-info.info-1{
                            width: 180px;
                            text-align: center;
                            padding: 0 15px 0 15px;
                            p{
                                color: black;
                                font-size: 1.1em;
                            }
.position-tags{
margin-top: 10px;
width: 100%;
padding-left: 18px;
height: 22px;
text-align: center;
}
.submit-time{
width: 100%;
height: 17px;
p{
font-size: 5px;
color: #707070;

}
}

                        }
                        .item-info.info-2{
                            width: 140px;
                            padding: 0 15px 0 15px;
                            text-align: center;

                            .company{
                                font-size: 1.1em;
                                color: black;
                                text-align: center;
                            }
                            .company-discrpt{
                                color: #707070;
                                font-size: 12px;
                                text-align: center;
                            }
.auth{
font-size: 12px;
color: #8f4e96;
}
                        }
                        .item-info.info-3{
                            width: 105px;
padding-left: 15px;
                        }
                        .item-info.info-4{
                            padding:0 15px 0 20px;
width: 173px;
.tags{
width: 64px;
}
                        }
                        .item-info{
                            float: left;
                            height: 100%;
                            display: table;
                        }
                        .vertical-center{
                            display: table-cell;
                            vertical-align: middle;
                        }
                       .label-1{
                            img{
                                width: 13px;
                                height: 13px;
                                float: left;
                                margin-right: 5px;
                                margin-top: 2px;
                            }
                            p{
                                color: #707070;
                                font-size: 10px;
                                margin-bottom: 5px;
                            }
                        }
                    }
                }
            }
        }
      ul.pagination{
        float: right;

        li{
          border: none;
          a{
            cursor: pointer;
            span{
              color: #707070;
            }
          }
          }
        }
      .pagination>.active>a{
        background-color: #8f4e96;
        border-color: #98769E;
      }
    }
  }
}