#container{
  #position-detail{
    .position-info{
      border: solid #98769E;
      border-width: 1px 1px 1px 10px;
      padding: 10px;
      margin: 10px;
      .position{
        font-family: "微软雅黑";
        color: #98769E;
        font-size: 1.5em;
      }
      .submit-num{
        float: right;
        margin-top: -30px;
        color: #98769E;
      }
      .item-label{
        float: left;
        .label{
            color: #98769E;
            border: solid 1px;
            border-radius: 4px;
        }
      }
      .submit-time{
        float: right;
        color: #8E8E8E;
      }
    }
    .company-info{
      border: solid #98769E;
      border-width: 1px 1px 1px 10px;
      padding: 10px;
      margin: 10px;
      .company-logo{
        float: left;
        img{
          height: 120px;
          width: 120px;
        }
      }
      .item-info{
        .name{
          padding-left: 140px;
          font-size: 1.5em;
          font-family: "微软雅黑";
        }
        .brief_introduction{
          padding-left: 140px;
          color: #8E8E8E;
          margin-top: -10px;
          font-family: "微软雅黑";
        }
        .company-detail{
          margin-left: 20px;
          padding: 5px;
          font-size: 1.5em;
          color: white;
          background-color: #98769E;
          cursor: pointer;
        }
      }
      .welfare_tags{
          float: right;
          color: #8E8E8E;
        }
    }
    .submit_favor{
      float: right;
      .item{
        font-size: 1.5em;
        background-color: #98769E;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        padding: 5px 40px;
        margin-right: 8px;
      }
    }
    .description{
      p{
        font-weight: bolder;
        font-size: 1.5em;
      }
      .line{
            border: solid 1px #EEEEFB;
      }
    }
  }
}