#container{
    #register{
        font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
        margin: 0 auto;
        padding: 20px 30px 20px 30px;
        width: 480px;
        filter:alpha(opacity=80);
        opicaty:50;

        .register-form{
            padding: 0em;
            background-color: #FFFFFF;
            border-radius: 6px;
            width: 420px;
            border: 1px solid #bfbfbf;
            .tabs{
                border:0;
                padding:5px 10px 0 10px;
                width: 100%;
                li{
                    list-style: none;
                    float: left;
                    width: 50%;
                    height: 25px;
                    text-align: center;
                    line-height: 25px;
                    border-radius: 0;
                    background-color: #EFEFEF;
                    filter:alpha(opacity=80);
                    opicaty:50;

                    a{
                        text-decoration: none;
                        text-align: center;
                        border-radius: 0;
                        width:100%;
                        height:100%;
                        font-size: 1em;
                        color: #000000;
                    }

                }
                li.active{
                    background-color: #FFFFFF;

                }


            }

            #reg_form{
                padding: 25px 20px 15px 20px;
                .form-group span.err-msg{
                    color:#a94442;
                    margin-left: 30px;
                }
.form-group{
width: 380px;
}
                .form-control{
                    border: 1px solid #e1e0e2;
                    border-radius: 6px;
                    width: 380px;
                    height: 30px;
                    outline: none;
                }
                #captcha_form{
                    width: 40%;
                    float: left;
                    input{
                        border-radius: 6px;
                        width: 260px;
                        height: 30px;
                    }
                }
                #captcha_img{
                    margin-left: 13px;
                    height: 30px;
                }
                .fresh{
                  cursor: pointer;
                  color: #cccccc;
                  text-decoration: none;
                  .icon-repeat.icon-large{
                    margin-left: 7px;
                  }
                }
                a.fresh:hover{
                  color: #98769E;
                }
                #regist_button{
                    width: 380px;
                    height: 30px;
                    border: 0;
                    border-radius: 6px;
                    background-color: #8F4E96;
                    color: white;
                    font-size: 1.0em;
                    outline: none;
                }

                #options{
                    float: left;
                    font-size: 0.8em;
                    margin-top: 10px;
                    .regbtn{
                        color: rgba(143,78,150,0.7);
                    }
                    .regbtn:hover{
                        color: rgb(143,78,150);
                    }
                }
            }
      }


    }
}