  #container{
    margin:0 auto;
    display: block;
    #userresume{
        font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
        padding-top: 5%;
        .title{
            span{
              color: #707070;
              font-size: 1.2em;
            }
          div.line{
            width: 96px;
            background-color: #8f4e96;
            margin-top: 4px;
            height: 3px;
          }
        }
      .resume-title{
        margin-top: 35px;
      }
        .basic_info{
          height: 134px;
          background-color: rgba(240,240,240,0.5);
          margin-top: 10px;
          padding: 30px;
          padding-left: 60px;
          margin-bottom: 35px;
          label{
            color: #707070;
            font-weight: 500;
          }
          label.gender{
            margin-left: 55px;
          }
          label.txt{
            float: left;
          }
          select{
            margin-left: 15px;
            margin-top: 10px;
            border-radius: 3px;
            width: 240px;
            border-color: rgba(240,240,240,0.3);
            padding-left: 5px;
          }
          select:focus{
            outline-color: rgb(240,240,240);
          }
          input{
            margin-left: 15px;
            margin-right: 0;
            border-radius: 3px;
            width: 240px;
            height: 24px;
            border-color: rgba(240,240,240,0.3);
            padding-left: 5px;
          }
          input{
            outline-color: rgb(240,240,240);
          }
          .form-group{
            margin-top: 10px;
            margin-bottom: 0;
          }
          input.form-control{
            float: left;
            margin-top: 0;
          }
        }
      .bref-info{
        p{
          padding: 20px;
          padding-top: 10px;
          color: #707070;
          padding-bottom: 0px;
        }
        .text-value{
          background-color: rgba(240, 240, 240, 0.5);
          padding-top: 25px;
          padding-bottom: 25px;
          textarea{
            min-height: 110px;
            width: 95%;
            max-width: 95%;
            margin: 0 auto;
            display: block;
            padding: 10px;
            border-radius: 3px;
            border-color: rgba(240, 240, 240, 0.3);
          }
          textarea:focus{
            outline-color:rgb(240, 240, 240);
          }
        }
      }
      .resume{
        height: 100px;
        width: 50%;
        background-color: white;
        margin-top: 10px;
        border: 1px solid #e1e0e2;
        border-radius: 4px;
        padding: 15px 0 10px 0;
        position: relative;
        img{
          height: 60px;
          margin-left: 25px;
        }
        .upload-resume{
          float: right;
          margin-top: 50px;
          margin-right: 30px;
          background-color: #8f4e96;
          color: white;
          padding: 2px 10px 2px 10px;
          cursor: pointer;
          border-radius: 3px;
        }
        .upload-resume:hover{
          background-color: #98769E;
        }
        .no-resume{
          position: relative;
          top: -40px;
          left: 90px;
        }
        .resume-name{
          position: relative;
          top: 20%;
          bottom: 20%;
          left: 90px;
          padding: 2% 0;
        }
      }
      .interested{
        height: 100px;
        width: 70%;
        margin-top: 20px;
        padding-left: 10px;
        min-height: 300px;
      }
      .progress{
        width: 50%;
        margin-top: 10px;
        .progress-bar{
          background-color: gray;
        }
      }
      .save-resume-btn{
        float: right;
        background-color: #8f4e96;
        color: white;
        padding: 7px 15px;
        border-color: rgba(0,0,0,0);
        border-radius: 3px;
      }
      .save-resume-btn:hover{
        background-color: #98769E;
      }
    }
    #userresume_edit{
    .view{
      font-family: "微软雅黑";
      min-height: 300px;
      width: 100%;
      margin-top: 20px;
      padding-left: 30px;
      background-color: white;
      border: 1px solid #e1e0e2;
      border-radius: 4px;
      .first-line{
        padding-top: 30px;
        .name{
          font-size: 1.5em;
        }
        .gender{
          margin-left: 10px;
        }
      }
      .second-line{
        padding-top: 10px;
      }
      .description{
        margin-right: 30px;
      }
    }
    .resume{
      height: 100px;
      width: 50%;
      background-color: white;
      border: 1px solid #e1e0e2;
      border-radius: 4px;
      margin-top: 10px;
      img{
        height: 60px;
        margin-top: 20px;
        margin-left: 25px;
      }
      .no-resume{
        position: relative;
        top: -40px;
        left: 90px;
      }
      .resume-name{
        position: relative;
        top: -40px;
        left: 90px;
      }
    }
    .edit-resume-btn{
      float: right;
      background-color: #8f4e96;
      color: white;
      padding: 7px 15px;
      border-color: rgba(0,0,0,0);
      border-radius: 4px;
    }
    .edit-resume-btn:hover{
      background-color: #98769E;
    }
  }
  .no-resume-info:hover{
    text-decoration: none;
    .go{
      top: -40px;
      img{
        width: 30px;
        height: 30px;
        cursor: pointer;
      }
    }
  }
  .no-resume-info{
    width: 50%;
    background-color: white;
    height: 200px;
    margin: 0 auto;
    margin-top: 10%;
    border-radius: 4px;
    padding: 60px 48px;
    p{
      font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
      text-align: center;
      font-size: 1.4em;
    }
    .go-txt{
      margin-left: -30px;
    }
    .go{
      text-align: center;
      text-align: center;
      position: relative;
      left: 40px;
      top: -38px;
      img{
        width: 25px;
        height: 25px;
      }
    }
  }
}
