#container{
    margin:0 auto;
    display: block;
    #userresume{
        font-family: "微软雅黑";
        padding-top: 5%;
        .title{
            span{
              color: #707070;
              font-size: 1.2em;
              font-family: "华文细黑";
            }
          div.line{
            width: 96px;
            background-color: #98769E;
            margin-top: 4px;
            height: 7px;
          }
        }
        .basic_info{
          height: 134px;
          background-color: rgba(240,240,240,0.5);
          margin-top: 10px;
          padding: 30px;
          padding-left: 60px;
          margin-bottom: 20px;
          label{
            color: #707070;
            font-weight: 500;
          }
          input{
            margin-left: 15px;
            margin-top: 10px;
            border-radius: 3px;
            width: 240px;
            border-color: rgba(240,240,240,0.3);
          }
        }
      .bref-info{
        p{
          padding: 20px;
          color: #707070;
          padding-bottom: 0px;
        }
        .text-value{
          background-color: rgba(240, 240, 240, 0.5);
          padding-top: 25px;
          padding-bottom: 25px;
          textarea{
            min-height: 110px;
            width: 95%;
            margin: 0 auto;
            display: block;
            padding: 10px;
            border-radius: 3px;
            border-color: rgba(240, 240, 240, 0.3);
          }
        }
      }
        .row{
            margin-top: 50px;
            .col-sm-9{

                .col-sm-8{
                    .form-control{
                        border-top-right-radius: 0.5em;
                        border-bottom-right-radius: 0.5em;
                        height: 40px;
                    }
                    .resume-radio{
                        margin-top: 10px;
                        margin-right: 3%;
                    }
                }

                .resume-textarea{
                    width: 100%;
                    height: 200px;
                }
                .a-upload{
                    margin-left: 15px;
                    padding: 0 4px 0 4px;
                    position: relative;
                    height: 30px;
                    line-height: 30px;
                    cursor: pointer;
                    border: 1px solid #ddd;
                    border-radius: 4px;
                    display: inline-block;
                    *display: inline;
                    *zoom: 1;
                    color: black;
                    border-color: rgb(216, 216, 216);
                }
                .a-upload input{
                    position: absolute;
                    font-size: 100px;
                    right: 0;
                    top: 0;
                    opacity: 0;
                    filter: alpha(opacity=0);
                    cursor: pointer;
                }
                .a-upload:hover{
                    color: white;
                    background: rgb(140, 93, 144);
                    border-color: #ccc;
                    text-decoration: none;
                }

                .btn.btn-primary{
                    width: 100%;
                    height: 40px;
                    border-radius: 0.3em;
                    background-color: rgb(140, 93, 144);
                    color: white;
                    font-size: 1.2em;

                }
            }

        }
    }

}